[2018-07-15 21:36] markGilchrist commented on #386
https://github.com/kittinunf/Fuel/pull/387

[2018-07-16 07:04] kittinunf commented on #383
I think you should try to take a look at how Fuel does post request. https://github.com/kittinunf/Fuel#post

[2018-07-16 07:04] #383 closed

[2018-07-16 07:07] kittinunf commented on #360
Let's close this!

[2018-07-16 07:07] #360 closed

[2018-07-16 07:08] kittinunf commented on #353
This should be closed by the latest version. Feel free to reopen it, if it doesn't.

[2018-07-16 07:08] #353 closed

[2018-07-16 22:12] avaitla opened #389 "Test cases pass incorrectly with Fuel Library (including assert(False))"
I have created a very simple test case here where assertions raised in a fuel callback don't fail the running test with proper logs or exit code (full repo here: https://github.com/avaitla/coroutinesissue/blob/broken_tests/app/src/test/java/com/avaitla16/coroutinesissue/ExampleUnitTest.kt)

    package com.avaitla16.coroutinesissue

    import com.github.kittinunf.fuel.Fuel
    import com.github.k

[2018-07-17 03:02] avaitla commented on #389
To work around this, I am using setting a variable and waiting on a CountDownLatch to handle the callback results.

[2018-07-17 19:20] C06A commented on #169
I tried this, but the resulting multipart body still collect separate part for each file. The name of the part is "files1", "files2", etc.
What I need (and seams the originator of this topic) the multipart with single part named "files" and containing the list of files.

How can we do THAT?

[2018-07-17 19:24] C06A opened #390 "Upload list of files as single element in multipart body"
See the issue https://github.com/kittinunf/Fuel/issues/169, which seams try to get the same, but was closed before somebody give the solution.

I tried solution in that issue, but the resulting multipart body still contains separate part for each file. The name of the parts are "files1", "files2", etc.
What I need (and seams the originator of that topic) the multipart with single part named "files

[2018-07-17 21:04] C06A commented on #275
In order to write the content of the file Fuel need to read it from the body of the response. As a result at the point of responseString(...) the body of the response is actually empty.

I don't know if there is a way to not write content to the file, but then the body will content some wrapping code in addition to file content.

[2018-07-18 12:42] BrunoVernay commented on #346
For the record, I think the header should be "Accept: ..." instead of "Content-Type" : https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation

[2018-07-18 16:55] monarezio opened #391 "General http-method for a Request"
I think it would be a nice feature to add the possibility to create a `Request` with an argument defining the http-method of the `Request`.

For example:

    "http://custom.com/url".http(Method.Post, listOf(/*Custom parameters*/))

I quickly checked the source code and seen that the `Request` class has a constructor, with the argument `method` already in it. Therefore I see no reason to **not** a

[2018-07-18 17:03] monarezio opened #392 "Parameters should be Map<String, Any?>"
In my opinion, the `parameter` argument in the `httpGet()`,`httpPost()` ect. should be of type `Map<String, Any?>`.

Kotlin allows you, to convert `List<Pair>>` to `Map` like this:

    val myMap = parameters.toMap()

Why not use `Map` instead of `List<Pair>`?

[2018-07-18 19:19] markGilchrist commented on #391
like this in the sample app, MainActivity.kt lines 130, 136?

`Fuel.get("http://custom.com/url", listOf("foo" to "foo", "bar" to "bar")).....`
or
`"http://custom.com/url".httpGet(listOf("foo" to "foo", "bar" to "bar"))`

[2018-07-18 19:20] markGilchrist commented on #392
what would be the advantages of this instead of the current approach?

[2018-07-18 19:21] markGilchrist commented on #389
@avaitla  I feel this is to do with the way you test has been written not the implementation of the library.

 If you invert the code as in assert(false) then the test does nothing

I am not sure that this is a Fuel issue

[2018-07-18 19:54] avaitla commented on #389
Gotcha, yeah just wanted to see if there was a better way to test inside the callback. If not using a latch to wait on call back is fine. Thanks @markGilchrist

[2018-07-18 19:54] #389 closed

[2018-07-18 20:35] monarezio commented on #391
Please correct me if I am wrong, but that only calls the request with the get method?

I thought that there would be a more generalised method, that would allow you to pass in an argument of type `Method`. The method would create the `Request` class with the correct `Method`.

Something like the private method in `Fuel.kt`. Just it would be public and maybe more name friendly (I hope you understan

[2018-07-18 20:45] monarezio commented on #392
I guess the main reason would be, that it's a collection built specially for associative array.

Another reason I can think of is, that `Map` has specially built in methods to make it easier for you to work with it.

For example if you would like to search for an element by the 'key' in a list:

    val list = listOf(
            Pair("a", "Test"),
            Pair("b", "Test 2")
    )

    list.f

[2018-07-18 20:47] markGilchrist commented on #391
FuelManager.instance.request(Method.GET,"")

[2018-07-18 20:48] monarezio commented on #391
Oh, ok then, cheers!

[2018-07-18 20:48] #391 closed

[2018-07-18 20:52] markGilchrist commented on #392
I the moment I can't see the advantage of the change. I think any searching logic implemented  by the consumer could be done in whatever format they chose but it is not the concern of Fuel as it is (IMO) not a requirement for the library but instead it sounds like one for the consumer.

I am happy to wait for the feedback from @kittinunf before closing or for you to think of some more reasons. sha

[2018-07-18 20:55] markGilchrist commented on #390
would it be possible for you to elaborate on this issue, if you can give me a clearer understanding of what you want I will make a branch and see if I can add the functionality you are after.

I am sorry to say I think I fully understand the problem

[2018-07-18 20:56] monarezio commented on #392
Sure, tomorrow if I have some time to spare, I will post here more examples of the differences between `Map` and `List`.

Thank you!

[2018-07-18 20:58] markGilchrist commented on #366
@congfandi  is this resolved? can we close this?

[2018-07-19 07:03] monarezio commented on #392
While, debugging my application, I found out another reason, why to implement this feature

Headers are currently of type `MutableMap`, while the behaviour of `MutableMap` is insufficient for the behavioural purposes of http headers.

As it is mentioned in [this issue](https://github.com/kittinunf/Fuel/issues/343)

------------

While headers can have more identical 'keys', I think http request pa

[2018-07-19 07:12] markGilchrist commented on #392
I think that the point he was raising is addressed in https://github.com/kittinunf/Fuel/pull/378

if we changed the syntax to map<String,Any> you are still able to do

[code]
using map doesn't solve the problem, I will write a test to ensure that Fuel does not send multiple parameter keys

[2018-07-19 19:11] markGilchrist commented on #392
Request.kt line 28

[2018-07-19 19:11] #392 closed

[2018-07-19 19:13] markGilchrist commented on #365
this has been dormant for some time, I am closing as I believe it is resolved

[2018-07-19 19:13] #365 closed

[2018-07-19 19:19] markGilchrist commented on #343
@Fibonacci-  I am rereading this and feel that this issue is not resolved, if you can tell me how you want the output of the headers to look I will raise a pr and make the changes

[2018-07-19 20:33] Fibonacci- commented on #343
@markGilchrist No problem - [here's a working example](https://github.com/Fibonacci-/CWCompat/blob/master/app/src/main/java/com/helwigdev/cwcompat/LoginActivity.kt#L304) of this same scenario written out with the OkHttp library (please excuse my code), and here's what I'd like it to look like in plain HTTP:

[code]

I think if headers in Request.kt was an ArrayList or similar instead of a Map, it

[2018-07-19 20:48] markGilchrist commented on #343
@Fibonacci-
if as a consumer you could do

[code]

would this be a suitable?

[2018-07-20 06:51] markGilchrist commented on #343
I think I have a solution that would give the following output

`Cookie: [val1=x, val2=y, val3=z]`

is that a satisfactory outcome or do you insist it has to be in the format?

[code]

[2018-07-20 12:55] Fibonacci- commented on #343
That works for me - it's what the spec defines. I think the server I'm working with will throw a fit, but that's an issue with that specific server and not with Fuel.

[2018-07-20 22:47] markGilchrist commented on #343
could you please look at https://github.com/kittinunf/Fuel/pull/393

please check that the unit test produces the results you are looking for and please comment on any concerns you may have

thank you for taking the time raising this issue

[2018-07-20 22:51] markGilchrist commented on #325
did you resolve this or do you still need some help?

[2018-07-20 22:52] markGilchrist commented on #324
This is the Fuel repo, did you mean to post this issue here?

[2018-07-21 00:55] iNoles commented on #324
Yeah, I was trying to do Fuel to work with OkHTTP.

[2018-07-21 02:04] markGilchrist commented on #324
How do you see them working together?

[2018-07-21 10:00] #304 closed

[2018-07-21 21:44] SleeplessByte commented on #343
As per the spec: https://tools.ietf.org/html/rfc2616#section-4.2

[code]

This can be translated into a server *MUST* accept `Cookie: val1=x, val2=y, val3=z` (@Fibonacci-). @markGilchrist those brackets shouldn't be present, but I think you just intended to show it would be a list.

However from experience I know that this format:
[code]

is not accepted by ALL nodes out there (especially older so

[2018-07-22 09:16] markGilchrist commented on #386
#387  is now merged, let me know when you are happy to close this issue?

[2018-07-22 18:32] markGilchrist commented on #263
@storezhang
if you can elaborate on what functionality you are looking for I will make a pr and implement it

[2018-07-22 18:34] markGilchrist commented on #306
@kittinunf @babedev  is there still a need for this as a feature?

[2018-07-23 20:21] avaitla commented on #386
Thanks Mark. Please close it.

[2018-07-23 20:21] #386 closed

[2018-07-24 10:58] kittinunf commented on #379
I will take this.

[2018-07-24 11:03] kittinunf opened #395 "Redirection count should limit to 10, not redirect forever"

[2018-07-24 21:03] markGilchrist commented on #315
in the source code

[code]

[2018-07-24 21:03] #315 closed

[2018-07-24 21:06] markGilchrist commented on #246
@zjuhasz  This is now added can we close this issue?

[2018-07-24 21:08] markGilchrist commented on #240
can we close this?

[2018-07-24 21:09] #240 closed

[2018-07-25 00:33] C06A commented on #263
Cookies transported between client and server as header.
The CookieStore is not part of the communication protocol and should be implemented by client you are building on top of Fuel. It is not that difficult.

The only functionality in support Cookies I see is parsing and formatting Cookies header in Response and Request respectively.

[2018-07-25 05:10] markGilchrist commented on #263
@C06A

Thanks for your answer, does this pr -> https://github.com/kittinunf/Fuel/pull/393 go someway to starting this functionality?

Do you have a working example I can look at so I get a precise list of functionality to build this?

[2018-07-25 11:19] SleeplessByte commented on #333
You (@ryanm35) probably only need to override the `User-Agent` header, which is, unfortunately, often used to detect "clients" and is leaky as best.

[2018-07-25 13:44] SleeplessByte commented on #263
@markGilchrist @kittinunf I think the request here is not specifically cookie store, but session management (which for a client is basically cookie persistence). On android, the cookie store here: https://developer.android.com/reference/java/net/CookieStore is automagically called! This is what calls it: https://developer.android.com/reference/java/net/CookieManager.

Additionally, the HttpClient

[2018-07-25 13:51] SleeplessByte commented on #375
#388 fixes this and redirects a 302 with `GET`

[2018-07-25 13:56] SleeplessByte commented on #306
Before, the spec defined that the body **SHOULD** be ignored (and therefore a lot of clients did not allow for a `DELETE` request's body, but this was updated with RFC7231:

https://tools.ietf.org/html/rfc7231#section-4.3.5
[code]

Therefore, even though current users might not need this as a feature, it **SHOULD** be implemented.

[2018-07-26 00:20] #375 closed

[2018-07-26 19:22] markGilchrist commented on #356
Can we close this issue as the above pr is merged in ?

[2018-07-26 19:48] kenrube commented on #356
Yes of course! Thanks for this PR, @markGilchrist ! Now waiting for release :)

[2018-07-26 19:52] markGilchrist commented on #356
@kenrube  I believe that the release may be happening soon! many thanks for taking the time to raise an issue and please let us know if we can improve things in the future

[2018-07-26 19:52] #356 closed

[2018-07-26 19:55] markGilchrist commented on #263
@SleeplessByte do we need to define our own interface or should we recommend users user the ones provided by android? do we need to implement any code or is this outside our remit for this project?

[2018-07-26 20:00] markGilchrist commented on #284
can you try
[code]

[2018-07-26 20:18] markGilchrist commented on #275
@danshev you are right I have a branch in which I have written a failing test that matches what you are saying, I will look in to this further and see if I can find a solution

[2018-07-26 21:18] markGilchrist commented on #275
@danshev  I have a pr that fixes this, I am not sure if my approach has other limitation, however I am sure @kittinunf  will soon let me know

[2018-07-27 03:53] C06A commented on #263
Fuel is not implemented specifically for Android, so I would recommend to avoid platform-specific implementation.
As I mentioned before I think this is a functionality of the higher order.
Especially if we talking about session management. Client is not always browser and server may require different ways to communicate session info. All these depends on specific task.

For example REST API provid

[2018-07-27 09:28] CoolMind opened #398 "result.component1() returns null"
Hello!
I have a data class:
[code]
When a query returns an error JSON
[code]
in code
[code]
I get `result.component1() = null`, though `response` contains JSON. Other similar queries work right. `response.statusCode == 200` is right, as all queries return 200.

**UPDATE**

Probably a problem is here: `result` contains message: "java.lang.IllegalStateException: Gson().fromJson<T>(reade…: TypeToken<

[2018-07-27 10:41] CoolMind commented on #398
Also how to see a request (url, headers, etc)?

[2018-07-27 10:52] #343 closed

[2018-07-27 11:01] SleeplessByte commented on #263
Agreed with this! @markGilchrist so your own interface would probably work well; or not do it at all but have access points so people can do it themselves.

The easiest solution is probably something along the lines of:
1. extract the current http client creation into a factory method that people can intercept
2. make it easy to set the http client / read it
3. add examples in the docs how to make

[2018-07-27 11:29] markGilchrist commented on #398
if you no longer have the issue can we close this?

[2018-07-27 11:37] CoolMind commented on #398
@markGilchrist, yes, thanks.

[2018-07-27 11:37] #398 closed

[2018-07-27 13:07] kittinunf commented on #294
I think this issue can be closed :)

[2018-07-27 13:07] #294 closed

[2018-07-27 16:37] markGilchrist commented on #195
can we close this?

[2018-07-27 16:38] markGilchrist commented on #224
@foxsake  can you post the code you are using so I can recreate?

[2018-07-27 16:43] markGilchrist commented on #228
is this still an issue?

[2018-07-27 16:46] markGilchrist commented on #364
@msogrin can you share the code you are using so I can write a test?

[2018-07-27 17:06] markGilchrist commented on #352
@jahirfiquitiva  please change

`.dataParts { request, url -> listOf(DataPart(File(FILE_URL), "file")) }`

to

`.dataParts { request, url -> listOf(DataPart(File(FILE_URL), type = "file")) }`

[2018-07-27 17:06] #352 closed

[2018-07-28 01:57] joelhandwell commented on #134
From Kotlin/Native 0.6 it supports common code with ```expect``` and ```actual``` keywords. Can the scope of this issue be jvm / jvm-android / js / native-ios / native-macos / native-windows / native-windows, etc?

[2018-07-28 18:17] jeiea opened #399 "multipart/form-data boundary isn't set correctly"
[code]
This made some trouble with ktor server.
[code]
[`Request.dataParts`](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Request.kt#L182) doesn't seem set boundary header, and [`UploadTaskRequest.bodyCallBack`](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/requests/UploadTaskRequest.kt#L18) us

[2018-07-29 06:30] #366 closed

[2018-07-29 06:35] markGilchrist commented on #238
@ye-lin-aung  is this still an issue?

[2018-07-29 13:44] anatolystansler commented on #195
Yes, @yoavst solution works. Thank you!

[2018-07-29 13:44] #195 closed

[2018-07-30 12:26] vogttho opened #400 "Download Documentation"
Documentation is to short for me. In the sample you create a temp file. But how do I access this file and write bytes after download success? I am new to kotlin so it could be that I miss something.

The following works for me... but I think it should be possible to access the temp File directly. If I don't write bytes after download success the file is empty.

[code]

[2018-07-30 17:58] markGilchrist commented on #400
@vogttho firstly thank you for taking the time to raise an issue, I have started to look into this. I will update you when I have more information

[2018-07-30 21:07] markGilchrist commented on #400
@vogttho  I have looked at this and I am unable to replicate this

could you tell me what you get if you change
[code]

to

[code]

[2018-07-31 08:51] vogttho commented on #400
I get the following:
file bytes --> 0, response bytes -> 104587

[2018-07-31 14:43] kittinunf commented on #399
That's true. I will try to address this in the next dev cycle. In the meantime, your PR is also very welcome.

[2018-07-31 16:55] markGilchrist commented on #400
what does this do?

[code]

[2018-07-31 17:03] markGilchrist commented on #364
will this pr solve this? https://github.com/kittinunf/Fuel/pull/402

[2018-08-01 15:54] kittinunf commented on #364
I don't think so, I will take on it for the next release.

[2018-08-01 15:59] kittinunf opened #404 "Add 1st class support to use with protobuf"

[2018-08-01 16:00] kittinunf commented on #127
This should be fixed with the latest release.

[2018-08-01 16:00] #127 closed

[2018-08-01 16:01] kittinunf commented on #228
Let's close this as it looks quite stale to me.

[2018-08-01 16:01] #228 closed

[2018-08-01 16:02] kittinunf commented on #214
Superseded by #395. Closed

[2018-08-01 16:02] #214 closed

[2018-08-01 20:15] markGilchrist commented on #404
@kittinunf  I am very interested in this

[2018-08-02 06:34] markGilchrist commented on #379
@SleeplessByte @kittinunf can we close this now?

[2018-08-02 06:34] markGilchrist commented on #395
is this still outstanding ?

[2018-08-02 07:50] dpmaycry commented on #204
So can I use "http://www.google.com".httpget() or  fuel.get("http://www.google.com") way in Multiple instances of Fuel? And How?

[2018-08-02 08:06] dpmaycry commented on #225
So

val fuel = Fuel.of(fuelManager)
fuel.get("https://google.com").responseString() // custom fuelManager
Fuel.get("https://google.com").responseString() // default/singleton fuelManager

Can we use it now?

[2018-08-02 16:44] markGilchrist commented on #284
@Querschlag  did this resolve the issue? can we close this?

[2018-08-02 17:07] markGilchrist commented on #102
@yoavst , I have raised a small pr with this issue as a unit test. I feel that the current behaviour is correct. If you want to to be handled differently please specify how and I will address this in my current pr. if not I would suggest we close? @kittinunf

[2018-08-03 02:27] kittinunf commented on #395
It is ... currently, the RedirectInterceptor redirects forever™ 😅

[2018-08-03 06:28] markGilchrist commented on #395
ok, are you going to pick this up?

[2018-08-03 09:26] nimloth05 commented on #399
I solved it this way:

    request.headers["Content-Type"] = "multipart/form-data; boundary=${System.currentTimeMillis()}" //Code will extract boundary in this case...
    blobs { request, url ->
        data.parts.entries.map { (key, value) ->
        ...
        }
     }

The question, how should a propper API look like?

[2018-08-03 10:19] dpmaycry opened #406 "GET become POST"
I new a `fuelManager = FuelManger()`, then use it to luanch a GET request:
[code]
but turns out to be a POST request.
Mightbe a bug

[2018-08-03 16:32] kittinunf commented on #406
What does it mean that it becomes post? Fuel has a test to call endpoint that accepts GET and it works correctly? Could you please elaborate more on this?

[2018-08-03 16:35] kittinunf commented on #379
No, I will take this as well 💪

[2018-08-03 16:37] kittinunf commented on #333
Sound like we can close this. Please reopen if you don't think it can be done.

Thanks @ParkerK and @SleeplessByte for support ❤️

[2018-08-03 16:37] #333 closed

[2018-08-03 17:16] markGilchrist commented on #188
@ParkerK I haven't been able to recreate this in the current version, can you confirm this is still an issue if not we would like to close this. many thanks

[2018-08-03 17:22] markGilchrist commented on #231
@pltanton are you happy for this to be closed?

[2018-08-03 17:26] markGilchrist commented on #275
@toemat This should be resolved as of the latest release, can you comment to indicate if you are happy to close?

[2018-08-04 07:07] Querschlag commented on #284
I'm currently unable to test this. I'd say you can close this for now and I will reopen or create a new issue once I encounter this problem again.

[2018-08-05 09:39] dpmaycry commented on #406
Fuel works fine in singleton mode
When I decide to use mutiple fuel in my android app,I create FuelManger(),but the same api that worked fine with FuelManager.instance keep report http error 405.
So I used Charles to see whats going on, and the request that set with Method.GET  under FuelManger() became POST in real request witch confused me a lot.
Thank u for reply

[2018-08-06 08:37] pltanton commented on #231
ok.

[2018-08-06 21:43] toemat commented on #275
This is great, thank you for the fix, @markGilchrist 🙏

[2018-08-06 21:43] #275 closed

[2018-08-08 03:14] foxsake commented on #224
@markGilchrist i linked the code that i was trying to run on the post. Here it is again in case [https://github.com/KucherenkoIhor/Android-Architecture-Components](https://github.com/KucherenkoIhor/Android-Architecture-Components). I had the same implementation as that repo on my project. I also tried to recompile that repo and got the same issue(the stack trace i posted is from that repo). I can'

[2018-08-09 10:42] fnunezkanut opened #408 "change in behaviour of POST between 1.14.0 and 1.15.0"
It seems a change was introduced sometime in 1.15.0

This used to work
[code]

and it sent this request

[code]

Notice the content type is "application/json" as is expected due to it being requested in code example on line 10

however in newer versions the request is this, notice the content type header being appended for some reason, instead of overwritting

[code]

content type now for whatever

[2018-08-09 11:00] fnunezkanut commented on #408
Ok I looked over changes and this seems to be the the change which causing this issue in Request.kt line 109

[code]

[2018-08-09 11:05] fnunezkanut commented on #408
Seems change occurred after 1.14.0 not 1.13.0 as i originally theorized, editing title

[2018-08-09 11:59] SleeplessByte commented on #408
@kittinunf @markGilchrist

`Content-Type` is not a header that can be appended to. Changing this into something like
[code]
allows you to keep the old behaviour whilst supporting the new behaviour.

[2018-08-09 12:02] SleeplessByte opened #409 "IDE setup / CONTIBUTING.md / CHANGELOG.md"
Hi there!

I'm trying to set up Fuel locally so I can actually contribute to this project, but not matter what I try, both in Android Studio and IntelliJ IDEA (Ultimate) I always end up with a lot of references not being resolved. Have you got this working?

I propose adding CONTRIBUTING.md which will automagically be picked up by GitHub and shows when making a PR. I am happy to supply a draft for

[2018-08-09 19:08] SleeplessByte commented on #408
Yep,

I was there when you added it :p.

What I mean is: you can keep the overwrite behaviour in the public API
whilst also supporting multiple headers by the same key.

To me both seem acceptable. One is assuming header is always additive and
one is assuming header is always overwriting.

Cheers!

On Thu, 9 Aug 2018, 19:23 Mark Gilchrist, <notifications@github.com> wrote:

[2018-08-09 19:31] fnunezkanut commented on #408
Hah sure enough that (passing a map of pairs to header()) does the trick! Sorry for false alarm :)

[2018-08-09 19:31] #408 closed

[2018-08-09 19:37] fnunezkanut commented on #409
are you getting errors like this https://imgur.com/QplZFBr ? I presume installing Android SDK would do the trick, **./gradlew clean build** fails for me on this

[code]

[2018-08-10 07:34] markGilchrist commented on #409
@SleeplessByte  if you need any help getting it running locally, please hit me up on slack

[2018-08-10 19:29] SleeplessByte commented on #409
@markGilchrist that'd be great. Can you invite me on derk-jan@karrenbeld.info ? (email is public on other parts of the web already so whatevs 📦 )

[2018-08-10 19:29] SleeplessByte commented on #409
@fnunezkanut gradle commands all work for me. It's simply intellisense failing.

[2018-08-12 21:58] MichalMichalak opened #410 "Empty response no matter the URL"
I am not sure what am doing wrong but below test gives me empty output in console. Note that I can put any URL as long as it's valid and result is always the same. It behaves the same for non existing host. There is no error and handler is not even called. Why is that happening?

[code]

Gradle dependencies below.

[code]

[2018-08-13 06:34] markGilchrist commented on #410
I have just run this and my output is

[code]

are you sure you are looking at the right window? can you change
[code]

to

[code]

[2018-08-14 12:31] mmuth opened #411 "Fuel.download not blocking"
Hi all,

I try to implement a download using Fuel.download using code, that is pretty close to the examples provided here on the readme.md

So basically i have a main method with a download call:
[code]
When I execute the main method, the programm immediately finishes with exit code 0. Seems like the download call is not blocking. Can I make it blocking somehow or is this just a Bug?

I also tried

[2018-08-14 16:56] markGilchrist commented on #411
@mmuth I think that you program is exiting before the callback is called

have you tried adding a `Thread.sleep(12000)` ?

[2018-08-15 14:06] kittinunf commented on #409
@fnunezkanut I think in your case, you dont have SDK location setting up, you should setup in your `local.properties` file like

[code]

@SleeplessByte
I just clone the fresh project in a new location and everything works after sync. I guess you synced the gradle already right? (sorry it sounds like a stupid question). For me personally, there are a lot of things red until I synced then it worked.

[2018-08-16 17:54] clarcharr commented on #263
IMHO-- while some form of session support would be nice, I think that cookie support will be desired regardless of whether sessions exist or not. I'm working on migrating from Jsoup to Fuel for network requests and would love a simple way of parsing the cookie headers through fuel, as they have a few nontrivial aspects such as:

1. The `Set-Cookie` syntax needs to be parsed for the `Expires` and `

[2018-08-17 21:19] rip32700 commented on #340
How exactly did you solve this? I have the same problem like you.

`     val data = JSONObject()
        data.put("email", "blabla")
        data.put("password", "bla")

        Log.d(TAG, data.toString())

        // send the HTTP request
        url
            .httpPost()
            .body(data.toString())
            .responseJson { _, _, result ->
                val (data, error ) = result

[2018-08-17 21:26] rip32700 opened #412 "JSON data sent incorrectly to the server per POST"
I am sending a JSON object per POST to my backend, but the string is sent incorrectly:

[code]

What I retrieve on the server side is
{ '{"email":"blabla","password":"bla"}': '' }

[2018-08-17 22:45] mmuth commented on #411
Hi @markGilchrist ,

thanks for your answer. I did that and I noticed it's working with Thread.sleep. But that can't be the solution.
However, I got it work later on :-). I was just not knowing how to make the call in a synchroneous way, as the documentation doesn't point this out too obviously... and my Kotlin Knowledge is still at the beginning ;-).

I'd like to share my solution here, in case a

[2018-08-17 22:58] mmuth opened #413 "Content-Type application/x-www-form-urlencoded by default"
Hi all!

I updated from 1.14.0 to 1.15.0 and had some issues with all my requests getting broken.
Before I was just doing very basic JSON PUT requests, like this
[code]

with the latest Update to 1.15, this doesn't work anymore. The Content-Type being sent is then "application/x-www-form-urlencoded; application/json" and my server rejects this.

Is this a nice default behaviour? I wouldn't expect

[2018-08-19 05:46] kittinunf commented on #411
If you check the READMe.md, it already shows how to make the synchronous call though. Here specifically.

[2018-08-19 07:57] kittinunf commented on #231
We'll close this one.

[2018-08-19 07:57] #231 closed

[2018-08-19 07:59] kittinunf commented on #262
I think this should work. I will close this for now, feel free to re-open if you disagree.

[2018-08-19 07:59] #262 closed

[2018-08-19 08:00] #284 closed

[2018-08-19 08:03] kittinunf commented on #306
Yes, I agree that we should update this to accommodate users' needs.

[2018-08-19 17:41] medyas commented on #340
[code]

and for my server, i was using nodeJs, so just used these :
[code]

[2018-08-20 20:55] mmuth commented on #411
Great and thanks a lot :) !

[2018-08-20 20:55] #411 closed

[2018-08-20 21:10] mmuth opened #414 "High memory consumption when downloading large files with Fuel 1.15.0"
Hi there!

We recently updated from Fuel 1.14.0 to 1.15.0. Now we noticed that the memory footprint of the download became dramatically worse and the client throws an OOM error. The code I wrote ist basically just a blocking download like this:

[code]
The file I am trying to download has about 1.5GB of size. With an Xmx of 500M, the old Fuel 1.14 took about 50-100MB of RAM and downloaded everythi

[2018-08-22 02:50] eprendre opened #416 "Fuel.download doesn't handle redirected url correctly"
[code]

The `redirectResponseInterceptor` added to Fuel.download call a new request `next(request, manager.request(encoding).header(newHeaders).response().second)`. Thus `destination` and `progress` won't work as they are bound to the first request.

[2018-08-22 06:59] markGilchrist commented on #414
@mmuth  how are you getting on  with fixing this? do you need a hand?

[2018-08-22 07:07] markGilchrist commented on #306
@babedev @simonharrer @kittinunf @SleeplessByte @kmcgill88  Guy I am going to pick this up and open a WIP Pr, I would really appreciate you feed back and reviews.

[2018-08-23 19:41] RingoMckraken commented on #404
Same, this library is becoming my go to for networking on android!

[2018-08-23 20:13] RingoMckraken commented on #413
Also just scratched my head for a good while today on this why our back end was sending 500's to the app.

[2018-08-24 18:55] markGilchrist commented on #412
you need to send the data as per the format

[code]

[2018-08-26 14:50] alaeschaik commented on #135
How do I return minPasswordLength?

`fun getPasswordRequirements(context: Context): Int {
        var minPasswordLength: Int = 6

        "/auth/password.json".httpGet().responseString { request, response, result ->
            //do something with response
            request.header(mapOf("Content-Type" to "application/json"))
            Log.println(Log.ASSERT, "password_Curl", request.cUrlString

[2018-08-27 01:00] SleeplessByte commented on #409
Hey there! I was on holiday and just got back. This week i'll document what I've tried :)

[2018-08-27 01:01] SleeplessByte commented on #412
That should work, but it's better to use `'application/json'`.

http://www.ietf.org/rfc/rfc4627.txt

[2018-08-27 19:50] rip32700 commented on #412
solved it thank you, guys!

[2018-08-27 19:50] #412 closed

[2018-08-28 17:56] markGilchrist commented on #412
I have added a function in a pr to tidy this up please comment and let me know if you see any avenue for improvement
https://github.com/kittinunf/Fuel/pull/418

[2018-08-29 19:15] kolayv opened #419 "Socks5 proxy auth"
How i can use socks5 proxy with login and password in fuel? Im using java.net.Proxy, but it have`nt login and password fields

[2018-08-31 11:36] SeleznevAM opened #420 "No interface method invokeOnCompletion"
When I call `awaitResponseResult` method it throws a NoSuchMethodError.

 I am using coroutines version 0.24.0

[code]
![image](https://user-images.githubusercontent.com/18379688/44910256-2f167500-ad2b-11e8-9c1b-fd7759e4fd5f.png)

[2018-08-31 12:11] devdavidkarlsson commented on #186
With [nhaarman.mockitokotlin2 ](https://github.com/nhaarman/mockito-kotlin)

[code]

[2018-08-31 18:37] toemat commented on #416
Also having this issue trying to download images that always redirect. It seems like `response.result.success -> it: ByteArray` also doesn't get the data, even though `res` seems to contain the final response including the data...

[2018-09-02 08:02] ftomassetti commented on #413
Definitely confusing

[2018-09-02 22:57] eybeestudios commented on #306
is there an estimated time when this will be merged? i just recognized that i use an API that needs a request-body for a DELETE and i dont want to change the lib for this single request.

[2018-09-02 23:11] iNoles commented on #306
@markGilchrist In my opinion, doOutput should be configurable to any developers.

[2018-09-03 06:27] markGilchrist commented on #420
@SeleznevAM

`awaitResponseResult()` is deprecated, please can you make sure you are using the latest version of `fuel-coroutines` and modify you method to the below

[code]

please comment if this does not resolve your issue

[2018-09-03 06:31] markGilchrist commented on #413
@ftomassetti @RingoMckraken @mmuth I have just merged in a method that sets the header

when released
[code]

becomes

[code]

[2018-09-03 06:33] markGilchrist commented on #414
@mmuth

do you still have high memory consumption if you do

[code]

?

[2018-09-04 12:41] RingoMckraken commented on #413
Right on, I'll give it a spin, thanks!

[2018-09-05 16:16] jackterranova commented on #413
Looks like `Request.jsonBody` is documented on the README.md, but this is not yet released correct?

[2018-09-05 17:00] markGilchrist commented on #413
True

[2018-09-09 19:04] markGilchrist commented on #306
@eybeestudios  this is now merged in

[2018-09-10 22:33] SleeplessByte commented on #409
@kittinunf cc @markGilchrist I don't know why but I just opened it up, merged upstream and it... just works. No settings changed whatsoever.

[2018-09-10 23:37] SleeplessByte commented on #107
Probably a good way to handle this is like OkHttp handles it.

https://github.com/square/okhttp/wiki/HTTPS
https://github.com/square/okhttp/blob/5b37cda9e00626f43acf354df145fd452c3031f1/okhttp/src/main/java/okhttp3/TlsVersion.java

[2018-09-11 04:50] simonharrer commented on #306
@markGilchrist Thanks for your effort! Had a look at your PR - nice work btw., but are you sure that GET requests can have a payload now as well? From the PR #417 I can only see the change for the DELETE requests.

[2018-09-11 20:56] clarcharr opened #429 "Actually asynchronous coroutines"
Right now, the the functions offered by `fuel-coroutines` simply start a coroutine which blocks until the request is complete. Ideally, this should actually suspend the coroutine instead of blocking whenever possible.

[2018-09-12 15:31] iNoles opened #430 "New Kotlinx Coroutines Version"
I think it is a best to use this after next release versions because it may break some codes.

https://github.com/Kotlin/kotlinx.coroutines/releases/tag/0.26.0

[2018-09-12 16:56] markGilchrist commented on #306
@simonharrer No that work was not included in this PR it only covers DELETE, I am working on a second PR for GET, if I tag it in here I would really appreciate any comments you may have!

[2018-09-12 17:07] SleeplessByte commented on #306
Seems that this can be closed now, and we can continue on the PR once it's up ;)

[2018-09-12 17:09] SleeplessByte commented on #430
Maybe we can work on #429 when working on this. By semantic versioning, if the upgrade we require breaks current consumers it will be on 2.0.0.

[2018-09-12 17:10] SleeplessByte commented on #429
Hi @clarcharr, from what I can tell is that the current blocked coroutines are released during blocking, but I'm probably wrong there as it makes total sense that only on certain blocking API calls it releases.

Do you have any reference for me how to change it from blocking to suspending?

[2018-09-12 17:11] markGilchrist commented on #245
I am closing this as I believe it is a duplicate of 306 and that is now merged in

[2018-09-12 17:11] #245 closed

[2018-09-13 01:43] #409 closed

[2018-09-13 03:57] iNoles commented on #429
@SleeplessByte that would be like removing get()?

[2018-09-13 16:13] SleeplessByte commented on #406
@dpmaycry do you have a minimal reproducable sample or code snippet we can run to further investigate this issue?

[2018-09-13 16:19] SleeplessByte commented on #348
I'll check the spec on this. OP is probably right.

[2018-09-14 01:13] iNoles commented on #429
@SleeplessByte I have been looking for it. Only thing I think I can think of async {} return Deferred<Result<U, FuelError>>. get() should be removed because it is a blocking call.

[2018-09-15 16:13] SleeplessByte commented on #419
FYI, if you are trying this on Android, please note that this only works on Marshmellow and above.

The only way to use Proxies with Fuel is by using `java.net.Proxy` and passing it to `FuelManager`

[code]

Since `java.net.Proxy` is not a part of `Fuel`, we can not make changes on how to interact with that Class. You can probably set the system wide authenticator using `Authenticator`, but to ove

[2018-09-15 21:00] SleeplessByte commented on #416
@toemat can you open another issue for that?

I'll try to fix both in one go but it helps to keep track of these.

[2018-09-15 21:03] SleeplessByte commented on #429
cc @iNoles: is the pr #431 handling cancellation as well? We might want to add it / review it / open a second pr

[2018-09-16 01:25] iNoles opened #433 "Moshi Kotlin"
KotlinJsonAdapterFactory() uses the Kotlin Reflection Library that will increases APK Sizes because it is 2.5 MB jar files to be added to the project. The Moshi's Kotlin codegen uses kapt.  The Performance wouldn't be great as codegen is.

My opinion to be avoid of the kotlin-reflect dependency. One more thing, the latest version of moshi is 1.6.0.

[2018-09-17 23:53] SleeplessByte commented on #433
This would also solve the following warnings:
[code]

[2018-09-18 03:14] t-ae commented on #429
I tried my error above on master branch but it didn't happen.
On 1.15.0(and on Android) the code below doesn't cancel imemdiately.

[code]

So it may already be fixed. Sorry.

[2018-09-18 09:02] kittinunf commented on #430
I agree with @SleeplessByte I think we can take this opportunity to clear up the current APIs and provide the better ones.

[2018-09-20 18:12] milk-machine opened #436 "Kotlin naming conventions violation in RxFuel"
# Refactoring

## Description
Add to com.github.kittinunf.fuel.rx.RxFuel methods toRxRespone(), toRxResponseString() etc. Deprecate old methods.

## Why this is necessary?
Current naming violate Kotlin style: [link](https://kotlinlang.org/docs/reference/coding-conventions.html#function-names)

[2018-09-20 19:55] markGilchrist commented on #436
@milk-machine are you going to submit a pr?

[2018-09-21 07:47] t-ae opened #437 "License presentation in Android"
Hello. I'm using Fuel in my Android app.

For showing licenses, I use google's official `oss-licenses-plugin`.

[Including Open Source Notices](https://developers.google.com/android/guides/opensource)

BTW Fuel doesn't appear in the generated list.
If you support this, Android developers can present licenses easily.

For example, another library I'm using writes it in gradle.
https://github.com/na

[2018-09-21 11:43] SleeplessByte commented on #437
I'll add it for ya

[2018-09-21 11:44] SleeplessByte commented on #436
I would also like to have a reference what is "Kotlin style naming", so that we can link to it in CONTRIBUTING and/or a style guide.

[2018-09-22 07:57] kittinunf commented on #433
I have commented in the PR. :)

[2018-09-22 08:01] kittinunf commented on #436
Maybe we can link to official code style [here](https://kotlinlang.org/docs/reference/coding-conventions.html). Spoiler alert, I wasn't very much following it.

[2018-09-22 14:18] iNoles commented on #436
There is something like https://github.com/shyiko/ktlint. Oh course, it would increase the build times. :|

[2018-09-23 17:40] SleeplessByte opened #440 "Pull Request Template changes"
## Description
The current Pull Request Template contains both "placeholder" text as well as keep this text and don't change. We should update the template to use comments for the placeholders. Additional requirements have been raised and can be implemented with this change as well.

## Proposed Solution
- [ ] Use `` instead of place holder text (but keep the headers).
- [ ] Add a new `` up top to

[2018-09-24 10:09] SleeplessByte commented on #436
I actually think klint is smart to add! It should be fast (only a few seconds) as most linters usually run inline with your code anyway.

[2018-09-24 10:13] SleeplessByte opened #442 "Add klint for coding style enforcement"
# Feature Request

## Description
Currently there is no coding style enforcement whatsoever but now that there is an [official standard]( https://kotlinlang.org/docs/reference/coding-conventions.html) we should try to adhere to it. This can be enforced and easily checked by adding a linter to both the codebase as well as the build process.

## Proposed Solution
- [ ] Add https://github.com/shyiko/

[2018-09-24 15:00] #433 closed

[2018-09-24 15:48] SleeplessByte commented on #436
Added: #442

[2018-09-24 21:49] iNoles commented on #442
The Gradle check task depends on the test task which means test is executed before check is run.

https://github.com/jeremymailen/kotlinter-gradle is very interesting plugins for it because it support gradle kotlin scripts and Incremental build.

[2018-09-25 23:37] SleeplessByte commented on #188
Since this has been stale for so long, let's close it. It may always be re-opened at later time.

[2018-09-25 23:37] #188 closed

[2018-09-25 23:39] SleeplessByte commented on #224
The sample has not been updated in over a year. This might have been fixed. Since this has been stale for so long, let's close it. It may always be re-opened at later time.

[2018-09-25 23:39] #224 closed

[2018-09-25 23:40] SleeplessByte commented on #238
Since this has been stale for so long, let's close it. It may always be re-opened at later time.

[2018-09-25 23:40] #238 closed

[2018-09-25 23:41] SleeplessByte commented on #251
The test library has mocking, and per #444 all the projects use it.

You may always override `FuelManager.client` to be a function where you control the response (executeRequest response).

[2018-09-25 23:41] #251 closed

[2018-09-25 23:44] SleeplessByte commented on #301
The solution is in this issue: remove the old response interceptor and add it back with the full range.

[2018-09-25 23:44] #301 closed

[2018-09-25 23:45] SleeplessByte commented on #325
Since this has been stale for so long, let's close it. It may always be re-opened at later time.

[2018-09-25 23:45] #325 closed

[2018-09-25 23:47] SleeplessByte commented on #359
Cross-linking #222

[2018-09-25 23:50] SleeplessByte commented on #390
@markGilchrist Given a list of files named foo, instead of having one datapart per file (named foo1 foo2 foo3), they want one datapart in total named foo with all the files.

[2018-09-29 03:26] iNoles opened #446 "Change JaCoCo Plugin Version"
# Refactoring

## Description
With https://github.com/jacoco/jacoco/pull/689, Jacoco plugins would able to support kotlin's inline functions. There is a catch for it, it need to use the snapshot versions for it first.

## Files to process
- [x] build.gradle.kts

## Why this is necessary**
Improve Test Coverage for better Kotlin Supports.

[2018-09-30 18:38] iNoles commented on #446
@kittinunf @markGilchrist What you think about this?

[2018-09-30 20:07] SleeplessByte opened #447 "Extract common test functionality into project"
# Refactoring

## Description
With #444 we got the great addition of mocked request/responses for all tests in all projects. However, the solution is not very DRY and there is duplication across all projects, namely the mockhelper. We should extract mockhelper into a test project that can be included everywhere (and replace testCompile('mockserver' ) with that one).

This also allows us to define

[2018-09-30 20:09] #420 closed

[2018-10-02 03:24] #446 closed, assigned to nobody

[2018-10-05 14:38] xvs32x opened #453 "addRequestInterceptor: types mismatch"
# Bug Report

## Description
Hi all. I want to connect my own interceptor in fuel instance. I'm doing it, copying pasting code from the docs, see fragment below:
[code]
But is not work, because type of  cUrlLoggingRequestInterceptor not match with argument type in addRequestInterceptor. Please, can you show me some example, if i'm wrong.
Sorry for question, I'm a new in Java and Kotlin. Thanks for

[2018-10-09 03:20] GavinDon opened #457 "How to merge requests"
like retrofit  can use  merge Operator  Make multiple requests

[2018-10-09 07:38] xvs32x commented on #453
@kittinunf Oops, big thanks, your save my life!

[2018-10-09 07:39] kittinunf commented on #453
Shall we close this then?

[2018-10-09 07:48] xvs32x commented on #453
Yes, and sorry for stupid issue

[2018-10-09 14:07] SleeplessByte commented on #457
Retrofit can actually not merge requests by itself. When using an extension, such as `RxJava` with retrofit, "merging" requests is done with that.

## LiveData
https://developer.android.com/reference/android/arch/lifecycle/MediatorLiveData

You can use a `MediatorLiveData` and two `Fuel` to livedata calls to get a live data that responds when both are done.

## RxJava
You can use the **same** inte

[2018-10-09 14:07] #457 closed

[2018-10-11 10:36] #453 closed

[2018-10-12 07:34] GavinDon opened #458 "How do I configure cookies like okhttp cookieJar?"
现在来看 fuel使用cookie 只能在header中添加 。不能统一配置管理吗？

(Google Translate:
Now look at fuel using cookies can only be added in the header. Can't you unify configuration management?)

[2018-10-12 08:03] GavinDon commented on #458
使用cookieManage管理的话也不能统一配置  。。应该在FuelManage中提供一个这样的方法

[2018-10-12 08:05] GavinDon commented on #458
使用cookieManage管理的话也不能统一配置 。。是否应该在FuelManage中提供一个这样的方法呢

[2018-10-13 15:49] SleeplessByte commented on #458
Possibly a duplicate of #263 or #105.

Yes @GavinDon, we accept PR's!

[2018-10-13 16:24] jganser opened #461 "Failed to resolve fuel-reactor 1.13.0 1.14.0 15.0"
# Bug Report

gradle -> jcenter erros...

[2018-10-14 01:05] #440 closed

[2018-10-16 09:14] lucasvalenteds commented on #461
@jganser Could you be more specific about the error, please? An error message, error code or stack-trace may help.

The available versions of `fuel-reactor` is available at https://jcenter.bintray.com/com/github/kittinunf/fuel/fuel-reactor/.

[2018-10-16 16:58] iNoles commented on #430
Closed by #438

[2018-10-16 16:58] #430 closed

[2018-10-16 21:34] charshep commented on #108
Correct me if I'm wrong. I'm new to Kotlin and even Java I haven't touched in probably 10 years. But don't lines `DownloadTaskRequest.kt:22` and `InputStreams.kt:19` ensure that the entire file will be read into memory due to the call to `byteBuffer.toByteArray()`?

    override fun call(): Response {
        val response = super.call()
        val file = destinationCallback(response, request.url)

[2018-10-16 21:56] charshep commented on #108
Correct me if I'm wrong, I'm new to Kotlin and even Java I've been away from for quite a while. But don't `DownloadTaskRequest.kt:22` and `InputStreams.kt:19` result in the entire downloaded file contents being read into memory?

    override fun call(): Response {
        val response = super.call()
        val file = destinationCallback(response, request.url)

        FileOutputStream(file).use

[2018-10-16 23:04] charshep commented on #414
My latest comment in issue #108 may be related?

[2018-10-16 23:41] charshep opened #463 "Add ability to customize DownloadTaskReqeust FileOutputStream"
# Feature Request

## Description
I'd like to incorporate [RNCrytpor-Native](https://github.com/TGIO/RNCryptorNative) in conjunction with Fuel in order to encrypt downloaded files. Unencrypted data should never be written to storage, even temporarily, so I'd like to wrap/override the `FileOutputStream` that is used internally by `DownloadTaskRequest`.

## Proposed Solution
I'm not familiar enough

[2018-10-17 06:33] markGilchrist commented on #108
@charshep This was a change that I think I added and the reason I did so was we had a situation where when downloading data to a file it was not then accessible in the Result<byteArray,Error>.

I did test this with then mocking lib (httpBin) that we were using at the time and I remember that large byteArrays, when requested from httpBin.org were caped by the server. so I think I didn't notice this

[2018-10-17 06:59] jonni-larjomaa opened #464 "How to get requestbody inside interceptor"
I'm writing an interceptor which makes an authorization header which is calculated over the entire request payload, i need to have the body of the request in this calculation also but there is no obvious way to get the request body ?

This calculation is needed for example AWS v4 request signing.

Solution:
Request obejcts getHttpBody should be public ?

[2018-10-18 04:51] gowthamgts commented on #447
Ah come on @kittinunf, leave something for us. 😄

[2018-10-18 05:18] iNoles opened #468 "Improving Testing"
# Refactoring

## Description
According to Fuel.kt, blocking is always false by default. It may be true in outside of this project. Also, timeoutRead only uses once, so it is always be null.  All tests related projects use same timeout values.

## Files to process
- [x] SameThreadExecutorService.kt
- [x] TestConfiguration.kt
- [x] Fuel.kt

## Why this is necessary**
I would remove SameThreadExecut

[2018-10-18 05:50] kittinunf commented on #461
or a newer version like 1.15.1

I think we can close this unless there is more info?

[2018-10-18 05:50] #461 closed

[2018-10-18 08:55] alexpwf opened #469 "POST Request break between 1.14.0 and 1.15.0"
# Bug Report

## Description
The body parameter seems to no longer work in the new version.

## To Reproduce
For the same code, the body gives different results.

[code]
In the 1.14.0 server receive `{"email":"e@m.c","password":"pwd"}`
In the 1.15.0 server receive `{ '{"email":"e@m.c","password":"pwd"}': '' }`

[2018-10-18 11:45] mengelbrecht opened #472 "jsonBody function leads to two different content-type headers in post request"
# Bug Report

## Description
Using Fuel 1.16.0 and the json data method introduced in #418 in a post request leads to two different content-type headers:
* `Content-Type=application/x-www-form-urlencoded`
* `content-type=application/json`

## To Reproduce
Steps to reproduce the behavior:

[code]
Output:
[code]

## Expected behavior
There is only one header `Content-Type=application/json`.

[2018-10-18 12:08] mgee commented on #469
The post function automatically adds a `Content-Type=application/x-www-form-urlencoded` header.
Before Fuel 1.15.0 the `header` function overload taking a variable number of pairs overwrote existing headers.
This function overload was changed to append to existing values instead.
The content type header in the example is now:
`Content-Type=application/x-www-form-urlencoded; application/json`.

You

[2018-10-18 12:28] alexpwf commented on #469
That work, thank you, guys!

[2018-10-18 12:28] #469 closed

[2018-10-18 13:20] NikkyAI opened #473 "jsonBody does not replace default content encoding"
# Bug Report

## Description
when POST-ing a json body the generated request contains both of these headers
[code]

because of https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Request.kt#L149

## To Reproduce
Steps to reproduce the behavior:

[code]

## Expected behavior
the POST request should have only one Content-Type

[2018-10-18 13:28] SleeplessByte commented on #473
Correct. @markGilchrist I want to change the behaviour so that:
- headers that only allow one value (things like Date, Content-Type, Content-Language, Expires) don't concat
- defaults set by us are either "only set if not already set" or "always overwritten when the header is processed/used/changed"

[2018-10-18 14:00] NikkyAI commented on #473
for now #474 fixes it without a complete rewrite of headers, but it would break if somone sets a Content type and then calls jsonBody
but it should be obvious to users that it will break

[2018-10-18 15:50] SleeplessByte commented on #468
I would still like to test timeouts with the mock web server!

[2018-10-18 15:51] SleeplessByte commented on #458
Let's continue in #263

[2018-10-18 15:51] #458 closed

[2018-10-18 15:52] SleeplessByte commented on #429
I believe this is now merged in? (cc @markGilchrist ). If not, please re-open.

[2018-10-18 15:52] #429 closed

[2018-10-18 15:53] SleeplessByte commented on #406
Closing this because not reproducible. Feel free to comment here with a sample and we'll re-open.

[2018-10-18 15:53] #406 closed

[2018-10-18 15:55] #324 closed

[2018-10-18 18:57] mgee commented on #473
This is the same issue as #472.

[2018-10-19 00:36] charshep commented on #463
I'm starting to work on a fork of this. I'm having trouble including `rncryptor-native` however. In a separate application project I'm able to simply add:

    implementation 'com.github.tgio:rncryptor-native:0.0.9'

to my build.gradle and I can import it no problem. However, adding the same to `Fuel/fuel/build.gradle` while it does in fact pull down the library (I can see it in External Libraries

[2018-10-19 00:56] SleeplessByte commented on #463
The IDE can definitely fuck this up.

What I've tried, if invalided and restart doesn't work, is actually
deleting the .idea folder and build again from gradle.

On Fri, 19 Oct 2018, 02:36 charshep, <notifications@github.com> wrote:

[2018-10-19 02:08] iNoles commented on #463
It looks like that only work in Android.

[2018-10-19 10:50] monkeymc opened #475 "Missing fuel-android version 1.15.1"
Cant find at https://jcenter.bintray.com/com/github/kittinunf/fuel/fuel-android/

[2018-10-19 13:41] stephenbyrne-mfj commented on #414
The problem is in `com.github.kittinunf.fuel.util.InputStream.copyTo`. While reading the stream and writing it to the file, it also writes it to a `ByteArrayOutputStream` so it can send it to the `onComplete` listener.

[2018-10-19 13:54] NikkyAI commented on #404
since kotlinx-serialization supports protobuf out of the box we could use that ?

[2018-10-19 15:32] iNoles commented on #475
Also livedata too.

[2018-10-19 15:39] SleeplessByte commented on #404
Yes please

On Fri, 19 Oct 2018, 15:54 NikkyAI, <notifications@github.com> wrote:

[2018-10-19 16:14] charshep commented on #108
Thanks for the confirmation @markGilchrist

[2018-10-19 16:54] kittinunf commented on #475
It looks like there is something wrong with publishing script ... I will check what's wrong ...

In the meantime, @monkeymc can you use previous version?

[2018-10-19 19:43] stephenbyrne-mfj commented on #414
I have started a few attempts to address this, which I will describe and point out my concerns:

#### 1.  `Response.data` is blank for downloads.
Currently, when calling `Fuel.download()` you must provide a file via `Request.destination()`.

After the response is written to the supplied file, set `Response.data` to an empty `ByteArray`. Document that the data will be empty at `Fuel.download()`, `R

[2018-10-19 20:19] charshep commented on #463
Thanks @SleeplessByte

@iNoles Yep, realized that after a bit. Thanks. :P

[2018-10-19 22:44] iNoles commented on #468
@kittinunf What is your opinion of this?

[2018-10-20 07:14] kittinunf commented on #475
I fixed it, you should be able to find them there

https://jcenter.bintray.com/com/github/kittinunf/fuel/fuel-android/1.15.1/
and
https://jcenter.bintray.com/com/github/kittinunf/fuel/fuel-livedata/1.15.1/

[2018-10-20 07:14] #475 closed

[2018-10-21 10:08] #473 closed

[2018-10-21 11:30] #442 closed

[2018-10-21 11:38] SleeplessByte opened #478 "Headers fields must be case insensitive"
# Bug Report

## Description
From the spec:

   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.

     header-field   = field-name ":" OWS field-value OWS

     field-name     = token
     field-value    = *( field-content / obs-fold )
     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
     field-vchar    = VCHAR / obs-text

     o

[2018-10-22 09:35] abelsromero opened #479 "Improve multipart features for httpPost and httpUpload"
# Feature Request

With the current API, some scenarios of multipart interaction are not friendly and require what imho are hacks.

## Description
I am working with CMS API and there's a API call with requires uploading a document alongside metadata in JSON.
This is easily done in curl with:
[code]

I only got this to work with the following code

[code]

As you can see this requires storing the J

[2018-10-22 10:14] abelsromero opened #480 "Improve multipart features to support more than files"
# Feature Request

## Description
I am interacting with a CMS API that requires uploading a document alongside some JSON metadata.
I can easily do that with cURL as seen below, but the only solution found with Fuel seems a hack and requires storing the metadata in a temporal file.

[code]

The only way I got this to work with Fuel is using the `httpUpload` like this:

[code]

Using the commented l

[2018-10-22 12:14] SleeplessByte commented on #479
Hi @abelsromero, thank you for your feature request.

Linking these issues: #147 #259 #169 #162 #399.

I completely agree with this. I think `upload` should stay and take one or more files, but as you say: take more than just files and allows to set metadata. The upload API should be amended anyway to allow setting filenames, or multiple files in one part.

[2018-10-22 12:15] SleeplessByte commented on #480
Very similar to #479 and overlaps. Let me close this and have that issue track ALL new features, as it already has more than 2 features to track.

[2018-10-22 12:15] #480 closed

[2018-10-22 12:18] SleeplessByte commented on #478
Taking this!

[2018-10-22 14:21] abelsromero commented on #480
Sorry, there was some issue with GitHub and issues did not appear.

[2018-10-22 14:27] abelsromero commented on #479
I am not sure I explained myself well.

I am not talking about uploading more than one file or setting the names, this more about being able to reuse DataPart for"inline" elements to avoid creating temporal files.

[2018-10-23 15:43] SleeplessByte commented on #479
@abelsromero, currentlý I am reworking the upload/download to use generic streams (even before you posted the issue).

That should resolve your issue.

[2018-10-23 15:46] SleeplessByte commented on #463
I'm working on an implementation that allows for generic streams (#479), that should also cover this.

[2018-10-23 18:06] abelsromero commented on #479
Cool! Thanks a lot, do not hesitate to mention me if you need a beta tester.

[2018-10-25 13:18] xdma opened #482 "connection.headerFields must not be null"
I get an error only in android 4,  "java.lang.IllegalStateException: connection.headerFields must not be null", in other android versions everything works fine, maybe someone faced with similar issue?

**my request code:**

` val request = url.httpGet()`
`request.timeout(timeout * 1000)`
` .timeoutRead(readTimeout * 1000)`
`.header(mapOf(`
`                    "token" to "xxx",`
`

[2018-10-25 16:05] kittinunf opened #484 "Migrate Publishing Plugin to bintray/gradle-bintray-plugin instead"
# Refactoring
Replacing novoda/bintray-release with bintray/gradle-bintray-plugin
## Description

As mentioned at the upstream repo, as of now (26 Oct) novoda/bintray-release has an issue that cannot support gradle 4.5 or higher. Even though it is an awesome plugin (so easy to use), the world that we are moving is too fast and staying behind on gradle version is not that fun 🙅‍♂️ .

## Files to pr

[2018-10-25 16:07] SleeplessByte commented on #482
There are multiple issues with the `headerFields` type definition, on the Android side, which might or might not have anything to do with this and might or might not be [partially] fixed by #481.

However, because we are running into multiple issues with Android 4.4 and lower, the minSDK is actually being raised per #483 to Android 5.0. The last unsupported security release for 4.4.4 was *over a y

[2018-10-25 16:07] #482 closed

[2018-10-25 16:12] kittinunf commented on #357
Close for inactivity, feel free to reopen this if you have any further question.

[2018-10-25 16:12] #357 closed

[2018-10-28 14:04] smallufo commented on #306
Hi , is this issue really solved ? I try to fire an DELETE request (with body) to FB's API , but it seems it dosen't work.

sample code :

    val uri = "https://graph.facebook.com/$version/me/messenger_profile?access_token=$pageToken"

    val root = json {
      obj("fields" to array(PERSISTENT_MENU))
    }
    val json = klaxon.toJsonString(root)
    logger.info("delete json = {}" , json)

[2018-10-28 16:07] SleeplessByte commented on #306
[code]

This gives me
[code]

I've also tested this via a mocked request, and it seems fine :/

What version are you on?

[2018-10-28 16:14] smallufo commented on #306
I am using Fuel 1.15.0 , with FB's graph version `v3.2`
BTW , I don't think your code works , because it's not a valid page_access_token.
If it passes access token check , it will check the content, which leads it cannot find my `fields` field

Is there anyway to truly dump the network layer stream with Fuel's API ? I am not sure if it FB or Fuel's implementation problem...

[2018-10-28 16:44] SleeplessByte commented on #306
Obviously I wasn't going to post my actual token hehe ;)

That said, everything is piped to HttpURLConnection and then it leaves fuel. No real way of intercepting it at that link without using a proxy.

Can you print your request curlstring and see it that one works?

[2018-10-28 16:58] smallufo commented on #306
Wow , I don't know Fuel has `curlString` function , great. This is my result :

`curl -i -X DELETE -d "{\"fields\": [\"persistent_menu\"]}" -H "Accept-Encoding:compress;q=0.5, gzip;q=1.0" -H "Content-Type:application/json" https://graph.facebook.com/v3.2/me/messenger_profile?access_token=EAAGpXXX`

![intellij](https://user-images.githubusercontent.com/626659/47619055-35e81b00-db15-11e8-8191-d5e42b

[2018-10-28 18:18] SleeplessByte commented on #306
That's actually really helpful.

I can think of a few things, but for now, can you also check this slightly
weird thing:

[code]

My initial thought is that Facebook is actually choking on something else,
or that this still has the content type double header bug.

On Sun, 28 Oct 2018, 17:58 smallufo, <notifications@github.com> wrote:

[2018-10-28 18:59] smallufo commented on #306
I try to remove the `Accept-Encoding` header ,

    val (req: Request, res: Response, result: Result<String, FuelError>) = Fuel.delete(uri).also {
      it.headers.remove("Accept-Encoding")
    }
      .header(mapOf("Content-Type" to "application/json"))
      .body(json)
      .responseString()

    logger.info("curlString = {}" , req.cUrlString())

which generates this :

`curl -i -X DELETE -d "

[2018-10-29 01:14] SleeplessByte commented on #306
Alright. This might be an issue on our side. I will try some things out over here and see if I can make this work (and write a test so it doesn't fail again/regression)

[2018-10-29 11:54] #413 closed

[2018-10-29 11:54] #472 closed

[2018-10-29 11:54] #478 closed

[2018-10-30 08:05] ghost opened #488 "WireGuard Integration"
https://f-droid.org/app/com.wireguard.android

In #419 you show coffee for a socks5 proxy. Could that be enforced with a locally running WireGuard proxy and integrated into this app? If so, what might the high-level approach look like from a design perspective?

[2018-10-30 08:09] jhabdas opened #489 "Add gRPC support"
As you probably are aware protobuff is now in GA as a golang package with multithreaded goodness. For my microarch JSON/REST is no longer (nor ever really was) a good choice for services to communicate. Is gRPC something you will consider adding to this package? Thanks.

[2018-10-30 16:12] SleeplessByte commented on #489
Thanks for your feature request!

As far as I understand, gRPC runs fine over HTTP, as [explained here](https://grpc.io/blog/coreos). What kind of support explicitly would you like to see? Fuel is a generic purpose HTTP client, *NOT* a REST client.

[2018-10-30 16:15] SleeplessByte commented on #479
Hi @abelsromero , this is coming! I have the basics down in #486, but after we merge #485 I am breaking it up into multiple smaller PRs, one specifically to solve your issue. It is, now that I know how to do this, a very trivial issue to solve.

[2018-10-30 16:48] abelsromero commented on #479
Can't promise, but I'll have a look at ti asap this week.

[2018-10-30 17:51] SleeplessByte commented on #464
Hello @jonni-larjomaa,

https://github.com/kittinunf/Fuel/pull/485/files#diff-872bb60dbe62daac0dfbc7740a3379a9 should cover you for now. I do want to support AWS signing out of the box at some point, so if you create an implementation, we would 💘 a PR.

[2018-10-30 17:52] SleeplessByte commented on #364
@msogrin sorry this took so long. It has been fixed, with a test to prove it is.

[2018-10-30 17:56] SleeplessByte commented on #437
This *SHOULD* be fixed with the next release via

[2018-10-30 18:09] SleeplessByte commented on #479
Just to be sure! It's not merged in yet, nor released 😅 but got it working with an experimental change

[2018-10-30 20:50] SleeplessByte commented on #193
Fixed with #485

[2018-10-30 20:50] #193 closed

[2018-10-31 22:16] Vahalaru opened #492 "Adding better support for dagger 2"
Idk if the is anything you can do to improve dagger 2 support code wise.  If anything could you provide an example of how to use in the read me.

[2018-10-31 22:51] iNoles commented on #492
I think dagger 2 is out of the scope of this project.

[2018-11-01 00:17] #436 closed

[2018-11-01 00:44] Vahalaru commented on #492
Well the reason I brought it up was I'm using this tutorial to build my app using the new mvvm.

https://proandroiddev.com/mvvm-with-kotlin-android-architecture-components-dagger-2-retrofit-and-rxandroid-1a4ebb38c699

I have to say I've had the best of luck with using the Fuel library out of them all. I had started to try and piece by piece replace the necessary parts from retrofit to Fuel, and go

[2018-11-01 01:12] SleeplessByte commented on #492
Replace `NetworkModule`  with something like this:

[code]

- There are no adapters in `Fuel`, only extension methods
- `basePath` is both `baseUrl` and path
- There are no "post" api classes/objects/interfaces, only a method to make a post api

Yes, there is a way to mimic `postApi` and the retrofit interfaces with `FuelRouting`, but you can add that after you understand this example. Just want t

[2018-11-01 01:12] #492 closed

[2018-11-01 01:14] #102 closed

[2018-11-01 03:39] Vahalaru commented on #492
Thank you,  this will work with the methodology of seperating the code and be a simple workable solution. I was overthinking it. When I get it all worked out I'll sue post a wiki documentation.

[2018-11-01 14:49] SleeplessByte commented on #492
Perfect!

On Thu, 1 Nov 2018 at 04:39 Jeremy Stotts <notifications@github.com> wrote:

[2018-11-01 23:50] igorwojda opened #493 "Add support for Stetho Android debug bridge"
# Feature Request
Add Support for Stetho, so we can easily review all requests made by the Android application
http://facebook.github.io/stetho/

## Description
Currently reviewing underlying requests is quite hard (no support for Stetho). Besides that, this is very popular tools, so it's a shame that switching from Retrofit devs need to make the sacrifice.

## Proposed Solution
Here is some old i

[2018-11-02 00:27] igorwojda opened #494 "Add default value for the failure param in the result.fold"
## Description
`result.fold` should have a default value for `failure` parameter. Since `return` statement is not allowed in `success` and `failure` blocks now we need to define a nullable variable `albums` to store it.

[code]

## Proposed Solution
However, with the default value for `failure` parameter, we could  use the library in a more expressive way by assigning a default value to our `album

[2018-11-02 00:32] SleeplessByte opened #495 "Chunked decoding not supported"
# Bug Report

## Description
~Requests with `Transfer-Encoding`:  `chunked` are not properly decoded. My last PR actually makes this blow up, but before this was already **not** handled. HTTP/1.1 clients are **required** to support `chunked`, and therefore this needs to be added. My understanding was that `HttpUrlConnection` handled this for us, but perhaps it doesn't. This needs to be investigate

[2018-11-02 00:41] SleeplessByte commented on #494
- You are allowed to write returns, you do need to label them. However, returning from a handler makes no sense, because the expected return value is Unit:

[code]
- You don't need a nullable variable?
[code]

[2018-11-02 01:00] Danilo-Araujo-Silva commented on #160
I'm having the same problem with the lastest release of kotlin, 1.3.0. I don't know why but my build breaks when I include the fuel dependency. I'm using gradle, so I tried the solution above excluding the group but it still not working for me =/

[2018-11-02 01:05] SleeplessByte commented on #160
@Danilo-Araujo-Silva what is the exact error your getting?

[2018-11-02 01:50] iNoles commented on #493
Fuel uses HttpURLConnection.

[2018-11-02 01:52] iNoles commented on #160
oh, it depend on Kotlin 1.3 RC

[2018-11-02 02:31] SleeplessByte commented on #493
Yes, but that doesn't matter

On Fri, 2 Nov 2018, 02:50 Jonathan, <notifications@github.com> wrote:

[2018-11-02 04:02] #495 closed

[2018-11-02 05:55] igorwojda commented on #494
I tried you approach but IDE displays an error
![image](https://user-images.githubusercontent.com/530122/47896128-d6b33f00-de63-11e8-957b-13ae24466294.png)

Ok so to be clear I am doing it in the context of coroutines and as far I see I need to use `awaitResponseObject` instead of `responseObject` (otherwise result is returned after function returns). Also, this is the JSON, so I want it to be par

[2018-11-02 12:58] Danilo-Araujo-Silva commented on #160
I'm including **jcenter()** in the gradle repositories section and

[code]

in the dependencies section.

I'm using Kotlin 1.3.0 (released yesterday when the time of this writing).

The error output is:

[code]

[2018-11-02 15:01] NikkyAI opened #498 "response length != content length"
# Bug Report

## Description
`GET` request to `http://files.minecraftforge.net/maven/net/minecraftforge/forge/json`
only return a string containing the first ~8k bytes, the content length is reported as ``

## To Reproduce
Steps to reproduce the behavior:

[code]

## Expected behavior
receiving the complete response content or
return a reasonable error message

## Environment

### Development Mach

[2018-11-02 16:05] #146 closed

[2018-11-02 16:05] #416 closed

[2018-11-02 16:10] SleeplessByte commented on #498
I expect http://files.minecraftforge.net to be at fault here.

[2018-11-02 16:36] SleeplessByte commented on #160
@Danilo-Araujo-Silva 1.16.0 is not released, as you can see on the readme: https://bintray.com/kittinunf/maven/Fuel-Android/1.15.1

[2018-11-02 16:41] iNoles commented on #498
Expected for Gzip.

[2018-11-02 16:45] SleeplessByte commented on #494
Your initial example doesn't work because there you used an async handler but try to return synchronously (and I think that is what you meant in your response just now).

In your second example, `result.fold` should give back the album, because kotlin doesn't know WHEN the fold functions are executed:

[code]

If you look at the type definition of `fold`, you can see that both `success` and `failu

[2018-11-02 18:14] davidbrazilparker opened #501 "Headers Companion ?"
In the README I saw examples using a Headers companion object and saw it referenced in the following:

But I can't find it anywhere in the source code. Was this deprecated? Or am I missing something?

[2018-11-02 18:47] NikkyAI commented on #498
there is no gzip involved, just a unreliable server
and Fuel does not catch when the connection was prematurely interrupted
even though in this case it could because Content-Length exists

[2018-11-02 18:48] NikkyAI commented on #498
since we figured out it was the server being unreliable.. this is now more a bug about Fuel not catching that unreliability, should i open a new bug or rename this one ?

[2018-11-03 15:05] SleeplessByte commented on #498
You can't really catch this. Content-Length is, although implemented as
such, not authorities when it comes to the RFC.

On Fri, 2 Nov 2018, 20:46 NikkyAI, <notifications@github.com> wrote:

[2018-11-04 13:14] SleeplessByte commented on #501
Hi @davidbrazilparker ,

The `Headers.Companion` is the `companion object` of `Headers`. It's part of [1.16.0](https://jitpack.io/#kittinunf/Fuel/1.16.0) and upcoming [2.0.0](https://jitpack.io/#kittinunf/Fuel/master-SNAPSHOT), which you can get right now using [jitpack](https://jitpack.io/#kittinunf/Fuel/master-SNAPSHOT). You can find [`Headers.Companion` here](https://github.com/kittinunf/Fuel/b

[2018-11-05 09:12] mobiletoly commented on #231
Found this post because was looking for the same functionality - how to append http query parameters to POST in Fuel. Ended up writing my own very small library that simplifies working with URL and HTTP parameters in Kotlin. While it is not Fuel-specific, but if anybody is interested, it has a small example with Fuel in README:

https://github.com/mobiletoly/urlsome

[2018-11-05 16:41] #468 closed

[2018-11-05 21:30] #447 closed

[2018-11-05 22:14] SleeplessByte commented on #447
Sorry, that was me :p

On Mon, 5 Nov 2018, 22:30 Jonathan, <notifications@github.com> wrote:

[2018-11-06 05:45] SleeplessByte commented on #306
It doesn't.

On Tue, 6 Nov 2018, 05:27 Jonathan, <notifications@github.com> wrote:

[2018-11-07 12:17] Listade opened #504 "NoClassDefFoundError in local test of android project"
java.lang.NoClassDefFoundError: kotlin/coroutines/Continuation

	at com.sintez.hardware.FiscalRpcFuelTest.createOrder(FiscalRpcFuelTest.kt:93)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect

[2018-11-07 16:19] SleeplessByte opened #505 "[fuel-gson] Incorrect type inference for generic type deserialization"
# Bug Report

## Description
Deserialization of generic types doesn't work because the extension functions incorrectly infer the type.

## To Reproduce
Steps to reproduce the behavior:

1. define a custom `data type T`
2. deserialize using `responseObject<List<T>>`
3. expect a list of T
4. actual a list of LinkedTreeHashMap (internal gson type)

[code]

## Expected behavior
A list of `T`

## Addit

[2018-11-07 16:28] SleeplessByte opened #506 "[fuel-rxjava] Error pipe is never used"
# Bug Report

## Description
When using RxJava, all results are inconsistently wrapped and the error pipes are never used.

## To Reproduce
Steps to reproduce the behavior:

### Not using error pipe
1. Define a request
2. Use an `rx` extension: `rxResponse`
3. Expect a `Single<Pair<Response, T>>` using the `success` pipe or a `FuelError` in the `failure pipe`
4. Actual: always using the success pi

[2018-11-07 16:36] SleeplessByte opened #507 "[fuel-rxjava] Requests are internally blocking and can never be cancelled once hot"
# Bug Report

## Description
Internally rx requests are called like so:
[code]

This means they are ALWAYS blocking and can never be cancelled once the rx pipe has opened, despite the faulty implementation:

[code]
## To Reproduce
Steps to reproduce the behavior:

1. Make any rx request
2. Cancel the request after starting to consume the pipe
3. It is not cancelled

## Expected behavior
It is canc

[2018-11-07 16:43] SleeplessByte opened #508 "[fuel-core] All requests seem cancellable, but they're not"
# Bug Report

## Description
`.cancel` can always be called, but only `AsyncTaskRequest` request can be cancelled. This leads to faulty implementation such as #507. This is also the TODO in the tests in fuel-core that are actually happening because the blocking request is not cancellable.

## To Reproduce
Steps to reproduce the behavior:

1. Make a block request
2. Call `.cancel`
3. Nothing happen

[2018-11-07 16:46] SleeplessByte opened #509 "Async tests are actually not executed"
# Bug Report

## Description
All tests using `async` calls are actually not executed

## To Reproduce
Steps to reproduce the behavior:

1. Make a test using a handler
2. `println` inside the handler (or use `fail`)
3. It never prints or fails

## Expected behavior
It prints or fails.

## Additional context
This behaviour was expected to occur, which is why #53 was introduced was well as a blocking

[2018-11-07 16:49] SleeplessByte opened #510 "[fuel-core] Requests can not upload and download files in the same request"
# Feature Request

## Description
Currently there is an ugly type map that determines which `TaskRequest` and which other behaviour is injected into a request, with errors when the type doesn't match. #491 already got rid of this behaviour for progress, but we are still limited to EITHER downloading OR uploading.

## Proposed Solution
Downloading and uploading are request features that can be enab

[2018-11-07 16:53] SleeplessByte opened #511 "[fuel-reactor] monoResult expects blocking function but implementation is async"
# Bug Report

## Description
The `monoResult` extension expects something that blocks:
[code]

But the implementation is actually async (using a handler):
[code]

## Additional context
Since we want the mono to be cancellable, the mono should probably expect an async function that results into something cancellable.

[2018-11-07 18:23] SleeplessByte commented on #494
@igorwojda I hope you got this resolved, if not us know and we can re-open. If you're looking for a more generic way of handling this, you can define an extension, something along the lines of:
[code]

[2018-11-07 18:23] #494 closed

[2018-11-08 00:44] igorwojda commented on #494
I had some time off... So`getOrElse` did the trick for non-nullable types.
[code]
However, I am still not sure how to simplify response that may not contain data (try to get object with non-existing id). `getOrElse` method does not allow to return null values, so either I am missing something or we need `getOrNull` method? 🤔
[code]

[2018-11-08 07:31] PeterSkopal opened #513 "[fuel-core] Overwrite header in case of Content-Type: multipart/form-data"
# Feature Request

## Description
This feature solves a problem I've had when constructing a Multipart/form-data request.

If one sets the Content-Type header to multipart/form-data manually (done in the snippet below) this request wont work properly, since the boundry value in the header, pointing out the file, is missing.

If the manually set content-type is removed, the request works fine.

[co

[2018-11-08 10:42] SleeplessByte commented on #513
@PeterSkopal completely agreed and is actually fixed down the line. Will be part of the 2.0 release!

[2018-11-08 11:16] wusatosi opened #514 "Be able to control redirect behavior per quest / bring cookies when redirect"
# Feature Request

## Description
I'm using Fuel as my http client to simulate login on a site as an auto script, where I found the short of unable to control redirect behavior a bit awkward, since Fuel.get / post is stateless, which do not have cookie management built in, when I sign in, server sends back an 302 redirect, fuel follows redirect and sent a new request, but did not bring cookies wit

[2018-11-09 01:42] SleeplessByte commented on #514
Hi there!

In the current `master` and released versions, the redirection you ask for is available through [allowRedirects](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Request.kt#L425)

[code]
Please note that this will act as an "error", but as long as you use a `Result`, you can then inspect the `response[Headers.LOCATION]` and handle the req

[2018-11-09 01:42] #514 closed

[2018-11-09 01:57] SleeplessByte opened #515 "[fuel-core] FuelError stacktrace is misleading"
# Bug Report

## Description
When inspecting a `FuelError`, the stacktrace is always set to the inner exceptions stack, so we lose the information where this `FuelError` was actually thrown. This leads to bugs such as #500 and makes it very hard to track errors.

#142 should be revisited and the `toString` function should also show the `cause` of the exception and its stacktrace, as well as where

[2018-11-09 02:05] SleeplessByte opened #516 "[fuel-core] Requests can only be cancelled before they start"
# Bug Report

## Description
Similar to #407, but in `core`. Thread interruption does not work like the code currently expects it to work. Blocking tasks by default can only be asked to be interrupted. Interruption is not the same as abortion, the latter being inherently unsafe.

When a thread is interrupted, either self or a different `Thread` is requesting, nicely, to stop the blocking process,

[2018-11-09 02:07] SleeplessByte opened #517 "[fuel-core] Errors in execute or request transformers are not caught"
# Bug Report

## Description
Errors during `executeRequest`, in some cases, and errors during request interceptors are not caught and wrapped by `FuelError` and thus are not handled normally by the pipes provided and can't correctly cancel.

## To Reproduce
Steps to reproduce the behavior:

1. Write a faulty interceptor (request)
2. Execute a request
3. Error is thrown

## Expected behavior
Error

[2018-11-09 02:09] SleeplessByte opened #518 "[fuel-core] Add request url to FuelError if there is no response yet"
# Feature Request

## Description
`FuelError`s that don't come from a `Response` have the weird empty url `http://.` and this loses information about which `Request` failed.

## Proposed Solution
Add the `Request` url to the `FuelError` if there is no `Response` yet.

[2018-11-09 02:11] SleeplessByte opened #519 "[fuel-core] Add request method to string representation of Request"
# Feature Request

## Description
When printing or logging `Request`s, it is not clear which `Method` is being used.

## Proposed Solution
In `Request.kt`
[code]

[2018-11-09 02:15] SleeplessByte commented on #504
It seems you're not actually loading `coroutines` in your dependencies (neither `fuel-coroutines`, nor `kotlinx-coroutines`).

The android sample uses them --- maybe you do to?

[2018-11-09 03:09] iNoles commented on #504
As for Android, it requires two kinds of coroutines.
1) Fuel-corountines (core)
2) kotlinx-coroutines-android (Android's UI only)

[2018-11-10 05:42] worker8 opened #522 "The sample app is crashing in current master"
# Bug Report
The sample app is crashing in current master

## Description

This is the crash log:
[code]

## To Reproduce
1. Grab the sample from current master (2ae065cfea3c0b38ac1256c20894eaf6bb7d6956), compile and launch the app.
2. Launch this activity (https://github.com/kittinunf/Fuel/blob/master/sample/src/main/kotlin/com/example/fuel/MainActivity.kt)
3. Click on the `GO` button
4. Enjoy th

[2018-11-12 02:29] SleeplessByte opened #525 "[fuel-core] Add debug / in-memory mode"
# Feature Request

## Description
Sometimes we just want to be able to inspect bodies anywhere during the `Request` -> `Response` chain. Currently, to reduce memory greatly and make sure streams are only read once, `Body` are, by default, directly read from source and written to the `OutputStream`. There is currently no good way to tell `Fuel` it's okay to load it into a memory buffer.

## Propose

[2018-11-12 02:42] SleeplessByte commented on #522
@worker8 Fixed! :dancer:

[2018-11-12 15:33] #484 closed

[2018-11-12 21:00] Listade commented on #504
Thanks, guys

[2018-11-13 03:01] checketts commented on #306
Just as a datapoint, RequestBody with DELETE wasn't working for me on `1.13.0`, and after upgrading to `1.16.0` it is working for me.  I'm not discounting @smallufo 's report, just letting you know that in my case it is working.

[2018-11-13 09:02] wusatosi commented on #514
Thanks for reply, throwing an exception is understandable here. just remember to write `.allowRedirects` into documentations and examples.
Thanks!

[2018-11-13 10:33] dpmaycry opened #528 "Fuel Request Body(upload files) shoud be separated just like client, or there will be no client for replacing"
I am recently try to replace httpclient by okhttpclient,than I found the requestbody(I mean the uploaded files(blobs) part) cannot be accessed from Request which means I cannot change Request to OKhttpRequest or any other kinds of custom request. Hope for your reply.

[2018-11-13 15:47] CoolMind opened #529 "kotlin.UninitializedPropertyAccessException: lateinit property sourceCallback has not been initialized"
# Bug Report

## Description

Call to API throws exception `kotlin.UninitializedPropertyAccessException: lateinit property sourceCallback has not been initialized` when uploading a file.

## To Reproduce
Steps to reproduce the behavior:

1. Open an image from the gallery and create a temporary file.
2. Upload it to a server.
[code]

## Environment

### Development Machine
 - OS: [Windows 10]
 - ID

[2018-11-13 15:49] SleeplessByte commented on #529
You have not added a file / source to your upload:

[code]

[2018-11-13 15:53] SleeplessByte commented on #528
You should only need to use the `interface Body` and then using

[code]

Which should not be internal / private.

What does your implementation look like?

[2018-11-13 15:53] SleeplessByte commented on #514
@wusatosi you are absolutely right. We are updating the docs for 2.0.0 <3

[2018-11-13 15:54] SleeplessByte commented on #306
Thank you @checketts, that does help. I still think it's something with Facebook, but I now have my own page set up so I can debug this for @smallufo .

[2018-11-13 15:55] SleeplessByte commented on #504
I think that means you got it working. I'm closing this, but reply here if you need more help!

[2018-11-13 15:55] #504 closed

[2018-11-13 16:06] CoolMind commented on #529
@SleeplessByte, thanks! Oh, how can I didn't notice?

[2018-11-13 16:47] CoolMind commented on #529
@SleeplessByte, can you help me?

If I write:
[code]
it turns out, that a file is not transmitted to a server, because it returns an corresponding error.

What ha I missed?

[2018-11-14 08:57] CoolMind commented on #529
Probably https://github.com/kittinunf/Fuel/issues/479 can help. I will update soon.

[2018-11-14 09:42] dpmaycry commented on #528
Thank u 4 reply but I really got confused.
`request.body().writeTo(outputStream: OutputStream)`is from OKRequest? If so,this should be `request.body().writeTo(sink: BufferedSink)`，
I am now try to use sink.outputStream to write the body in it,wait and see

[2018-11-14 10:46] CoolMind opened #531 "java.lang.ClassCastException: com.google.gson.JsonSyntaxException cannot be cast to com.github.kittinunf.fuel.core.FuelError"
Suppose you have a JSON like
[code]
And a parsing class like
[code]
If you parse this JSON in interactor like
`api.getJson().awaitObjectResponse(YourResponse.Deserializer()).third`,

you will receive `java.lang.ClassCastException: com.google.gson.JsonSyntaxException cannot be cast to com.github.kittinunf.fuel.core.FuelError`,

while a real exception is `com.google.gson.JsonSyntaxException: java.la

[2018-11-14 11:43] SleeplessByte commented on #531
Are you on 1.16.0?

On Wed, 14 Nov 2018, 11:46 A, <notifications@github.com> wrote:

[2018-11-14 11:51] CoolMind commented on #531
@SleeplessByte yes. Maybe I wrote too short, and some more information has been lost.

[2018-11-14 14:46] iNoles commented on #528
interesting implementation to get Fuel to works with OKHttp.

[2018-11-14 15:58] SleeplessByte commented on #531
#500 #515

[2018-11-14 15:58] #531 closed

[2018-11-14 16:01] SleeplessByte commented on #529
@CoolMind sorry I can't get from your comments if the file is actually not transmitted or if YOUR use-case doesn't work. A ticket with "it doesn't work" doesn't help anyone.

As per the documentation, which is incomplete I agree, `.upload` requests are `application/form-multipart`, which always require `DataPart` at the moment. We actually use `upload` to upload the binaries to bintray/maven so th

[2018-11-15 07:20] CoolMind commented on #529
@SleeplessByte, you are right, I wrote not clearly. The server didn't receive the file and wrote an error with a message that file wasn't attached. I didn't touch an interactor and changed an API request (using `dataParts`).
Thank you, I understood, that `application/form-multipart` requests require `DataPart`.

[2018-11-15 08:17] dpmaycry commented on #528
Finally solved the upload part of using okhttp as fuel's client(other kinds of request is already done). Try to complete my work and make it open sourced soon.(or should I make a pull request to fuel).
It may still not prefect, hope everyone to make it better together.

[2018-11-15 08:55] #528 closed

[2018-11-15 13:08] #529 closed

[2018-11-15 16:54] kkday-it-josephcheng commented on #501
Hi,
I really cannot find `Headers.kt` on tag [1.16.0](https://github.com/kittinunf/Fuel/blob/1.16.0/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Headers.kt) but on [master](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Headers.kt) branch.

Could you check again? Thanks

[2018-11-16 15:44] NikkyAI opened #536 "[fuel-core] Merge fuel-coroutines into core to improve suspending request support"
# Refactoring

## Description
core already has a dependency on coroutines and still we have a seperate fuel-coroutines module
so we save nothing on size or dependencies from having fuel-coroutines in a separate module

## Files to process
- [ ] fuel-coroutines
- [ ] update fuel-kotlinx-serialization
- [ ] update fuel-gson
- [ ] update fuel-jackson
- [ ] update fuel-moshi

## Why this is necessary*

[2018-11-16 17:53] gurmailsingh92 opened #537 "How is caching managed? Like 304(Not Modified) and else"

[2018-11-17 00:44] NikkyAI commented on #536
i was informaed that just because core uses suspend it has no dependency on coroutines-core

the question now is.. is there a better way to support this or is coroutines core light enough to include ?

[2018-11-17 11:15] SleeplessByte commented on #537
Caching is currently completely managed through `HttpUrlConnection`: https://docs.oracle.com/javase/8/docs/technotes/guides/net/http-cache.html, which is RFC compliant.

`Fuel` currently doesn't provided its own `Caching` strategy, and instead relies on the platform to provide it.

[2018-11-17 11:15] #537 closed

[2018-11-17 13:03] NikkyAI opened #538 "[fuel-coroutines] not all exceptions are properly wrapped as FuelError"
# Bug Report

## Description
A clear and concise description of what the bug is.

some Exceptions thrown inside a suspending request are not wrapped into FuelError

## To Reproduce
cause a ConnectException on a suspending request with eg. `awaitStringResponse`
it will not be wrapped in a Fuel Error and crash the test

[code]

## Expected behavior
A clear and concise description of what you expecte

[2018-11-17 13:36] #505 closed

[2018-11-17 13:36] #507 closed

[2018-11-17 13:36] #508 closed

[2018-11-17 13:36] #510 closed

[2018-11-17 13:36] #511 closed

[2018-11-17 13:36] #509 closed

[2018-11-17 13:37] #519 closed

[2018-11-17 13:37] #518 closed

[2018-11-17 13:38] #517 closed

[2018-11-17 13:38] #516 closed

[2018-11-17 13:38] #515 closed

[2018-11-17 13:38] #506 closed

[2018-11-17 15:13] wusatosi commented on #514
Thanks for the excellent support! loving your work!

[2018-11-20 09:10] NikkyAI commented on #538
fixed by #512

[2018-11-20 09:10] #538 closed

[2018-11-21 22:19] iNoles commented on #498
Don't depend on the Content-Length at all because it is always unreliable.

[2018-11-22 16:06] CoolMind commented on #531
For those who will get this exception, you can search an error this way.

Open your interactor, find `Deserializer` there. Then open response structure (in the example above it is `data class YourResponse`). In deserialize method temporarily replace `content` variable with your JSON response string. You can get this JSON with Postman or any other application.

[2018-11-26 06:21] dalewking opened #546 "No easy way to add parameters to query for POST"
# Feature Request

## Description
Need to be able to add parameters to the URL of a POST request that has a JSON body. The only way to do it is for me to encode the query into the path string.

## Proposed Solution
A way to have parameters for a POST to put the parameters into the URL and not assume that parameters automatically means form data where the body contains the query.

## Alternatives I

[2018-11-26 07:39] HarryTylenol opened #547 "Support Paging Library with DataSource"
# Feature Request

## Description
LiveData with Fuel is awesome integration.
I think it will be also great with Paging Library for api pagination. (DataSource, PagedList)

## Proposed Solution

[code]
## Alternatives I've considered
I have no idea.
I think it can't append query parameters dynamically.

## Additional context
Thanks.

[2018-11-26 14:45] SleeplessByte commented on #546
👍 yes we need this

[2018-11-26 14:47] dalewking commented on #546
The workaround I am using now is to do:

    "https//baseurl.com"
        .httpGet(urlParams)
        .path
        .httpPost(Collections.emptyList())
        .jsonBody(json)
        ...

[2018-11-26 18:15] SleeplessByte commented on #547
Hi there,

Can you link to DataSourxr and PagedList and the Paging library?

On Mon, 26 Nov 2018, 08:39 박현기, <notifications@github.com> wrote:

[2018-11-26 19:15] henryfjordan commented on #133
This was such a dark pattern. It led to me spending a few hours banging my head against a mystery 405 response code until I logged into our API gateway and started tracing requests.

💩

[2018-11-26 19:41] SleeplessByte commented on #133
Is it currently not correctly documented?

[2018-11-26 22:53] HarryTylenol commented on #547
https://developer.android.com/topic/libraries/architecture/paging/

here it is. thanks!

[2018-11-27 12:17] SleeplessByte commented on #233
This is fixed properly with 2.0.0

[2018-11-27 16:03] thdarknes opened #549 "Fuel"

[2018-11-28 01:15] SleeplessByte commented on #549
Empty issue

[2018-11-28 01:15] #549 closed

[2018-11-28 16:21] CoolMind opened #552 "A program crushes after uploading timeout."
## Description
A program crushes after uploading timeout.

## To Reproduce
Steps to reproduce the behavior:

1. Open a needed screen and turn off a connection.
2. Open a picture and upload it.
3. The application crashes with an error. In one device it is:
[code]
In an other it is:
[code]

## Environment

### Development Machine
 - OS: [Windows 10]
 - IDE: [Android Studio]
 - Fuel version: [1.16.0]

[2018-11-28 16:43] SleeplessByte commented on #552
Thank you for reporting!

Duplicate of #358, fixed in `master`. You can use [jitpack](https://jitpack.io/#kittinunf/Fuel/fba92d4a21) to get the current commit -- or wait for it to drop.

If you don't want to upgrade, temporarily wrap your code in try catch(error: Exception).

[2018-11-28 16:43] #552 closed

[2018-11-28 21:06] iNoles commented on #134
It is getting impossible to do this without removing a lot of code. It also Forced Coroutines to be a part of the core. That may be a huge turn off to some people.

[2018-11-28 21:12] yoavst commented on #134
@iNoles What's about trying to use the [official http client](https://ktor.io/clients/index.html) as backend, wrapping it with fuel?

[2018-11-28 21:50] iNoles commented on #134
Major Code Rewrite. Ktor is very heavily on Coroutines too.

[2018-11-29 00:56] SleeplessByte commented on #134
Do we really need a major code rewrite? It seems we can write a `Client` that uses the ktor client,

[2018-11-29 08:02] CoolMind commented on #552
Thanks you, @SleeplessByte! I will wait some time.

[2018-11-29 08:08] wusatosi commented on #514
Oh bug report on the redirect part, when redirected, the Response object returned did not fulfill any information about the actual response, nor the response header and the statues code (which is -1) is not empty value.
![image](https://user-images.githubusercontent.com/26424577/49207753-d2415e00-f3f0-11e8-8880-0424489233cd.png)

@SleeplessByte

[2018-11-29 14:30] SleeplessByte commented on #514
In 2.0.0 (master branch) response errors should have full response values.

For now you I think the bug is that you still need to add 300...399 as valid status in order to be able to get the whole response, but I'm not sure of the top of my head. You do this by removing all the interceptors first and then adding back validStatusInterceptor(100...399).

[2018-11-29 23:45] #536 closed

[2018-11-30 05:51] SleeplessByte commented on #514
The response variable should not be affected by the validStatusInterceptor
interceptor, so your comment is on point! Also has been fixed in master :)

On Fri, 30 Nov 2018, 06:23 wusatosi, <notifications@github.com> wrote:

[2018-12-02 07:44] hfloveyy opened #555 "fuel-Coroutines 1.15.1 can not import"
# Bug Report

The class file “CoroutinesKt.class” in fuel-coroutines-1.15.1.jar  has no packages and AS can not import coroutines class
![_20181202154214](https://user-images.githubusercontent.com/11957836/49337120-0c0ca180-f649-11e8-815e-3204a641dc7b.png)
![_20181202154306](https://user-images.githubusercontent.com/11957836/49337122-10d15580-f649-11e8-9eab-d757efa4fdb2.png)

[2018-12-02 17:31] SleeplessByte commented on #555
@kittinunf you can close when 2.0.0 is released.

[2018-12-03 14:52] kittinunf commented on #547
But out of the top of my head, I don't think it fits well into the Fuel repo though. I think it is more like a child repo where it should have someone who really commits to this to maintain it. I would rather leave Fuel (even the extension) as it is unless we have something really ubiquitous.

[2018-12-03 14:57] HarryTylenol commented on #547
Ok thanks. I will share gist when my extensions are stable. Thanks! 👍

[2018-12-04 08:30] SleeplessByte commented on #525
This can now be done by using a convoluted `request.body(...).also { body = body.asRepeatable() }`. Some bodies are always repeatable.

[2018-12-04 08:30] #525 closed

[2018-12-06 14:58] #546 closed

[2018-12-07 01:31] #463 closed

[2018-12-12 12:42] #344 closed

[2018-12-12 12:42] #390 closed

[2018-12-12 12:42] #399 closed

[2018-12-12 12:42] #479 closed

[2018-12-12 12:42] #513 closed

[2018-12-12 12:43] #498 closed

[2018-12-12 15:01] #400 closed

[2018-12-13 07:41] CoolMind commented on #555
@SleeplessByte, when will it be released? :)

[2018-12-19 22:46] mobiletoly commented on #358
So why this issue was closed? I'm trying 1.16.0 with .awaitObject() and it still throws HttpException and I don't have access to "httpCode" field that I need.

[2018-12-19 23:30] SleeplessByte commented on #358
It's fixed in master.

On Wed, 19 Dec 2018, 23:46 Toly Pochkin, <notifications@github.com> wrote:

[2018-12-21 08:33] CoolMind commented on #552
@SleeplessByte, as a release has not still been done, can you help me? I have:

[code]
    implementation 'com.github.kittinunf:Fuel:fba92d4a21' // Maybe a newer version, but I couldn't resolve.

Also want to have other libraries (fuel-android, fuel-gson, fuel-coroutines).

After building I get:

[2018-12-21 14:24] franciscoaguirre opened #564 "OutOfMemoryError when uploading file"
Hi everyone!

I am trying to upload a video in android using Fuel.
Everything works fine for small videos but for large ones I get an OutOfMemoryError.
The upload appears to happen until a certain point (seen in the progress bar), then the error is thrown and it stops.
I saw a similar issue related to downloading files and tried to fix the error based on it but unfortunately couldn't.

**Code:**
[

[2018-12-25 11:04] CoolMind opened #565 "Cannot build the library"
As a timeout error has not still been fixed and version 2.0.0 hasn't been issued, I try to build a jar-file. I downloaded the library, added `local.properties` file with SDK path to the root of the library folder, run `gradlew.bat setupDecompWorkspace` with an error:

then `gradlew  build` with an error:

[2018-12-25 13:05] CoolMind opened #566 "How to create a build and run a project?"
I cloned the repository, switched to `master`, added `local.properties` to the folder (with an SDK path). Then run `gradlew build`. After several minutes build has been done with several messages:

So, in `build\libs` subfolders of many packages I could see files like `fuel-1.16.0.jar`. But in `fuel-android`, `fuel-livedata`, `sample` they didn't appear. I got needed files and put in `app\libs` of

[2018-12-25 18:06] brihoumb opened #567 "httpGet can't send body in request"
I'm creating an android app using Fuel for kotlin and i need to send a GET request to the server with a body but got "Exception : method does not support a request body: GET". How can I send a body with my GET request ?

I follow you my function:

[code]

[2018-12-25 23:39] SleeplessByte commented on #567
Hi there!

GET bodies don't work < 2.0.0; I am unsure if they work in 2.0.0 but I'll personally see if we can have that added!

[2018-12-25 23:45] SleeplessByte commented on #566
Hi there,

I recommend using https://jitpack.io/#kittinunf/Fuel to use 2.0.0 right now; `gradlew build` is correct. I don't know how to do a "custom build and get arctifacts / jar", but I think you're on the right track.

We're trying to release it soon after the holidays.

[2018-12-25 23:46] SleeplessByte commented on #564
Hi there,

This should have been fixed, but maybe it's not in the latest release! It's not supposed to retain the file in memory, but there used to be an error with progress + large files. See if the error goes away if you remove the `.progress` function. If that solves it, you can use that until we release 2.0.0.

[2018-12-27 14:01] SleeplessByte commented on #564
My guess it's then how sources are handled in the old code.

https://github.com/kittinunf/Fuel/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Fuel+2.0%22 only a few more issues left!

[2018-12-27 15:10] brihoumb commented on #567
Is there tricks for doing it now ? Or do I need to code it by myself until version 2.0.0 came out ?

[2019-01-02 13:35] SrishtiRoy commented on #179
@SerializedName("screenshots") val screenshots: ArrayList<Link>
i have something like this in my data class,how to parse that using gson

[2019-01-05 21:55] iNoles commented on #567
By according to HTTP Standard, GET should not have request body because it only do query strings.
As for upload function, you should use POST methods.

[2019-01-08 22:14] HarryWindsor opened #570 "Latest version does not work on Android"
# Bug Report

## Description
App crashes when I am trying to get data.

## To Reproduce
[code]

## Environment

### Development Machine
_Complete the following information if applicable_

 - OS: [Windows 10]
 - IDE: [Android Studio]
 - Fuel version: [1.16.0]
 - Kotlin version: [1.2.71]

### Smartphone or Emulator
Emulator

[2019-01-08 22:35] iNoles commented on #570
Network on Main Thread?

[2019-01-08 22:41] SleeplessByte commented on #570
Hi there.

From logcat, can you tell us what the error is?

Which version are you on? 1.x? Or master?

On Tue, 8 Jan 2019, 23:14 HarryWindsor, <notifications@github.com> wrote:

[2019-01-10 15:13] CoolMind commented on #570
Tried this code in a new project, kotlin_version = '1.3.11', device. No errors without Internet permission, downloaded JSON with Internet permission.

[2019-01-10 15:15] CoolMind commented on #570
@iNoles, it is not in main thread, Fuel sends requests in worker thread itself.

[2019-01-10 16:12] iNoles commented on #570
@CoolMind Android handles it differently than on Desktop.

[2019-01-10 20:56] jmeyers91 opened #572 "Put the latest version in the README"
# Feature Request

## Description

I'm fairly new to Kotlin and Android development, so maybe this is a stupid issue, but it's frustrating that I want to use this library, but the installation instructions include `<package>:<latest-version>`, so I have to figure out where the actual versions are hidden. After about 5 minutes of navigating around the repo and documentation site, I've found the req

[2019-01-10 21:30] jmeyers91 commented on #572
Ah that makes sense. I had never heard of jitpack before. But it looks like jitpack only has versions up to `1.16.0` as well:

https://jitpack.io/#kittinunf/fuel

[2019-01-10 21:32] SleeplessByte commented on #572
On jitpack, browse to branches, select master and I recommend using the last commit and NOT snapshot, so you get a stable build.

The first time your build might timeout, but should work the second and thereafter.

[2019-01-10 21:42] #572 closed

[2019-01-11 07:36] CoolMind commented on #570
@iNoles, do you mean that on emulator we have another behaviour?

[2019-01-11 21:20] iNoles commented on #570
Do you don't see those errors on the logcat window without the Internet Permissions or WiFi connected?

[2019-01-14 11:42] CoolMind commented on #570
@iNoles, I didn't see any errors in LogCat, a program didn't crash. I think, the author catched an error in another place.

[2019-01-14 15:54] SleeplessByte commented on #570
@HarryWindsor we really need more information like the actual error, crash log or something else.

"It doesn't work" is not something we can solve.

[2019-01-15 09:21] codenoid opened #576 "[ASK] example file upload & post data with fuel"
when i only define what keys and values for post data & path to file for file upload

[2019-01-15 14:31] SleeplessByte commented on #570
@CoolMind I know; I'm not thát harsch ;) I understand why he does so. Running OSS is exhausting and issues like these are more common than well detailed ones. That said, I'll always give people the chance to amend their question. If @HarryWindsor doesn't reply within the month, I'll close it as `wontfix` until there is more information.

[2019-01-15 14:33] CoolMind commented on #576
@codenoid, what do you mean? There are some examples in issues. See https://github.com/kittinunf/fuel/issues/479 and https://github.com/kittinunf/fuel/issues/529.

[2019-01-15 14:49] SleeplessByte commented on #576
Additionally, check out [upload in `README.md`](https://github.com/kittinunf/fuel/tree/master/fuel#using-multipartform-data-uploadrequest), and the [UploadRequestTests](
https://github.com/kittinunf/fuel/blob/master/fuel/src/test/kotlin/com/github/kittinunf/fuel/core/requests/UploadRequestTest.kt).

[2019-01-16 09:35] codenoid commented on #576
@CoolMind is there any example of `HashMap<String, String>()` var usage for form data with file upload ?

[2019-01-16 10:36] codenoid commented on #576
[code]

superb easy

[2019-01-16 10:36] #576 closed

[2019-01-16 14:04] CoolMind commented on #531
Strange, but last hint didn't help me again. So, I got a crash, replaced a `content` with JSON, then removed some lines and compiled, until found a wrong line in JSON.

[2019-01-16 14:49] CoolMind commented on #566
@SleeplessByte, could you please release 2.0.0 at least as beta? I think in a week or two I couldn't understand from production why JSONs haven't been recognized.

[2019-01-16 16:08] CoolMind commented on #576
@codenoid, :)
It is AsyncHttpClient, not Fuel. :) Of course, it works, but I am not sure it will work in coroutines or RxJava.

[2019-01-17 08:53] codenoid commented on #576
yes sir @CoolMind , from the example, it's easier to work with AsyncHttpClient

[2019-01-17 09:39] CoolMind commented on #576
@codenoid, ah, understood. Probably it's easier, also you can try Retrofit. I was not right, AsyncHttpClient is compatible with RxJava. Good luck!

[2019-01-17 16:11] SleeplessByte commented on #566
You can get it right now using [jitpack](https://github.com/kittinunf/fuel#jitpack). Follow instructions at the link and use the `master` branch 🗡

[2019-01-18 11:09] CoolMind commented on #566
@SleeplessByte, oh, that was difficult. Probably it works, I didn't check.

I added a repository to `allprojects`:
[code]
Then I found last commits in `master` branch. I opened in jitpack.io this:

![49](https://user-images.githubusercontent.com/10630436/51383144-ae191800-1b29-11e9-8d0c-cb0ba861f0ca.png)

Then selected a needed commit and changed version:

[code]

[2019-01-18 14:17] SleeplessByte commented on #566
Yep. That's it.

On Fri, 18 Jan 2019, 12:09 A, <notifications@github.com> wrote:

[2019-01-18 14:42] CoolMind commented on #566
Thanks, @SleeplessByte.

[2019-01-19 19:42] iNoles commented on #493
This issue should be closed for #523

[2019-01-19 19:42] #493 closed

[2019-01-19 19:44] iNoles commented on #107
OkHttp will be dropping Android 4 for better TLS 1.2 Support. Android fully supported TLS 1.2 on Android 5+.

https://github.com/square/okhttp/issues/4481

[2019-01-20 00:34] iNoles commented on #359
Does this work in Android 5?

[2019-01-21 03:33] SleeplessByte commented on #567
@iNoles that was dropped from the RFC. GET requests may have bodies now.

[2019-01-22 12:17] kittinunf opened #578 "Redirect 304 with a matched etag"
# Feature Request

There is a case where our current Fuel couldn't handle properly.

[code]

## Description
To be able to correctly, handle 304 with a matched etag.

## Proposed Solution
TBD

## Alternatives I've considered
N/A

## Additional context
N/A

[2019-01-22 12:23] lmylr opened #579 "Could not work on web"
Error:(10, 2) Kotlin: Cannot inline bytecode built with JVM target 1.8 into bytecode that is being built with JVM target 1.6. Please specify proper '-jvm-target' option

[2019-01-22 14:38] #379 closed

[2019-01-23 13:03] dvlwj opened #580 "Is it possible to get PHPSESSID ?"
Hello guys,

I got a project where i need to do a captcha request, where i need to get PHPSESSID from the API and store it to the cookie.

Is it possible? thanks.

[2019-01-24 21:16] NikkyAI opened #582 "serialization does not work on 2.0.0"
# Bug Report

## Description
the kotlinx-serilaization dependency was not updated
and who knows why you cannot mix 0.9.1 and 0.10.0 of serialization because

## To Reproduce
Steps to reproduce the behavior:
depend on both `rg.jetbrains.kotlinx:kotlinx-serialization-runtime:0.10.0`
and Fuel 2.0.0

building will throw a error like this:

`Cannot access class 'kotlinx.serialization.json.JSON'. Check

[2019-01-24 21:36] SleeplessByte commented on #582
Try it with transitive dependencies off! (On the fuel module).

If that works let's add it to the readme

On Thu, 24 Jan 2019, 22:16 NikkyAI, <notifications@github.com> wrote:

[2019-01-24 21:52] NikkyAI commented on #582
the problem is not the dependency but that the serialization library has a `typealias Json = JSON` and that now points to a nonexistant class

[2019-01-24 22:06] SleeplessByte commented on #582
Ah. Can we remove that?

On Thu, 24 Jan 2019, 22:52 NikkyAI, <notifications@github.com> wrote:

[2019-01-24 22:20] NikkyAI commented on #582
well updating serilization fixes it.. see referenced PR

kotlinx-serialization 0.10.0 is the companion release to kotlin 1.3.20 anyway

[2019-01-25 00:04] SleeplessByte commented on #582
Perfect. Let's merge it asap. I'll approve it when I get home and ping
kittinunf

On Thu, 24 Jan 2019, 23:20 NikkyAI, <notifications@github.com> wrote:

[2019-01-25 00:21] #582 closed

[2019-01-26 07:41] NikkyAI commented on #580
cookies are just fancy http headers:
add a header; `Cookie` as described here: https://stackoverflow.com/a/3467146/9006779

maybe we should add some helper methods for that

[2019-01-26 07:47] NikkyAI commented on #578
my current temporary solution for handling etags is:

[code]

note that i could not use any `.await` methods from fuel-coroutines since they throw and i get a statuscode `-1` in my code

i think i would like a method like: `expect(etagheader: String, cachedContent: ByteArray)`

[2019-01-29 08:23] angelrc96 opened #586 "Response.statusCode returns -1"
# Bug Report

## Description
I'm not sure if this could be considered a bug, but what happens to me is that sometimes when I send a post request then the response statusCode is -1. This value is only returned when the post request is not sent to the destination.

What does this -1 value mean? Because it is not a http response code.

This is my method:
[code]

## Environment

### Development Machin

[2019-01-29 21:44] iNoles commented on #586
Is this is for JavaScript?

[2019-01-30 08:46] angelrc96 commented on #586
No, it is not. It is Kotlin. I needed to use Promises for other purpose

[2019-01-30 16:31] SleeplessByte commented on #586
You already answered your own question:

The status code -1 is used if it didn't even make it to the network layer!

[2019-01-30 16:32] SleeplessByte commented on #437
Ugh. Yeah you're right. @iNoles didn't you know how to fix this?

[2019-01-30 19:09] demisgomes opened #587 "Forbidden status at reqres.in"
# Bug Report

## Description
When i make a single HTTP request to Req | Res API (https://reqres.in/), the request is forbidden.

## To Reproduce
val second=Fuel.get("https://reqres.in/api/users?page=2").response().second
println(second)

second will return an HTML page which says:

Please enable cookies.
Error 1010 Ray ID: <id>• <datetime> UTC
Access denied
What happened?
The owner of this website

[2019-01-30 21:46] iNoles commented on #437
I think I have some idea for this

[2019-01-31 07:42] Xianyang opened #589 "Failure to find com.github.kittinunf.fuel:fuel:jar:2.0.1"
Hi,

I am adding Fuel to a maven project but could not find the dependency. Here is the pom file

[code]

Here is the error
[code]

I went to [http://repo1.maven.org/maven2](http://repo1.maven.org/maven2) and could not find `Fuel`. Could some one help?

Thank you

[2019-01-31 07:55] Xianyang commented on #589
I solved the problem by adding

[code]

[2019-01-31 07:55] #589 closed

[2019-01-31 10:19] angelrc96 commented on #586
Got it. So it's like a default value that is returned when something went wrong sending the request. I was doing some tests and I found out that it's due to Android Doze mode. Because sometimes network requests are delayed and once the task gets back the CPU, it doesn't have network connection or something like that

[2019-01-31 14:54] SleeplessByte commented on #586
You can probably actually capture this:
[code]

Check [here](https://github.com/kittinunf/Result) how you can use our result. **Note**: you need to manually import this or it will use kotlin's built in result.

[2019-01-31 14:54] #586 closed

[2019-01-31 14:55] SleeplessByte commented on #587
This is an issue with [`reges.in`](https://github.com/benhowdle89/reqres). You probably need to manually set a `User-Agent` to something they allow.

[2019-01-31 14:55] #587 closed

[2019-01-31 15:57] #437 closed

[2019-02-01 17:23] CoolMind opened #590 "Empty responses with minifyEnabled true"
Hello!

Fuel 1.16.0.

When I make a request in **debug** mode with `minifyEnabled false`, everything is right. But when turn to **release** with `minifyEnabled true`, I get empty responses. With `minifyEnabled false` everything is right. Also I use MultiDex.

Maybe some other libraries affect, I don't know. I read https://github.com/kittinunf/fuel/pull/96.. When wrote in proguard-rules.pro these l

[2019-02-02 21:15] iNoles opened #591 "Implement Proguard in Android Library"
The Android Library has "consumerProguardFiles" to add proguard rules in the text file into the library. I don't know which proguard rules that really needed to be added to this project.

[2019-02-02 21:18] iNoles opened #592 "Implement Async Methods on Android Handler"
# Bug Report

## Description
On the current project, Android Handler is really on Sync.
I found a very nice example for this
https://github.com/Kotlin/kotlinx.coroutines/blob/master/ui/kotlinx-coroutines-android/src/HandlerDispatcher.kt#L58

[2019-02-07 08:07] Jirayu4R7 opened #594 "[ASK] Is it possible to post data and file upload with Fuel like OkHttp ?"
![image](https://user-images.githubusercontent.com/12969885/52397669-df618400-2ae8-11e9-9b4f-23343e389aa3.png)

![image](https://user-images.githubusercontent.com/12969885/52397712-04ee8d80-2ae9-11e9-9314-7909b872714d.png)

[2019-02-08 02:38] dvlwj commented on #580
@NikkyAI Sorry for late respond. I see, i got it now.
Thanks.

[2019-02-08 02:38] #580 closed

[2019-02-10 18:27] melston commented on #567
This answers a similar question I had.  I have a GET request and I have to pass a structure to the server to generate a file and send it back.  In my case the structure is small so I can put it all in query strings.  However, there are other cases where it becomes a real burden to do so and it is much simpler to have a structured object that is serialized as JSON in the body of the request.  Is th

[2019-02-11 07:11] kittinunf commented on #564
Fuel 2.0 has been released though. @franciscoaguirre Can you see whether this issue can be closed? THanks!

[2019-02-11 07:15] kittinunf commented on #594
Have you checked our documentation? https://fuel.gitbook.io/documentation/core/fuel#using-multipart-form-data-uploadrequest. More specifically,

[code]

[2019-02-12 10:05] davidasync opened #597 "[Question] How to set setIncludeProtocols and setIncludeCipherSuites similar to jetty http client"
At jetty http client we can do set ciphers and protocols like this

[code]

So the question is how to set setIncludeProtocols and setIncludeCipherSuites ?

[2019-02-13 07:36] davidasync commented on #597
Finally I can solve this problem by creating custom ssl socket factory,
Based on this link https://stackoverflow.com/questions/1037590/which-cipher-suites-to-enable-for-ssl-socket

I create this class,

[code]

[2019-02-13 07:36] #597 closed

[2019-02-15 13:55] franciscoaguirre commented on #564
I checked and it works now! Thanks! Closing the issue

[2019-02-15 17:57] SleeplessByte commented on #564
Thank you for taking the time to check this @franciscoaguirre

[2019-02-15 17:57] #564 closed

[2019-02-18 12:59] CoolMind commented on #590
Looking at https://stackoverflow.com/a/51077498/2914140 I found that retaining all classes of a project or even only model classes will help.

So, I retained these lines:
[code]

[2019-02-18 12:59] #590 closed

[2019-02-18 18:01] amiracam opened #598 "can't load via gradle"
# Bug Report
Can't check out Fuel
## Description
added to build.gradle after confirming it existed in maven repo
compile group: 'com.github.kittinunf.fuel', name: 'fuel', version: '2.0.1'
## To Reproduce
just add to build gradle and run build

Stack:

     Searched in the following locations:
       - https://repo.maven.apache.org/maven2/com/github/kittinunf/fuel/fuel/2.0.1/fuel-2.0.1.pom
       -

[2019-02-18 19:22] iNoles commented on #598
looks like you have just mavenCentral(). You need to add jcenter() too.

[2019-02-20 07:02] davidasync opened #599 "[Question] Why header value always array of string instead of normal string ?"
Is there any way to send header value as normal string instead of array of string ?

for example  `{Origin=abc, Content-Type=application/json`instead of`{Origin=[abc], Content-Type=[application/json]`

[2019-02-20 11:18] SleeplessByte commented on #599
It will always _send_ the headers as a string, but when printing them it shows the internal representation. Headers are collapsed into a single value (if possible) when they enter the HttpUrlConnection.

The reason it's always an array is that most headers actually allow multiple values.

[2019-02-20 11:24] #599 closed

[2019-02-20 12:55] davidasync opened #600 "[Asking] Curl string works fine, but the code is produced 500 error"
Hello, I don't know why my code is produce error 500

[code]

here's the error
[code]

[2019-02-22 10:48] thomhurst opened #601 "-1 returned for status code when using await with coroutines"
# Bug Report

## Description
When my request is unsuccessful, and is awaited using the coroutine methods, the status code is being returned as -1

[code]

## Expected behavior
The correct status code should be returned when using coroutines. -1 is not a valid status code.

### Development Machine
_Complete the following information if applicable_

 - OS: Windows 10
 - IDE: IntelliJ
 - Fuel version

[2019-02-22 15:18] kittinunf commented on #594
I guess I will close this issue.

[2019-02-22 15:18] #594 closed

[2019-02-24 04:42] kittinunf commented on #570
I guess let's close this as it looks stale at the moment.

[2019-02-24 04:42] #570 closed

[2019-02-24 05:41] iNoles commented on #601
Which url?

[2019-02-24 08:21] Jirayu4R7 commented on #594
Thank you so much.

[2019-02-24 14:46] thomhurst commented on #601
It's an internal URL to a test server at work, so is not publicly available. I'll have to try to replicate with another public url

[2019-02-25 13:26] SleeplessByte commented on #601
@thomhurst this sounds like something that could actually be on our side.

Can you actually throw the error (inside the result) and post the entire message? It should have several `Cause by:` lines.

[2019-02-25 15:34] thomhurst commented on #601
@SleeplessByte

[code]

[2019-02-25 15:39] thomhurst commented on #601
I've omitted out the URL (As I said it's a work test server)

When debugging, you can see that inside the 'Result' object that holds either the String Response or Error, that there is a response that contains the correct status code. (Though this isn't accessible outside of debugging)
Though if we look at the 'Response' object that we can access, the status code is -1

![image](https://user-images

[2019-02-25 20:17] SleeplessByte commented on #601
Hi @thomhurst , a workaround for now is to always use the error.response object. They are supposed to be the same and that's exactly the bug ;) we don't correctly set the "second" to the error.response if we have a valid error.response.

We do this correctly on a blocking request.

[2019-02-25 20:18] SleeplessByte commented on #601
@NikkyAI actually reports the same issue in #578 -- so consider this confirmed!

[2019-02-26 03:29] iNoles commented on #601
I noticed third one actually contained the right status codes.

[2019-02-26 12:36] kittinunf commented on #601
Thanks for your report!!! @thomhurst I will make sure that we have the next version sooner rather than rather.

[2019-02-26 14:30] kittinunf commented on #578
Yes, I think this shows the same behavior, hopefully #601 fixes your concern @NikkyAI about `.await`

[2019-02-27 16:46] #601 closed

[2019-03-01 15:47] carlos-mg89 commented on #286
The `timeout()` and `timeoutRead()` methods helped me with this matter.

[2019-03-02 05:13] kittinunf commented on #600
🤔

I am running this against the https://httpbin.org/post

[code]

And it works perfectly.

Would you mind sharing us what's wrong on the server's side? Or maybe an URL for us to replicate the problem?

[2019-03-03 05:28] kittinunf commented on #547
@HarryTylenol and let me know when you have something stable and ready to share. I am happy to provide a link from the main repo to your repo or gist for the sake of more visibility. Thanks!

I will close this, but feel free to continue the discussion if you have something.

[2019-03-03 05:28] #547 closed

[2019-03-03 05:28] kittinunf commented on #598
Can we have some feedback on this?

[2019-03-04 10:49] SleeplessByte commented on #600
@davidasync you should check the error `.response` / body message to get the server error body.

[2019-03-04 11:55] carlos-mg89 commented on #598
@amiracam are you using Kotlin 1.3.20 or higher?

In my case, changing the `build.gradle` with this fixed the matter:

[code]

[2019-03-05 18:27] slomkowski opened #604 "HostnameVerifier is not called"
# Bug Report

## Description

Performing GET request doesn't call `hostnameVerifier` which is configured in `FuelManager` instance.

## To Reproduce

The minimal code fragment:

[code]

## Expected behavior

`hostnameVerifier` object should be executed during request, but is not.

## Environment
- OS: Linux
- Fuel version: 2.0.1
- JDK version: OpenJDK 1.8.0_202
- Kotlin version: 1.3.20

[2019-03-06 03:36] PGzxc opened #605 "How to modify file's name before uploading the file"
# Bug Report

## Description
I want to change the name of  file before uploading it.

## To Reproduce
Steps to reproduce the behavior:

1. I use "Fuel.upload" method
2. on source step，i do as this ```source file.apply { renameTo(File(file.absolutePath,"filename"))}```
3. file upload success,but name has not changed

## Expected behavior
upload file has changed name

## Environment

### Development

[2019-03-06 13:30] MrSilverstein opened #606 "Why httpGet() causes a com.github.kittinunf.fuel.core.BubbleFuelError: null?"
## Description
I have a rest call realized by fuel library in my Android app Kotlin project. While attempting to call httpGet I get this

`
Caused by: com.github.kittinunf.fuel.core.BubbleFuelError: null com.github.kittinunf.fuel.core.FuelError$Companion.wrap(FuelError.kt:84) 03-06 11:32:39.112 6328-6328/com.example.demo I/System.out: com.github.kittinunf.fuel.core.requests.RequestTask.executeRequ

[2019-03-07 11:59] SleeplessByte commented on #606
You're calling `.responseObject`. I think calling `.responseBytes` or similar should work.

[2019-03-07 13:06] dineshvg opened #607 "Base64 decoding is wrong"
# Bug Report

## Description
The base64 decoding done by this library provides incomoplete results.

## To Reproduce
Steps to reproduce the behavior:

1. Use this example base64 encoded string:
H4sIANsUgVwA_w3MMQ7CMAwF0Lt4ZojbELtsfLu5RxV5AlGJZEPcPR3f8n50tBa9j_MVH3oQK_JSVTZniMqTDdWMNWXBtl5ePTkWFEfZRYrpntizZ_HquINu1OMdbZzfaxvRB_0nLxS6rmQAAAA
Use CyberChef to test: https://gchq.github.io/CyberChef/

[2019-03-07 13:07] SleeplessByte commented on #607
I think your encoded value is incorrect.

https://www.base64decode.org/
[code]

[2019-03-07 13:13] dineshvg commented on #607
![screenshot 2019-03-07 at 14 11 00](https://user-images.githubusercontent.com/9593739/53959127-14aac300-40e3-11e9-8faf-7334396d99b3.png)

Use cyberChef and check it

[2019-03-07 13:19] SleeplessByte commented on #607
I don't care about cyberchef.

Your input string fails with ALL general implementations:

[code]

The correctly encoded string is (according to `window.btoa`):
[code]

Your Cyberchef tool says the same:

![image](https://user-images.githubusercontent.com/1964376/53959389-cf3ac580-40e3-11e9-9fb7-c7a3f623b0b7.png)

The problem is that you are expectin gzip to unzip AFTER it decodes the string. That'

[2019-03-07 13:20] SleeplessByte commented on #607
In short: this has nothing to do with fuel or the base64 encoding. You are decoding a base64 encoded gzipped string. If you unencode it but don't ungzip it, of course the result is going to be something else.

[2019-03-07 13:20] #607 closed

[2019-03-09 02:17] 1432886945 opened #608 "Could you write a copy in Chinese .Md file?"
# Bug Report

## Description
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[code]

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## Environment

### Deve

[2019-03-09 08:07] easazade commented on #186
wow i was just thinking am i gonna use mockk library on this or not , now i know i am

[2019-03-09 08:08] easazade commented on #186
@oleksiyp wow i was just thinking am i gonna use mockk library on this or not , now i know i am

[2019-03-09 21:49] ProjectZed opened #609 "Custom Moshi Instance"
# Feature Request

## Description
My network requests utilize the following function: `.rxResponseObject(deserializable = moshiDeserializerOf(clazz = responseType))`. However, not all of my Moshi JsonAdapters are created via CodeGen. I have a custom JsonAdapter for DateTime types (specifically Instant). The response fails to be parsed with `JsonDataException: Expected BEGIN_OBJECT but was STRING a

[2019-03-09 22:18] iNoles commented on #609
There is already ``` moshiDeserializerOf(adapter: JsonAdapter<T>)``` that you can uses

[2019-03-09 22:42] ProjectZed commented on #609
`.rxResponseObject(deserializable = moshiDeserializerOf(adapter = moshi.adapter<R>(responseType)))` would have been a beautiful solution. However `moshiDeserializerOf` is an inline reified function which doesn't work with the generic interface I have (at least not to my knowledge).

[code]

[2019-03-14 06:42] kittinunf commented on #608
We would love to but afaik, we don't know Chinese well enough to do that .... , I would be happy to merge the PR if you can help us 🇨🇳

[2019-03-17 13:08] xdma opened #611 "Problem to sign release apk since android studio & build tools - 3.3.2"
# Bug Report

## Description
Problem to sign release apk with json library "com.github.kittinunf.fuel:fuel-json:2.0.1", see the detailed error below.

## To Reproduce
try to sign apk with last android studio & build tools 3.3.2 + "com.github.kittinunf.fuel:fuel-json:2.0.1" library.

## Build error:
Error: json defines classes that conflict with classes now provided by Android. Solutions include fi

[2019-03-17 19:01] sokarcreative commented on #606
Same here

[2019-03-18 00:31] pboschma opened #612 "Install returns error."
Hi there,

I can't seem to get the install correctly. It always returns me the following error; I don't know if I'm doing something wrong or that the documentation could be outdated.

`Failed to resolve: com.github.kittinunf`

[2019-03-18 02:38] iNoles commented on #612
did you have jcenter() on repository, but not in buildscript one?

[2019-03-19 05:06] kittinunf commented on #609
I think it looks like a good solution! Would you mind open a PR for this?

[2019-03-20 02:35] iNoles commented on #611
Workaround would be like
[code]
in Android projects.

[2019-03-28 04:39] mobiletoly opened #616 ".upload with FileDataPart is slow?"
Don't know why, but this code (serviceUrl is localhost in my case):

[code]

is very slow on large files (over 100 MB). When I switch to

[code]
it is very fast, as expected.

So simply replace FileDataPart to BlobDataPart improves a performance in order of magnitude.

[2019-03-28 10:52] SleeplessByte commented on #616
If you check [here](https://github.com/kittinunf/fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/DataPart.kt#L178) you can see that this is essentially what it's doing. So in theory, this should not have changed _anything_.

[2019-03-28 10:52] SleeplessByte commented on #616
@iNoles any ideas?

[2019-03-28 22:27] iNoles commented on #616
If this in Android, he may have to hit slow path operations on Android. He should have to profile his applications to find out where is slow path occurs.

[2019-03-29 04:49] toktogul opened #617 "Authenticator"
Hi guys. When I get 401 response, I want to refresh token and repeat current request, how can I implement this?

[2019-03-29 10:16] mobiletoly commented on #616
this is desktop app (TornadoFX-based app), running on my Mac, so no Android.

[2019-03-29 12:10] SleeplessByte commented on #616
@mobiletoly yep, we believe you, we just don't _understand_ why (yet).

Codewise, it seems that it _should_ be the same 😅

[2019-03-29 14:57] iNoles commented on #616
@mobiletoly Can you profile it?

[2019-04-02 08:22] KiteCapital commented on #606
I also get the same error when using :

`var jsonArray = Fuel.get("http://name.pythonanywhere.com/api/v1/prog").header(Headers.COOKIE, cookie).responseJson().third.get().array()`

but it's funny that the code works when I use:
`Fuel.get("http://name.pythonanywhere.com/api/v1/prog").header(Headers.COOKIE, cookie).responseJson { request: Request, response: Response, result: Result<FuelJson, FuelErro

[2019-04-03 07:48] BVADY commented on #606
I can't figure out why this is not working for me:

`val (_,_,result )= Fuel.get(requestUrl).responseString()`

And this works fine:
[code]

I would like to work as in the first example, because I would like to return this result.

[2019-04-03 17:59] mobiletoly commented on #616
I'm traveling at the moment, so a little bit hard for me to do. So from what I can say just looking in a source code is that FileDataPart and BlobDataPart are different because in case of BlobDataPart the `contentLength` is null by default, while FileDataPart sets `contentLength` to the size of the file. If I pass contentLength parameter to BlobDataPart - it becomes very slow as well. There is obv

[2019-04-03 21:06] SleeplessByte commented on #616
Ugh. @mobiletoly, yes you are right. `setFixedLengthStreamingMode` is supposed to be _faster_ than `setChunkedStreamingMode`. However, this is enough information for us to do some debugging here.

Thank you for the time ❤️

[2019-04-06 19:21] miguelpimentel opened #619 "Support - SDK 15"
# Feature Request

## Description
Support starting in Android SDK 15

## Proposed Solution

## Alternatives I've considered
Currently, Im working with an old system, that supports user with SDK 15. I'm facing off to fix bugs with Retrofit in their current version. So, I decided to test Fuel, I've had a great experience before with it. But unfortunately, It's only available for SDK 19 or higher. Is

[2019-04-08 09:48] SleeplessByte commented on #619
The reasonable [minSDK](https://twitter.com/minSdkVersion) has been [16](https://twitter.com/minSdkVersion/status/629094431031980032) since mid 2015 and [19](https://twitter.com/minSdkVersion/status/795702388774567936) since november 2016. We should _actually_ increase the min SDK to [21](https://twitter.com/minSdkVersion/status/988538738639765505).

[2019-04-08 09:48] #619 closed

[2019-04-09 17:45] easazade opened #620 "A connection to URL was leaked. Did you forget to close a response"
## Problem
this is the warning i get in my logcat
`A connection to http://turkishads.com/ was leaked. Did you forget to close a response `

## My Code

[code]
i think this error only happens when the request is not successful
in libraries like `okhttpclient` we are always needed to make sure responseBody
is closed which is done like this
[code]
how can i do the same with fuel
or is there any other

[2019-04-10 11:20] SleeplessByte commented on #620
Hi there!

In case of an error you need to "read" the error response to fix this warning. The error message will have a body. Once it's read once, this warning goes away.

[2019-04-12 06:17] easazade commented on #620
so this is the code i'm using :
[code]

[2019-04-12 08:18] SleeplessByte commented on #620
That seems ok -- still have an error with that?

[2019-04-12 08:36] #620 closed

[2019-04-13 05:38] easazade opened #621 "logging request body for multipart/form-data requests -- (Fuel.upload())"
# Feature Request
in multipart/formdata requests the body is not logged into the logger

this is the code i use for logging requests :

[code]

# this is my request

[code]

# the log i get right now in my logcat

[code]

# this is what i want to get (this log is from [okhttp3](https://github.com/square/okhttp) library)

[code]

[2019-04-13 15:11] kenrube commented on #621
Well, you can do it manually - all parts of request at your disposal :)
E.g. you can write `String(request.body.toByteArray())` to receive text representation of your binary content. And so on.

[2019-04-14 20:54] SleeplessByte commented on #621
This is something we can potentially support. I'll look into it

[2019-04-15 00:47] easazade commented on #621
Thanks

On Mon, Apr 15, 2019, 1:24 AM Derk-Jan Karrenbeld <notifications@github.com>
wrote:

[2019-04-16 19:41] miguelpimentel commented on #619
Thanks for the support. I'm working with a huge app with more than 500k user, I was thinking in switch from volley to Fuel, but we have to support a few number of users in SKD 15.

[2019-04-16 20:02] iNoles commented on #619
You could use Kotlin coroutines android for it that able to support much older min SDK.

[2019-04-21 11:15] rajeshdalsaniya opened #623 "Error Response body"
With Previous Version I was successfully getting error response via response.data in code like this
[code]

But with latest version of Fuel it not working in android. I tried following code to get error code on Result Failure but it not working. Kindly guide me. Thanks

[code]

My json response is when Result Failure with status code 400 or 422

[code]
Android Error coming when I try to access - r

[2019-04-21 11:54] SleeplessByte commented on #623
Before, we would eagerly load the body response if it were an error. This consumed a lot of data on large error messages even if they were not used.

Now it only reads the error message once you ask for it (.read / .data / etc ).

Your exception is that you're doing this on the main thread. We can probably come up with a better solution for you here, but a temporary workaround would be to use a th

[2019-04-22 05:34] rajeshdalsaniya commented on #623
Thanks for your suggesion. I fixed the issue by making change in error handling code. as per below. I changed error handling as doAsync and Error message on uiThread (Note: I am using [Anko](https://github.com/Kotlin/anko/) Library for background task)
[code]

[2019-04-22 05:34] #623 closed

[2019-04-23 18:19] kittinunf commented on #608
I will close this issue but feel free to reopen if you have more development.

[2019-04-23 18:19] #608 closed

[2019-04-25 18:22] lionlollipop opened #627 "Error on get() method"
The same codes were working fine until the update from version 1.9.0 to 2.0.1.
Error showing at the get method and I am not sure how to solve it.

[code]
![image](https://user-images.githubusercontent.com/49994672/56758755-f8b1cc80-67c9-11e9-8470-3aa058fea307.png)
Errors:
![image](https://user-images.githubusercontent.com/49994672/56758781-08311580-67ca-11e9-95b4-81c2a04b461e.png)

 - OS: Windows

[2019-04-25 21:00] kenrube commented on #627
Try `Fuel.get(quotesUrl, null)`. Second argument is for parameters. When you call this method from Kotlin you can omit second parameter (it is null by default) but you use Java, so must declare null explicitly.

Another (better) solution is to add annotation @JvmOverloads to method `get`. I think so

[2019-04-26 09:13] lionlollipop commented on #627
Thank you! You are my savior!

It works after I put null as the second parameter and use Fuel instance!

```Fuel.INSTANCE.get(quotesURL, null).responseString(new Handler<String>() { ... ```

[2019-04-26 17:56] SleeplessByte commented on #627
We've removed all Interopt like that and support only Kotlin as a first-class citizen.

[2019-04-26 17:56] #627 closed

[2019-04-29 20:43] baillyjamy commented on #606
I have the same errors as those mentioned above with the responseObject method. Blocking queries seem unusable.

[2019-05-02 12:55] kittinunf commented on #606
Assuming that you guys are running on Android, it sounds to me that, you all might be running into `NetworkOnMainThreadException`?

Can you try to see `result.error.exception` is `NetworkOnMainThreadException`? @baillyjamy @BVADY @KiteCapital ?

[2019-05-02 13:03] kittinunf commented on #606
@sokarcreative For your case, since you are using the coroutine extension. `NetworkOnMainThreadException` doesn't apply to you. Can you help me point to the runnable snippet so I can try on my end?

PS.

I am running this on Android project and it works perfectly.

[code]
Output

[code]

[2019-05-02 14:49] #609 closed

[2019-05-03 02:18] RowanG1 commented on #65
The features in Fuel readme page says that cancel is included as function?

[2019-05-03 02:30] iNoles commented on #606
I would like to know these information to reproduce
1) Android Version
2) Fuel Version
3) URL address

[2019-05-03 14:22] SleeplessByte commented on #65
That is correct, on async requests. It will correctly stop your callbacks and/or deserializers from receiving the data and saving processing time.

[2019-05-03 21:17] RowanG1 commented on #65
Okay, so the request can be cancelled if the request has not started yet- you define async request as a delay between request creation, and request execution. The library is so easy to use, but being unable to cancel the callbacks after request start is a fatal flaw.

[2019-05-03 23:45] yaugenka opened #633 "Download take 5-7 seconds to connect to a server"
Using Fuel 2.0.1 in Android Studio with Kotlin 1.3.31.

[code]
There is about 5-7 seconds delay between the connecting and downloading logs.
I tried putting the url into the browser on the same device and it starts downloading instantly.
I also tried other servers but the lag is the same.
Am I doing something wrong or this is a bug?

[2019-05-05 20:00] SleeplessByte commented on #65
No? You can cancel in-flight requests.

[2019-05-05 23:00] RowanG1 commented on #65
See original issue above: "nothing is cancelling (according to the mitmproxy) and after the timeout the success handler is calling"
I have the same problem. I keep a reference in class for the request. I cancel the request, but the success handler is still called after cancellation.

[2019-05-05 23:58] SleeplessByte commented on #65
That might be a bug. A _lot_ has changed since the original issue. Would you be so kind to open a new one with a reproducible example?

[2019-05-06 00:09] RowanG1 commented on #65
I have the time to log a new issue, but not for example code.

[2019-05-06 00:11] RowanG1 opened #635 "Cancel() does not work- callbacks still execute after cancel is executed."
I am using Fuel for various get/post/put requests. I never tested the cancel() for a fuel request before, but now I am: the cancel has no effect- the callbacks are still executed.

[2019-05-07 12:57] kittinunf commented on #612
I will close this due to inactivity.

[2019-05-07 12:57] #612 closed

[2019-05-07 12:58] kittinunf commented on #488
I will close because of staleness. If anyone concerns about this matter, feel free to reopen this.

[2019-05-07 12:58] #488 closed

[2019-05-07 12:59] kittinunf commented on #579
@lmylr Can you possibly give us more infor on this? Can you also try the latest version?

[2019-05-13 11:19] kittinunf commented on #306
@smallufo is there any update on this? Do you think it is still an issue?

[2019-05-13 11:21] kittinunf commented on #606
I would like to hear back on this? We also released new version https://github.com/kittinunf/fuel/releases/tag/2.1.0, do you think it should help solve or at the very least investigate what's going on?

[2019-05-13 11:22] kittinunf commented on #598
It looks stale to me. Let's close then. But please feel free to re-open if you have any other development on the matter.

[2019-05-13 11:22] #598 closed

[2019-05-16 08:56] kittinunf commented on #579
I guess we can close this. Please feel free to re-open this anytime, if you have more info to support your issue. Thanks!

[2019-05-16 08:56] #579 closed

[2019-05-19 06:11] kittinunf commented on #617
I think this has nothing to do with `Fuel` itself, I recommend you try to check the interceptor and write custom interceptor for your needs.

Please check https://github.com/kittinunf/fuel/tree/master/fuel#detail-configuration for reference.

[2019-05-19 06:11] #617 closed

[2019-05-24 21:00] baillyjamy commented on #606
Hello,
Effectively, it was an error of inattention, my synchronous request was in the android main thread. A beginner's mistake. I should have answered faster and told you. I'm sorry.
Anyway, thank you for the modification, I just reproduced this problem and the error is clearer. I think you can close this issue. Sorry again.

[2019-05-25 11:43] #606 closed

[2019-05-29 08:52] Clemon-R opened #644 "Google/Jcenter/Maven Dependencies broken"
# Bug Report

## Description
The dependencies is not working on gradle

## To Reproduce
All need to add the dependencies in your build.gradle

You can check here : https://jcenter.bintray.com/com/github/kittinunf/fuel/fuel/2.2.0/fuel-2.2.0.pom
Or here : https://repo.maven.apache.org/maven2/com/github/kittinunf/fuel/fuel/2.2.0/fuel-2.2.0.pom
Or again here : https://dl.google.com/dl/android/maven2/c

[2019-05-29 08:58] SleeplessByte commented on #644
2.2.0 is not released. The rest seems to be working just fine:

https://dl.bintray.com/kittinunf/maven/com/github/kittinunf/fuel/fuel/2.1.0/
https://bintray.com/kittinunf/maven/Fuel-Android/2.1.0
https://mvnrepository.com/artifact/com.github.kittinunf.fuel/fuel/2.1.0

[2019-05-29 09:00] Clemon-R commented on #644
Thank, but i don't know why until from 10 minutes, all the repos on 2.1.0 were 404 not found.

[2019-05-29 09:09] SleeplessByte commented on #644
I don't think we're on the ones you posted :)

[2019-05-29 09:10] #644 closed

[2019-06-03 16:58] iNoles opened #646 "Corountines-Based Fuel"
This going to be a huge rewrite. I definitely going to need help for it.

- [x] Port Fuel HTTP Client to Corountines-based
- [ ] Platform Configurations
- [ ] Maybe Multiplatforms Support

Is there is anything else to be added?

[2019-06-04 14:00] yannou38 opened #647 "how to set used HTTP version ?"
Hello,

I'm looking at how i can select which protocol to use with fuel, to no avail for now.

Could someone nudge me in the right direction ?

Thanks in advance,
Yann

[2019-06-07 14:39] L4grange commented on #611
Thanks @iNoles ! Is the workaround safe for a production release?

[2019-06-07 15:19] iNoles commented on #646
It is now tracked on the coroutines branch.

I need somebody to help with the response-related functions.
https://github.com/Kotlin/kotlinx-io is very useful for multiplatform IO library such as ByteArray and InputStream on JVM side, and JS sides as well.

[2019-06-07 15:20] iNoles commented on #611
You may not needed it anymore. You can always check.

[2019-06-07 20:22] L4grange commented on #611
I had the issue on a build today and with your workaround I've managed to complete the build. So far no issues with my testing! Thank you!

[2019-06-14 19:56] Parvathymenon25 opened #648 "Expose package fuel-test"
# Feature Request
Expose package fuel-test

## Description
Capability to reuse the Mockhelper created in the fuel-test package

## Proposed Solution
Produce fuel-test artifact.

[2019-06-17 07:11] leo7 opened #649 "How many `FuelManager.instance` per context?"
## This may be a wrong place, but just curious whether `FuelManager.instance` could handle multiple base urls?

### The issue is
I want to use this lib to handle multiple http requests to different base urls, like `Fuel.post(url)` asynchronously in coroutines. Is this thread/coroutine safe and efficient? Will coroutines share the same `FuelManager`?

[2019-06-17 08:20] SleeplessByte commented on #649
Don't use the global `.instance`. Instead, create a `new FuelManager()`.

[2019-06-17 10:09] leo7 commented on #649
Got you, thanks @SleeplessByte

[2019-06-17 10:09] #649 closed

[2019-06-20 04:36] kaushalyap opened #650 "Why use Fuel over something like Retrofit, Volley?"
I came across this library, but it did not mention why one should use Fuel over something like Retrofit or Volley?

It is better to add what are advantages of using Fuel over other libraries to Read Me and documentation intro section.

[2019-06-23 03:44] C06A commented on #650
Not diving deep (as I didn't use either library you mentioned) I see that Volley is Android only library, Retrofit works for Android and Java, but Fuel is for Android and Kotlin.

At the end it is a personal choice. I like Kotlin, so neither Retrofit nor Volley would work for me.

Comparing with other libraries is not necessary on the front of one's documentation. Choose one which fits your needs.

[2019-06-23 04:00] kaushalyap commented on #650
Actually you can use both Volley and Retrofit with Kotlin.

- https://medium.com/@elye.project/kotlin-and-retrofit-2-tutorial-with-working-codes-333a4422a890
- https://www.varvet.com/blog/kotlin-with-volley/

For me I usually reach to new library if it have some improvement over existing proven libraries.

[2019-06-23 04:30] C06A commented on #650
Of cause you can. Kotlin has zero overhead inter-op with Java. Anything from Java can be called from Kotlin and wise versa.
Fuel is writing in Kotlin, so using it in Kotlin code much more natural.

As I said at the end it is a persanol choice.

[2019-06-23 15:13] kaushalyap commented on #650
I am considering it for an android project. Lets see what repo maintainer have to say?

[2019-06-23 17:15] greenwest commented on #616
Hi! Any updates on this? Facing the same issue as author

[2019-06-24 04:01] kaushalyap commented on #650
Does this use Okhttp under the hood? how about performance?

[2019-06-24 16:51] itscorey commented on #650
It doesn't. Fuel uses `HttpUrlConnection` internally. Retrofit, for example, is just a wrapper for OkHttp and is designed for Java.

Fuel is designed for Kotlin and I think this is one of the advantages of using it if you uses Kotlin as main language in your project. Also, it has a nicer support for Coroutines.

[2019-06-25 11:41] kaushalyap commented on #650
Any benchmarks?

[2019-06-25 22:50] itscorey commented on #650
I do not think so.

[2019-06-26 12:11] mbidewell opened #651 "Trying to Get Started - but samples don't work"
# Bug Report

## Description
I'm trying to get started with Fuel, but the sample snippets are not working.

## To Reproduce
Steps to reproduce the behavior:
With Kotlin 1.3 in Intelij,  The Quick start snippet:

[code]
Gives 2 compile errors:
1) Result.Success is marked as a type mismatch for result
2) Result.Failure is marked as hidden.

If I remove that code, and replace the responseString lambd

[2019-06-26 13:16] Cortlandd opened #652 "Upload multiple files"
The documentation discusses adding multipart/form-data. But what about adding a request that takes multiple files (not 1 big file in separate parts) as input. See html example below. I've been trying to do this in fuel but simply get bad request.

[code]

[2019-06-26 14:21] SleeplessByte commented on #651
You need to import `Result` from the package -- this used to NOT be a Kotlin type, and when they added it, the import became required. cc @kittinunf

[2019-06-26 14:22] SleeplessByte commented on #652
Multiple files is the same as adding multiple parts with _different names_. Using multiple parts _with the same name_ will merge them into 1 file at the end.

[2019-06-26 14:54] Cortlandd commented on #652
Then here, why does my server return 400 bad request? I'm passing 2 files with the specified input name. Same thing in postman and it works. Where am I going wrong?

[code]

[2019-06-26 15:07] Cortlandd commented on #652
To give more context. My backend is written in python/flask. the code below is essentially a request which expects image1 and image2 to be file inputs with the names image1 and image2.

[code]

[2019-06-26 15:26] SleeplessByte commented on #652
That's a good question and I don't have a perfect answer :O.

I think it would be good to compare what it sends / receives in the fuel case and in the postman case. Would you be able to get those 2 datapoints?

[2019-06-26 15:46] Cortlandd commented on #652
`I think it would be good to compare what it sends / receives in the fuel case.`
Where exactly? The request header or...?

Also note the files I was sending was created through File.createTempFile().

[2019-06-26 18:20] dustinevan commented on #651
Where is `Result`? I can't find it.

[2019-06-27 00:01] mbidewell commented on #651
Thanks.  The correct include fixed the compile error, but the response lambda is never called.  my full sample is:
[code]
Only two of three println statements execute.  I'm new to Kotlin and Fuel, I'm sorry if this is a basic issue.

[2019-06-27 02:56] kittinunf commented on #651
🤔 This looks correct to me. Can you somehow also put a `println` inside the `Result.Failure` as well? I'd like to see whether we have an error here.

[2019-06-27 03:30] kittinunf commented on #650
Hi @kaushalyap, thanks for raising the concern and creating an issue here. Much appreciated.

For me personally, here are my thoughts over the project.

1. `Fuel` is built to be kotlin-esque. While other libraries you mentioned are great and nice, `Fuel` tries to fill in the different role which is to be the easiest or the most kotlin-esque to the project that already Kotlin as your main language.

[2019-06-27 03:33] kittinunf commented on #646
I think this might be a good idea to kick off Fuel 3.x and it might require a major rewrite while maintaining the version 2. What do you think?

[2019-06-27 03:42] iNoles commented on #646
Heh, slowly doing testing now

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-27 05:50] #621 closed

[2019-06-27 14:43] #650 closed

[2019-06-27 14:56] kaushalyap commented on #650
@kittinunf Thanks for reply, keep up the great work! Add your project goals to the Read Me and doc it will be useful for users. Have not you done any benchmark of fuel throughout the development? (IMHO benchmarks are better to understand performance as library evolves.)

[2019-06-28 00:03] mbidewell commented on #651
Ok, I added the println:

[code]

Here is the output:
[code]
tcpdump shows no activity

[2019-06-28 00:49] SleeplessByte commented on #650
We have done internal benchmarks here and there, but this library is usually not the bottleneck in any application so there is no point sharing that data as it's not one of the design goals.

[2019-06-28 00:50] SleeplessByte commented on #621
@easazade did you mean to close this?

[2019-06-28 00:52] SleeplessByte commented on #646
Yes, version 3!

[2019-06-28 00:59] easazade commented on #621
Yeah

On Fri, Jun 28, 2019, 5:20 AM Derk-Jan Karrenbeld <notifications@github.com>
wrote:

[2019-06-28 01:11] SleeplessByte commented on #621
Would you be okay if we re-opened it? It's still on our list to build/add.

You can unsub here:

![image](https://user-images.githubusercontent.com/1964376/60310288-7624c500-9952-11e9-96f0-2c7c98f6430d.png)

If you're not okay with that, I'll duplicate the issue.

[2019-06-28 02:09] kittinunf commented on #651
😄 I know what it is now! The `responseString { }` is asynchronous. So the program dies soon right after the `println("After Call")` so you won't see anything. 😃

Can you try the `sync` version instead? i.e. `val (req, res, result) = ....
.responseString()`

[2019-06-28 02:16] mbidewell commented on #651
Yup!  Thanks!  Sorry about that.  Might I suggest though that a synchronous example be added to the docs?  I thought that by not including the coroutines package, that I was disabling asynch.

[2019-06-28 02:16] #651 closed

[2019-06-28 11:01] SleeplessByte commented on #651
Yes, that's something we can make more clear in the docs!

[2019-06-30 13:13] kittinunf commented on #651
No need to be sorry! @mbidewell Thanks for using the library though! Also, if you like to help us, you can send a PR as well (only improving the doc is more than perfect, to be honest, we want to help you and others have a pleasant time using our library). Cheers! 🍺

[2019-06-30 13:31] kittinunf commented on #600
I will close this due to inactivity. Feel free to re-open this if you need more help.

[2019-06-30 13:31] #600 closed

[2019-07-03 14:46] kittinunf commented on #647
Could you show us what have you tried? I guess you just passing the "http" url, right?

[2019-07-03 15:22] yannou38 commented on #647
Sorry, my issue wasn't due to this problem actually and I forgot to close it.

My problem was sending a get request with a body. That caused kotlin to not send the body and the receiving end would crash

[2019-07-03 15:22] #647 closed

[2019-07-05 23:38] leonhsu1 opened #655 "Request's parameter field in RequestInterceptor is empty"
When intercepting the request, the parameter field is empty. I'm guessing that before the request interceptor intercepts the request, Fuel already takes the parameter field and puts it in the URL path.

This makes it difficult to extract the query parameters because now I have to go to the URL parameter, take the string of the query param and break it down to a map<String, String>.

[code]

Can it

[2019-07-06 12:09] GitPotTime opened #656 "Set the proxy for each requests"
# Feature Request

## Description
I work a lot with proxies and multiple threads. Currently, the only to use proxies is to set the proxy using `FuelManager.instance.proxy` but this is not for multiple proxies and multiple threads.

## Proposed Solution
The best way is to set the proxy for each requests.
## Alternatives I've considered
Like this: "https://google.com".sendGet().setProxy("AProxy")`

[2019-07-06 12:37] SleeplessByte commented on #656
[code]
Something like this?

[2019-07-06 12:47] SleeplessByte commented on #655
There is an interceptor that takes care of encoding parameters into the url:
https://github.com/kittinunf/fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/interceptors/ParameterEncoder.kt

And then unsets the parameters:
https://github.com/kittinunf/fuel/blob/7b56b22799905ea3c4b7b26addd84dc978983247/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/interceptors/ParameterEncod

[2019-07-06 13:54] GitPotTime commented on #656
Yes exactly

[2019-07-06 14:03] #656 closed

[2019-07-06 14:09] rraayy opened #657 "[Ask] multipart/form-data with header use"
Hi, Meets some problem when using fuel in Kotlin.

I have to upload a image and also needs with some data like "name" and "id" like the attached image in Postman.
I also need to add "Authorization" in the header.
![螢幕快照 2019-07-06 16 21 14](https://user-images.githubusercontent.com/4694572/60757170-a0087680-a039-11e9-821d-b2ad1730a59f.png)

below is my code
` var paraList = listOf("name" to name)

[2019-07-06 20:56] Cortlandd commented on #652
Figured it out.

[code]

[2019-07-06 20:56] #652 closed

[2019-07-08 06:50] MitjaHenner opened #658 "Only getting ??? for UTF-8 text"
Im using Android with Kotlin and fuelAndroid/Gson/Coroutines.

httpPost response gives me:
???
instead of
ไทย

Thats what the InputStreamReader gives me so its not a Gson problem.
The InputStreamReader says ist UTF-8.

I tested the server with ARC where the response was fine.

In the FuelManager baseHeaders I set "Content-Type" to "application/json; charset=utf-8"

[2019-07-08 07:22] iNoles commented on #658
According to the specs, default encoding of application/json is UTF-8. What is ARC?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-08 07:25] MitjaHenner commented on #658
Sorry, Advanced REST client, a tool like postman.

[2019-07-08 10:09] kittinunf commented on #648
I believe it is relatively simple to roll your own for that use-case. I don't think we are gonna publish that for public use. 🙏

I will close this down, as solved for "won't fix" but please let me know if you wanna discuss further.

[2019-07-08 10:09] #648 closed

[2019-07-08 10:12] kittinunf commented on #658
Hmm, I use this regularly when interacting with lots of Japanese characters and it works perfectly fine. I believe it should be the same with Thai character.

Could you please help us by posting some snippet of code to demonstrate the problem? If the API is accessible, then it would be awesome!

[2019-07-08 10:32] MitjaHenner commented on #658
I used the same API in another project, where its still working fine.
So I removed coroutines and switched back to the same version: 2.0.1.
Still not working, if im not missing something its the exact same code now.
Is there something else that could have changed this?

[2019-07-08 11:28] MitjaHenner commented on #658
Sorry, 100% my bad. Was a server issue after all.

[2019-07-08 11:28] #658 closed

[2019-07-08 12:21] SleeplessByte commented on #648
@Parvathymenon25 since this is licensed as MIT, you can just copy MockHelper from  `fuel-test`.

[2019-07-08 17:23] leonhsu1 commented on #655
Thanks! Worked great for me.

[2019-07-08 17:23] #655 closed

[2019-07-10 16:16] ChrissinjinTurner opened #659 "SSL or Connection Issue causing crashes"
# Bug Report

## Description
I want to start out by saying sorry if this was already answered elsewhere, I tried looking but didn't seem to find anything. Over the past couple weeks my android app has been having multiple crashes. On average 3-4 a day that get reported. They are all kind of similar but different enough to create different issues. They seem to be related to either the connection to

[2019-07-10 16:27] iNoles commented on #659
Caused by: java.net.SocketTimeoutException: timeout and Caused by: java.net.SocketException: socket is closed

maybe you should increase timeouts?

[2019-07-10 16:31] ChrissinjinTurner commented on #659
I have tried to do that by using the `https://httpbin.org/delay/5` to test and see if that could solve it. Without being able to reproduce it, it's hard to tell if it works. I am just not sure that's the issue because the timeouts were actually lower when we were on version 1.15 (they were set to 8 seconds and now they are the defaults which i think is 15).

[2019-07-10 16:37] ChrissinjinTurner commented on #659
Some of the other major errors include:
`Caused by: com.github.kittinunf.fuel.core.FuelError: SSL handshake timed out`
`Caused by: com.github.kittinunf.fuel.core.FuelError: Unable to resolve host "url": No address associated with hostname`
`Caused by: com.github.kittinunf.fuel.core.FuelError: Read error: ssl=0x7d6dfb3488: I/O error during system call, Software caused connection abort`

These all s

[2019-07-10 21:04] ChrissinjinTurner commented on #659
So while searching around for what could possibly cause the crash I came across this that seems like it might be the cause. What exactly would be the fix for this?

[code]

[2019-07-13 10:49] 1951FDG opened #660 "Java URLConnection provides no fail-safe timeout on reads"
Hi,

I'm in need of some advice, after some testing, I finally discovered a bug, where a fuel request would not timeout according to the timeout() or timeoutRead() set.

It happens to be so, Java URLConnection provides no fail-safe timeout on reads. I stumbled upon a couple of articles on how to tackle this:

http://thushw.blogspot.com/2010/10/java-urlconnection-provides-no-fail.html
http://leakfr

[2019-07-14 20:54] SleeplessByte commented on #660
The problem is that we can't distinguish a hung-server from a slow-server form a legitimate long-polling server. There is no _real_ way to catch this. You may manually cancel the call using `Fuel`, as per the articles you've linked.

Note that this is the case for _any_ library on top of `URLConnection`.

[2019-07-17 14:35] david-wg2 opened #662 "[fuel-jackson] Add Request.body(any: Any) extension method"
I'd like to be able to make requests like this:

[code]

Currently I have an extension method in my project which allows this:

[code]

Would be nice if this was a part of the `fuel-jackson` module.

[2019-07-17 22:06] SleeplessByte commented on #662
I don't think I quite understand what you're asking for 😅. I personally think it's great to add project-based extension methods in your project!

[2019-07-17 22:18] tipsy commented on #662
The `kotlin-jackson` module adds `responseObject()` as an extension-function, so you can easily convert a HTTP response body to a Kotlin object.

I'm proposing adding another extension-function, `body()`, so you can easily convert a Kotlin object to a request body.

[2019-07-17 22:43] SleeplessByte commented on #662
Got it. Can you post the extension method _in full_ that you currently use? I think we can add this to all the libraries, if applicable!

[2019-07-17 23:27] tipsy commented on #662
I can do that tomorrow. It's just the standard serialization call though, nothing out of the ordinary.

It will work fine with all libraries.

[2019-07-18 07:58] tipsy commented on #662
[code]

[2019-07-18 10:25] tipsy commented on #662
That'd be great.

[2019-07-18 10:38] benjefferies commented on #662
I'm switching from fuel-gson to fuel-jackson and this is a missing feature where gson has a `jsonBody` extension

[2019-07-18 11:16] SleeplessByte commented on #662
@benjefferies yes, I feel like adding `jsonBody` or `body` everywhere is cewl :)

[2019-07-18 19:22] #659 closed

[2019-07-21 05:33] kittinunf commented on #662
@tipsy are you happy to throw a quick PR? I would love to see it added ❤️

[2019-07-21 08:23] tipsy commented on #662
I tried to clone the project and run it locally, but got an `SDK location not found.` error. I have some other stuff I have to deal with today, so I can't really spend too much on this.

[2019-07-21 19:03] iNoles commented on #662
Ah it is looking to Android SDK path.

[2019-07-21 19:04] tipsy commented on #662
Why? How is this project related to Android?

[2019-07-21 19:10] SleeplessByte commented on #662
`fuel-android` is

[2019-07-21 19:21] tipsy commented on #662
I see. Is Android Studio required to run the project?

[2019-07-21 22:02] SleeplessByte commented on #662
No, @kittinunf and I both run IntelliJ (NO Android Studio).

[2019-08-01 03:08] jeffcjohnson opened #666 "post parameters do not work"
## To Reproduce
From the documentation https://fuel.gitbook.io/documentation/core/fuel#adding-parameters[Adding Parameters] (`body()` in the docs should be `body`):
[code]

## Expected output
[code]

## Actual output
[code]

### Development Machine
 - OS: MacOs
 - IDE: IntelliJ
 - Fuel version: 2.1.0, 2.2.0
 - Kotlin version: 1.3.21

[2019-08-02 00:19] SleeplessByte commented on #666
I think the parameters might be converted as middleware, which means the example in the doc is incorrect. We'll investigate!

[2019-08-03 16:51] NavyaZaveri commented on #666
`GET` request parameters do no work either. The test-case is identical to the original issue, except we call `get`.
]

[2019-08-06 10:07] jsyeo opened #667 "fuel is ~22x slower than java.net.http.HttpClient"
Fuel seems to be very slow when sending a sending a request in its body. This is even more pronounced when the payload gets bigger (> 1MB). When benchmarked against the `java.net.http.HttpClient`, I noticed that fuel is 24 times slower than the http client that came with Java 11. This is the code I used to do a simple benchmark.

[code]

Here I am running a local sinatra server at `localhost:4567`

[2019-08-06 17:09] SleeplessByte commented on #667
What are the results of https://github.com/jsyeo/fuel/commit/04d6b25f44fe356866998352a6e7e982e86f281d?

[2019-08-06 19:55] #660 closed

[2019-08-07 02:56] jsyeo commented on #667
[code]

Here you go!

[2019-08-07 12:40] #667 closed

[2019-08-08 08:02] xcq1 opened #669 "Requests to localhost stop working in 2.2.0"
# Bug Report

## Description
After updating to 2.2.0 requests to localhost are not working as before.

## To Reproduce
Steps to reproduce the behavior:

1. Start a server on localhost that responds with status 200 on port 8420 (or any other)
2. Run this JUnit test case with 2.2.0:

[code]

## Expected behavior
The test passes just like it does when I change the dependency back to Fuel 2.1.0.

## A

[2019-08-08 19:23] iNoles commented on #669
Looks like my bad #639 :(

[2019-08-09 01:51] ProjectZed opened #671 "application/json;charset=utf-8 doesn't match expected text content type regex"
# Bug Report

## Description
When an HTTP request comes back with a Content-Type header value of "application/json;charset=utf-8", logging the response `Body#representationOfBytes` fails to match with this content type because of the missing space.
https://www.rfc-editor.org/rfc/rfc2045#section-5.1 : The original spec outlining Content-Type header formatting doesn't explicitly declare whitespaces

[2019-08-09 01:55] panpanini commented on #662
I can take a look at this if people are busy 🙋

[2019-08-09 12:22] SleeplessByte commented on #671
Can you open a PR to change the regex? It is correct that the space is not _required_ per the spec.

[2019-08-10 05:43] #669 closed

[2019-08-11 00:13] #671 closed

[2019-08-12 17:26] marcspraragen opened #674 "ResponseHandler"
Hi--

I'm using android studio 3.4.1 / gradle 3.4.2 / fuel-2.2.0.jar

In files FuelJson.kt and FuelSerialization.kts, the statement

import com.github.kittinunf.fuel.core.ResponseHandler   //("Unresolved reference")

... not finding the file / class ResponseHandler in any package. ResponseHandler doesn't seem to exist in the repository here either.  How to resolve these references?

Thanks,
--Marc

[2019-08-12 20:37] jeffcjohnson commented on #666
Is there a workaround or something else I should install?  Seems odd that nobody else noticed that two releases don't support request parameters.

[2019-08-13 15:42] tfactor2 commented on #667
@jsyeo I've experienced similar issue on v.2.2.0 but didn't notice this bug report - therefore did my own investigation.
The original problem stated in description will not be solved by the fix - it's a workaround - if I still need a progress callback the performance drop will be huge.

The problem is located in the `ProgressOutputStream` that is inherited from `java.io.FilterOutputStream`. The `F

[2019-08-13 16:08] SleeplessByte commented on #667
When writing this I came across it but I completely forgot about this
(it says something about inefficient implementations of write)

Yes, if that fix passes the tests I would love it .

On 2019-08-13 17:42, tfactor2 wrote:

[2019-08-13 16:29] tfactor2 commented on #667
could it be done (pull request created) in scope of this issue?

[2019-08-13 19:20] SleeplessByte commented on #674
It's [here](https://github.com/kittinunf/fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Handlers.kt): https://github.com/kittinunf/fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Handlers.kt

[2019-08-17 16:10] TheEagle0 opened #677 "Can't pass arabic chracters in inline data part"
I am calling an API with fuel like this
[code]

[code]
When passing title to API in Arabic it gives me an error :
 java.net.ProtocolException: expected * bytes but received *
but when title is in English it works just fine.

![Screenshot_20190817_180434](https://user-images.githubusercontent.com/31284369/63214581-38564880-c11a-11e9-8953-8a2b67f32c0a.png)

[2019-08-18 12:51] kittinunf commented on #674
It looks like @marcspraragen using version `1.13.0` ? Maybe, you should upgrade to version 2?

[2019-08-18 20:57] SleeplessByte commented on #677
Interesting! Somewhere, we're probably _not_ correctly converting the bytes (to utf8) BEFORE counting them, so the before count doesn't match the after count.

[2019-08-19 13:46] GitAntoinee opened #679 "Get request instance from FuelError"
# Feature Request

## Description
Hello, I work with the `responseString` method, and it throw a `FuelError` exception. Then, when I catch this exception I'd like to be able to get the Request instance used. It is returned from the `responseString` but not from the exception.

## Proposed Solution
Add in the FuelError constructor the Request instance used

## Alternatives I've considered
We can ad

[2019-08-19 15:44] muhammadelkady25 commented on #677
Is there is any walkaround ?

[2019-08-21 19:06] abraaocaldas commented on #286
I'm having the exactly same problem, specially if I do multiple uploads at same time, if you try to upload 100 * 1MB file, on the 30th file the problems happens and the lib crashes.

[2019-08-21 23:48] SleeplessByte commented on #286
If you're doing multiple uploads at a time, and don't manage how many are active, it will load _all_ the streams into memory at the same time. Fuel doesn't pool requests at the moment, so you're responsible for that.

[2019-08-22 00:34] abraaocaldas commented on #286
So what is the maximum file for upload? Because 10MB of data seems very little to me (10 upload instances of 1MB at any given time).

I don't see the issue using postman for example, even trying to upload bigger files at same time, I'm sure that the server side is not the problem.

[2019-08-22 05:01] SleeplessByte commented on #286
There is no maximum file uploads. Postman will limit the number of _concurrent_ uploads automatically. Your browser limits it to ~6 (depending on the browser and version). Fuel does **not** limit it.

[2019-08-23 18:30] christophehenry opened #680 "fuel-stetho README doesn't exist"
`fuel-stetho`'s README is linked in [Utility section](https://github.com/kittinunf/Fuel#utility) but doesn't exist.

[2019-08-24 10:21] kittinunf commented on #680
Opps! I will work on this then.

[2019-08-24 15:00] dawsonlee1790 opened #681 "Get Body"
# Bug Report

## Description
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[code]

## Expected behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## Environment

### Deve

[2019-08-24 15:00] #681 closed

[2019-08-24 20:10] dawsonlee1790 opened #682 "How can I send GET request with body?"
I have read the Fuel Documentation and learn that:

### 1. The default client is HttpClient

The default client is HttpClient which is a thin wrapper over java.net.HttpUrlConnection. java.net.HttpUrlConnection does not support a [PATCH](https://download.java.net/jdk7/archive/b123/docs/api/java/net/HttpURLConnection.html#setRequestMethod(java.lang.String)) method. HttpClient converts PATCH requests

[2019-08-25 00:39] iNoles commented on #682
Android’s HttpurlConnection doesn’t support it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-25 15:00] christophehenry commented on #680
(Thank you for your awesome work, BTW. I'm using Fuel for [FreshRSS](https://git.feneas.org/christophehenry/freshrss-android). Awesome to work with :+1:)

[2019-08-30 07:14] blank15 opened #683 "Can not deserialize in RxJava when i use T for request Object in base Response"
# Bug Report

## Description
Can not deserialize in RxJava when i use T for request Object in base Response
how i can fix it?
## Screenshoot
![image](https://user-images.githubusercontent.com/17905489/64000550-359f1e80-cb30-11e9-8b63-512afbae4f5c.png)

[2019-09-03 16:31] dawsonlee1790 commented on #682
Thank you for your answer.

[2019-09-03 16:31] #682 closed

[2019-09-04 05:50] KevUKHD opened #685 "Error writing request body to server"
# Bug Report
Hello,
I'm encountering an "Error writing request body to server" Error when making a Put request using Fuel.
The Request looks as follows:
`http://169.43.237.80:31688/webhdfs/v1/api/csv/report-04-09-2019_07-43-55.csv?op=CREATE`

## Full Error Log
`Error writing request body to server
       com.github.kittinunf.fuel.core.FuelError$Companion.wrap(FuelError.kt:84)
       com.github.kit

[2019-09-05 09:39] bagage opened #686 "Please release a 2.2.1"
I didn't find any chat/IRC room or equivalent to contact you by another mean, but could you release a 2.2.1 release to fix the current latest broken version please?

The 2.2.0 breaks localhost tests (#669). We downgraded to 2.1.0, but there are other bugs fix we'd love to have (#671)…

Thanks!

[2019-09-05 09:45] SleeplessByte commented on #686
https://github.com/kittinunf/fuel/pull/684

[2019-09-05 09:45] #686 closed

[2019-09-05 10:29] bagage commented on #686
:man_facepalming: :man_facepalming: :man_facepalming: :man_facepalming: my bad, I checked all opened/closed issues and merged PRs but didn't think to look at actually opened PRs :laughing:. Thanks @SleeplessByte!

[2019-09-15 12:53] Nohus opened #687 "Getting raw response"
I am connecting to a server using `gzip` Content-Encoding. I want to verify responses to my Fuel requests are using gzip, but it seems there is no way? When I check the response length, it seems it's always the length after it's ungzipped, and I cannot access the original gzipped response, only the plain text. How do I access the original response, or it's length, or verify in another way the resp

[2019-09-15 12:58] Nohus commented on #687
Solved by adding a breakpoint in `GZIPInputStream.java` and verifying it's hit when the response comes back (and does not when not adding the `Accept-Encoding: gzip` header).

Issue still stands that the original server response seems inaccessible in Fuel.

[2019-09-17 09:22] JQ-miao opened #688 "Time out issue"
I used the following code to set the timeout, but it still always have an automatic timeout at 60s. Could you tell me why?

Fuel.get(path)
            .timeout(150 * 1000)
            .timeoutRead(150 * 1000)

[2019-09-17 10:27] JQ-miao commented on #688
Setting the timeout below 60s，it will make timeout on time.  If it is higher than 60s, it will not work.

[2019-09-18 13:16] baillyjamy opened #689 "Handle empty body for Delete method and have a valid Result object"
# Feature Request

## Description
I try to do a request delete HTTP method in a coroutine. My api return an empty body for a delete but I would like to receive a `com.github.kittinunf.result.Result` after a call of `Request.awaitObjectResult()`.
I know I shouldn't use this class request method because my body is empty so I can't deserialize nothing but I use your `Result` class to check if my requ

[2019-09-18 14:00] SleeplessByte commented on #688
Your server probably times out after 60s.

[2019-09-18 14:05] SleeplessByte commented on #687
This is implemented per the HTTP spec. Content-Encoding is handled as follows:

https://github.com/kittinunf/fuel/blob/37867031dc7f50722d83f2d703b9567c16579291/fuel/src/main/kotlin/com/github/kittinunf/fuel/toolbox/HttpClient.kt#L103-L115

https://github.com/kittinunf/fuel/blob/37867031dc7f50722d83f2d703b9567c16579291/fuel/src/main/kotlin/com/github/kittinunf/fuel/toolbox/HttpClient.kt#L147-L161

[2019-09-18 17:32] Nohus commented on #687
I understand, thank you for the response. :)

[2019-09-18 17:32] #687 closed

[2019-09-19 20:24] asarkar opened #690 "cUrlString URL should be enclosed in double quotes"
# Bug Report

## Description
[code]
The problem is that the URL is not enclosed in double quotes, so on a *nix system, it is chopped at `&`, sent to background, and param `c=d` is ignored.

## To Reproduce
Simply log any call with query params using cUrlString.

## Expected behavior
cUrlString URL should be enclosed in double quotes.

## Environment
N/A

[2019-09-28 20:46] GitAntoinee opened #691 "How can I upgrade the Android API level"
How can I upgrade the Android API level? I want to compile using API 29 instead of API 28

[2019-09-30 23:49] panpanini commented on #691
You should be able to update the compile API here:
https://github.com/kittinunf/fuel/blob/master/buildSrc/src/main/kotlin/Constants.kt#L6

[2019-10-06 07:05] kittinunf commented on #690
Ah, I think you are right! I will take this 🙇‍♀

[2019-10-06 08:19] kittinunf commented on #689
@baillyjamy Do you think we can just use `Result<Unit, FuelError>` to represent the data that you want?

[2019-10-06 08:50] baillyjamy commented on #689
Yes, I think it's more convenient. But I don't think that's possible at the moment.

[2019-10-06 09:37] kittinunf commented on #689
🤔 Just to make sure I understand you correctly. If the backend returns you with an empty JSON like `{}`, you can map that into a `Unit`, right?

You said that it is not possible, it means that your backend returns you nothing?!?!

[2019-10-07 05:21] kittinunf commented on #683
Could you please tell me what the error says?

[2019-10-07 06:36] baillyjamy commented on #689
The backend return a empty body for a delete http call. Not a empty JSON. But I have the rest of my response (size, status code, etc..).
I said that it is not possible because i can't deserialize a empty body. I would like to return a `Result<Unit, FuelError>` but at the moment `Request.awaitObjectResult()` need a `ResponseDeserializable` object. I can't create a `ResponseDeserializable<Unit>`
Or

[2019-10-08 13:50] kittinunf commented on #689
🤔 Can you provide a some sort of "dummy" Deserializable? Like

[code]

Then, pass it into your `awaitObjectResult`?

[2019-10-08 13:54] kittinunf commented on #679
You can get the request object from your first parameter right?

[code]

[2019-10-08 13:58] GitAntoinee commented on #679
Hello, no this is not possible because I can't get the request variable from the catch block:
[code]

[2019-10-08 14:01] kittinunf commented on #679
Sadly no, you have to save the Request yourself. What do you actually want to have from `Request` object though? If you want just an `URL`, `Response` has it.

[2019-10-08 14:07] kittinunf commented on #674
I guess that should answer your question, I will close this issue for now. But feel free to create new one if you have other issues. Thanks!

[2019-10-08 14:07] #674 closed

[2019-10-08 14:07] GitAntoinee commented on #679
Hello, do not worry, I forked fuel and added this feature myself.
I needed the request instance to get the request body

[2019-10-08 14:07] #679 closed

[2019-10-08 14:27] SeleznevAM opened #692 "Request by TLSv1"
Hi all.
I have api client on Fuel.
Sometimes, if I have a bad network connection I observe what my request going by TLSv1.
it happens when I use my application on Android 8 or 9.
What must I get to you to resolve my trouble?
I have Charles dump and Wireshark dump where you can see it.
Advance thanks.

[2019-10-09 09:57] baillyjamy commented on #689
Oh :open_mouth:. It was so simple. Sorry about that. Thank you very much !
Yes, I also think it's too specific. Besides, you just showed me that there's no need to do too much.

[2019-10-09 09:57] #689 closed

[2019-10-10 06:21] caiyoufei commented on #666
if post no parameters  is ok

[2019-10-12 07:09] caiyoufei commented on #666
The reason was found because I used [pandora](https://github.com/whataa/pandora)
@SleeplessByte

[2019-10-15 14:46] F43nd1r opened #694 "204 + Gzip leads to EOFException"
# Bug Report

## Description
If a server returns a `204 No Content` including a `Content-Encoding gzip` header, Fuel will throw an `EOFException`, because it tries to read a gzip header from an empty body.

## To Reproduce
Steps to reproduce the behavior:
[code]

## Expected behavior
I would expect Fuel to return an empty string here.

[2019-10-15 15:03] SleeplessByte commented on #694
FWIW, this is non standard behaviour, but has been reported in other agents like [here](https://github.com/visionmedia/superagent/issues/857) as well.

We can probably apply the same fix: see if there is content to decode and ignore if there isn't any.

[2019-10-15 15:21] F43nd1r commented on #694
True, but handling it gracefully would be nice anyways.

Sounds good.

[2019-10-15 19:35] SleeplessByte commented on #694
Oh I just meant to explain why it currently blows up. I followed the RFC very closely to implement everything. We then ran into non standard things android already does so no worries :)

[2019-10-20 05:50] kittinunf commented on #683
I think I will close this. But feel free to reopen to discuss/add more information.

[2019-10-20 05:50] #683 closed

[2019-10-24 04:15] C06A opened #695 "Query parameters doesn't work with POST request"
# Bug Report

## Description
I try to login into Artsy API. For that they require POST request with query parameters.
My code looks like:

[code]

(with appropriate values)
The Fuel reports code 403, but when I run its curi from the shell prompt (with quoting the URL according https://github.com/kittinunf/fuel/issues/690) I got 201 with expected body.

## To Reproduce
Steps to reproduce the behavi

[2019-10-26 07:19] kittinunf commented on #695
I tried with this snippet

[code]

I got the result as expected;

[code]

I did it on Android emulator, but I don't think that difference is significant 🤔 Did you do something different that this?

[2019-10-26 19:56] C06A commented on #695
I guess Android makes the difference. I tried your code from my Mac and still got 403.

Also your code generate a different request: putting parameters into body of the POST request while mine -- to the query. It seems in this case the problem is not in the location of parameters, but in the platform.

Could you try this on Mac or other *NIX systems? I can try on Linux next week.

[2019-10-27 06:04] kittinunf commented on #695
It is a problem for the `artsy` website that they require you to send something more? e.g. 🤔 Could you try to make sure that the header you send have a correct `user-agent` or accept `application/json`?

[code]

[2019-10-28 22:35] #419 closed

[2019-10-31 03:00] kittinunf commented on #695
Any development on this? :)

[2019-10-31 18:12] C06A commented on #695
Sorry, I was out-of-state.

It is not Antsy problem as the curl command generated by Fuel works fine from shell (see original post). No headers, no user-agent needed.

[2019-11-01 07:57] kittinunf commented on #695
I have created a sample and try above code and it works. Can you do the same and report back?

[2019-11-04 04:06] kittinunf commented on #692
Can you post your snippet and explain what went wrong? Sorry I couldn't grasp your question 🙏

[2019-11-04 07:25] iNoles commented on #692
You wanted Fuel to force TLSv1 in certain url addresses?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-04 10:57] SeleznevAM commented on #692
Yes of course, but only tomorrow.

[2019-11-04 11:02] SeleznevAM commented on #692
No. I want to exclude TLS1 from client-server communicating. Now, how I think, if I have a bad internet connection, during ssl handshake session, my application sends packages by TLS1 protocol. And I want to exclude these situations

[2019-11-05 04:23] C06A commented on #695
I got this. I also created my sample and ran it. My code results in 403 when I am running on my Mac. Your code (after I added call to `join()`) also returns 403.
Also the curl command generated by my code works as expected from the Terminal. This means that all elements are correct and it seems the problem somewhere in the way Fuel submitting it.

[code]

Once I printed the response from your code

[2019-11-05 04:35] kittinunf commented on #695
🤔 Oh sorry for not being clear, can you add this line into your `main()` function too? `.header(Headers.USER_AGENT to "AWESOME APP", Headers.ACCEPT to "application/json")` ?

[2019-11-09 04:37] C06A commented on #695
OK, this works.
Thanks for the link to StackOverflow for explanation.

[2019-11-09 04:37] #695 closed

[2019-11-10 15:08] yaugenka opened #698 "Response callback is called on cancel"
Using fuel-android 2.2.1 with kotlin to download files.

My code is as follows
[code]
when I call `result.cancel()` the response callback is called after interrupt one with the following error :

[code]

[2019-11-11 05:37] imknown commented on #315
Just ignore this when releasing apk withou StrictMode?

[2019-11-11 13:31] qinfensky opened #699 "HTTPS/TSL/HTTP2 support？"
I want to store certificates in my application to support HTTPS, to configure certificates on each HTTPS request. What should I do? I have searched for relevant problems and have not found a solution

[2019-11-14 10:36] easazade commented on #406
4 month ago i switched back to using okhttp because my post requests was being sent as get requests. i tried to find out when exactly it happens and create a small project to reproduce the bug but it wasn't happening in the small project. after that since i had a wrapper for my network client in my work project i just changed the implementation a little  and moved on

[2019-11-26 13:52] adiykehler opened #702 "Make use of x-form-urlenoded parameters more explicit"
# Make use of x-form-urlenoded parameters more explicit

## Description
If have to send requests to an API that I do not control, where some parameters are sent inside the URL and others are sent as `x-form-urlencoded` body. I don't see an easy way to do this with fuel. In my opinion this is caused by the rather implicit handling of parameters.

## Proposed Solution
Add a new function `urlEncodedB

[2019-11-26 14:08] adiykehler commented on #702
I think this would also solve #657.

[2019-11-29 12:46] imknown opened #703 "Downloading crashes when network quality is bad"
# Bug Report

## Description
Download crash.

## To Reproduce
This crash will occur when network quality is **bad**.
The connecting timeout is very long.

[code]

## Environment

### Development Machine
 - OS: [Windows 10]
 - IDE: [Android Studio 3.5.2]
 - Fuel version: [2.2.1]
 - Kotlin version: [1.3.61]

### Smartphone or Emulator
 - Device: [Yeshen Emulator]
 - OS: [Android 5.1]

## Additional

[2019-12-02 14:12] SleeplessByte commented on #702
That "arbitrary" behaviour is also how your browser works.

I like the addition of the urlencodedbody, but the current behaviour is not bad design.

[2019-12-03 04:53] C06A commented on #702
Would be the name of the function like "formBody" shorter and more easy correlated with Context-Type?

[2019-12-03 09:51] adiykehler commented on #702
Thanks for your quick reply.

It feels arbitrary to me, because I'm not familiar with browsers or Javascript. If this is common style in HTTP libraries, then ignore my additional change request. I'm OK with that.

[2019-12-03 09:54] adiykehler commented on #702
In my opinion, the name `formBody` does not say if the body will by a `multipart/form-data` or a `application/x-www-form-urlencoded` body.

I prefer `urlEncodedBody` or even `urlEncodedFormBody` (although it is longer).

[2019-12-03 13:02] SleeplessByte commented on #702
I like `urlEncodedFormBody`. Would you be willing to do a PR?

I also don't mind there being aliases (e.g. `formBody` and `multipartFormDataBody`).

cc @kittinunf

[2019-12-03 19:53] dustinevan commented on #81
@kittinunf
I've been lurking here for a few months, and I've evangelizing the use of Fuel at Instructure. I was hoping to add caching to an api client I'm writing and it seems like the ideal cache key -> value pair is Request.url -> Response.body. It seems like this sort of thing can't be done using the request and response interceptors right? Because I'd want a request interceptor to create a res

[2019-12-05 00:47] SleeplessByte commented on #81
Please don't use the `url` as cache key, as it completely breaks the RFC of HTTP Caching (if that's all you do). There are RFC-compliant cache libraries for android already, and those should be used, apart from the fact that android caches.

[2019-12-05 01:19] dustinevan commented on #81
(reading)

[2019-12-05 01:31] dustinevan commented on #81
"The primary cache key consists of the request method and target URI.
   However, since HTTP caches in common use today are typically limited
   to caching responses to GET, many caches simply decline other methods
   and use only the URI as the primary cache key."

Seems like they're suggesting using the URL.

[2019-12-05 02:18] SleeplessByte commented on #81
HTTP is not "designed" for browsers. It's for agents, including your fridge, crawlers, and people (apart from browsers). They're also not suggesting to use the URL, they note that many caches are, whilst compliant, hostile to caching. For example, iOS by default at most stores one response per url, which means that if you serve html and json from the same endpoint, it will always throw out one of

[2019-12-05 02:19] SleeplessByte commented on #81
Note:

Both Rails and Chrome had this as a bug whereas the incorrect page representation would be served because of shoddy caching 😞

[2019-12-06 13:58] kittinunf commented on #702
I think it is a good addition to the library, though I think the current design tried to cover the common use-cases. So there might be some cases that we don't support! All in all, I am up for this change though.

[2019-12-07 07:42] kittinunf commented on #81
@dustinevan Thanks so much for liking the library!

In my humble opinion, I really feel that Cache is outside the scope of this library. I rather provide HTTP Client that extensible, useful and solid to be used so it is easy to add/extension with some other needs.

I think Caching itself is a tough problem on its own and the last thing I want is
to provide everything under the sun with just one si

[2019-12-07 15:19] dgtlmoon opened #705 "Custom methods?"
# Feature Request

Any pointers how I would go about handling some custom methods, such as PROPFIND, MOVE etc? Is the framework extensible ? (Hint: Trying todo some Webdav browsing with Fuel) I guess I would need to extend somehow `com.github.kittinunf.fuel.core`'s `RequestFactory` ?

## Description
Is your feature request related to a problem? Please describe. This should be a
clear and concise d

[2019-12-09 14:13] dustinevan commented on #81
@kittinunf @SleeplessByte Thanks a ton for responding! Good points. Because I'm writing what amounts to a decorator around fuel for a specific rest api, I think I too am going say that caching is outside the scope of my library.

Many thanks for making fuel. Seriously it's _so beautiful_!

[2019-12-09 14:16] dustinevan commented on #81
Also, I'd love to contribute if that's ever needed. Honestly, I've never worked on an open source project _embarrassing_. Do I just fork and try to solve an issue in the backlog? Or do I need to do something else?

[2019-12-09 14:40] BufoMarinus opened #706 "Fatal Exception: java.lang.NoClassDefFoundError"
Fatal Exception: java.lang.NoClassDefFoundError: com.github.kittinunf.fuel.core.FuelError
       at com.github.kittinunf.fuel.core.requests.CancellableRequest.join(CancellableRequest.kt:39)
       at kotlin.coroutines.jvm.internal.BaseContinuationImpl.resumeWith(ContinuationImpl.kt:33)
       at kotlinx.coroutines.DispatchedTask.run(Dispatched.kt:233)
       at kotlinx.coroutines.scheduling.Corout

[2019-12-09 14:48] dustinevan commented on #81
jk, I found it. https://github.com/kittinunf/fuel/blob/master/CONTRIBUTING.md

[2019-12-09 17:16] iNoles commented on #706
Which Fuel Version you uses?

[2019-12-21 10:11] imknown opened #707 "Not pass detectUntaggedSockets()"
# Bug Report

## Description
Not pass `StrictMode.VmPolicy.Builder.detectUntaggedSockets()`

## To Reproduce

[code]

## Expected behavior
No warings/errors.

## Environment

### Development Machine
 - OS: Windows 10
 - IDE: Android Studio 3.5.3
 - Fuel version: 2.2.1

## Additional context
[code]

[2019-12-22 15:15] kittinunf commented on #707
Hmm, what should we do from our side to get rid of this violation? 🤔💭

[2019-12-24 22:25] danpe opened #708 "Async request interceptor"
# Feature Request

## Description
Currently, it is impossible to add an async authentication like firebase auth token function is async.

## Proposed Solution
`FoldableRequestInterceptor` should support a `Task`

## Alternatives I've considered
Validation and renewing (if necessary) token every `onResume` instead of every request

## Additional context
[code]

[2019-12-24 23:53] leo7 opened #709 "Fail to pass request header `Origin`"
# Issue Report

## Description
- Set header `Origin` in request, but no value found on server-side
- Fuel version: 2.1.0

[code]

## Expected behavior
http request header `Origin` should be passed

[2019-12-25 01:06] leo7 commented on #709
Problem resolved and the issue is not from Fuel

[2019-12-25 13:44] SleeplessByte commented on #709
Are you certain it's not _sent_ and not just (lack of) CORS settings on the server?

[2019-12-27 01:05] leo7 commented on #709
Hi @SleeplessByte , thanks for your reply!
I have tested it:
- it works well when using `curl`, Postman or invoking from other services (like nodejs).
- I changed to allow "*" for "Access-Control-Allow-Origin" and "Access-Control-Allow-Headers", and this couldn't fix the issue - the header value `origin` can not be passed into server
- I am sure the Origin value has been sent to `com.github.kittin

[2019-12-27 06:19] SleeplessByte commented on #709
Thank you very much! That is very helpful :)

[2019-12-27 06:27] leo7 commented on #709
cool thanks

[2019-12-31 15:03] hxmwr opened #711 "how to deserialize a list of object?"
Any one can help?

[2020-01-02 18:22] ryutoyasugi commented on #709
This article may be helpful
https://stackoverflow.com/questions/8335501/does-httpurlconnection-censor-some-headers-notably-origin

[2020-01-11 03:37] kittinunf commented on #706
I think we need more information on this. I will close this for now due to lack of activity

[2020-01-11 03:37] #706 closed

[2020-01-12 17:03] SleeplessByte commented on #711
There are several tests cases doing exactly this.

[2020-01-12 17:05] SleeplessByte commented on #709
That is exactly what I expected.

This also means that _fuel_ can not fix this. But you can follow the steps to allow restricted headers. Thanks @ryutoyasugi .

[2020-01-12 17:05] #709 closed

[2020-01-12 17:07] GitAntoinee opened #712 "ProxySelector instead of Proxy"
# Feature Request

## Description
Hello, I like to integrate proxies in my programs: sometimes I use more than 1 proxy, and I use `java.net.ProxySelector` to easily use my proxies, in multi-threaded programs expecially.
A `com.github.kittinunf.fuel.core.FuelManager` can only use 1 proxy.

## Proposed Solution
Replace the `proxy` field by a `proxySelector` field

## Alternatives I've considered
I d