[2015-06-10 03:23] kittinunf opened #4 "Consider migrate response handler as interface"
When use ```Fuel``` with Java, it needs to resort to use ```jvm.functions``` package to convert lambda into an interface.

[code]

[2015-06-10 03:23] kittinunf opened #5 "Implement upload functionality"

[2015-06-22 05:46] #4 closed

[2015-06-22 05:46] #5 closed

[2015-08-01 08:29] mplatvoet opened #11 "Maven Central?"
Any plans to release this to Maven Central? That way I can write some [Kovenant](http://kovenant.komponents.nl) extensions for this.

[2015-08-02 04:51] kittinunf commented on #11
@mplatvoet, that is awesome. Thank you so much for considering my lib is useful. Yeah I would find some time to work on this, I'll let you know as soon as it is done.

[2015-08-02 05:56] mplatvoet commented on #11
Great, looking forward to it

[2015-08-08 09:30] kittinunf opened #14 "Use Robolectric"

[2015-08-11 05:46] #14 closed

[2015-08-11 08:42] mplatvoet opened #16 "Let params override baseParams"
I think it makes more sense to let params override baseParams instead of the current implementation which defaults to baseParams if present. For me baseParams define the default but I would like to make an exeception in specific calls. Thus instead of doing `params + baseParams` I think it should be `baseParams + params`.

What doe you think?

[2015-08-11 10:40] kittinunf commented on #16
Thank you so much for your suggestion!!!! I am glad that you like Fuel.

I am not sure by having `params` overrides `baseParams`. I can explain why I opt to go for this option.

My server wants to have `api_key` bundled in all API call in order to grant the access right.

Consider, we have `baseParams=("api_key" to "abcdefghi")`

Then, API to list all dogs call will need to be
`http://example.com/

[2015-08-11 10:46] kittinunf commented on #11
Please hang on tight. Maven Central doesn't allow me to use `fuel:fuel` for artifactID. They ask me whether I own the domain name `fuel` which I certainly don't. This makes me go for another option on MavenCentral such as `com.github.kittinunf:fuel` which I don't like because usage for JCenter and MavenCentral will be different.  :cry:

[2015-08-11 11:11] mplatvoet commented on #11
Jcenter will do find too, as long as it's online available I guess. And maybe it makes more sense to add some extensions under your project?

[2015-08-11 11:20] mplatvoet commented on #16
What I mean is when we have duplicate parameters, which should take precedence? E.g.
[code]
I think it makes more sense to let params take precedence over baseParams. That way you can configure for instance a default api_key as you suggest and let this be overridden by any concrete call.

Another point, which is maybe even *more important*, http allows you to have multiple values for the same key,

[2015-08-11 13:00] kittinunf commented on #11
It is already available on JCenter I think. Are you having some problem syncing with JCenter with Fuel?

[2015-08-11 13:04] kittinunf commented on #16
Oh!!! Sorry @mplatvoet for my stupidity!! In that case, I am totally on your side. To be honest, I overlooked this and agree with you that `params` should take precedence. It should be very simple. I will fix in the next release for sure.

Also,happy to merge if you are willing to send PR to fix that. :smile:

[2015-08-11 13:11] mplatvoet commented on #16
Yeah next time I can suggest these things with a PR. Last time I tried to build Fuel I got as far as running the tests which all failed at the time. But I believe you have fixed that now so I can give it another try :)

[2015-08-11 13:18] kittinunf commented on #16
Yup. I fixed it now. Can you try build on `master` branch.

[2015-08-19 17:22] #16 closed

[2015-08-19 17:23] kittinunf commented on #16
Fixed with version 0.52. Thanks for your valuable feedback. :+1:

[2015-08-26 06:25] yoavst opened #18 "Non Android support"
Is it planned? Currently it requires to use robolectric to test api calls.
From a quick view (running without roboelectric) you use android's Uri class. Is there any alternative?

[2015-08-28 09:20] kittinunf commented on #18
Yes, originally, it was created just to serve my client with Android development. So that I decided to make it to be an Android lib. Because I just need a quick solution on it.

Definitely, it can be generalized to be a Kotlin lib because in general, it should serve as a pure HTTP Client lib without Android dependency.

I think I should split this into multiple modules.

fuel
fuel-android

Do you

[2015-09-01 19:47] #11 closed

[2015-09-16 16:02] yoavst opened #19 "Kotlin m13"

[2015-09-18 17:02] kittinunf commented on #19
Definitely, I will work on it this weekend. :)

[2015-09-18 19:14] mplatvoet commented on #19
:+1:

[2015-09-19 11:51] mplatvoet opened #21 "Make Either sealed"
M13 introduces the concept of [sealed classes](http://kotlinlang.org/docs/reference/classes.html#sealed-classes) which improves pattern matching so you are not required to use an `else` case anymore.

[2015-09-19 15:57] kittinunf commented on #21
Definitely, we should mark it sealed.

Would you mind wait a little, I will bundle this together with M13 support branch. :)

[2015-09-20 06:10] mplatvoet commented on #21
Of course I don't mind :)

[2015-09-20 06:55] #19 closed

[2015-09-20 06:55] #21 closed

[2015-09-24 15:29] yoavst opened #24 "? is added to the url"
Dark magic has happened to me during development:
[code]
[code]

This `?` is breaking the url for this site.
Even adding `/` a the end of the url seem to doesn't work.

Edit: Encoding.kt
[code]

[2015-09-24 16:16] kittinunf commented on #24
It looks like a bug in encoding process. Let me fix this as soon as possible. 

—
Sent from Mailbox

On Thu, Sep 24, 2015 at 10:29 PM, Yoav Sternberg <notifications@github.com>
wrote:

[2015-09-24 16:43] kittinunf commented on #24
In the meantime, can you use param to supply the query parameter?

PS. Sorry I was replying the previous answer on my mobile phone and github web somehow truncated my answer.

[code]

[2015-09-24 19:56] yoavst commented on #24
I'm trying to separate the implementation from the classes, so there is a wrapper. Currently there is only a single request, so I'll keep it as is.

I'm using this method to fix it now:
[code]

[2015-09-27 15:14] #24 closed

[2015-10-02 08:37] Ribesg opened #27 "Use proper package name"
Hi, your project seems cool!

But it doesn't follow package naming standards, so if you don't have any other website, Fuel's package name should be `com.github.kittinunf.fuel` :)

Thanks

[2015-10-02 09:46] kittinunf commented on #27
Thanks. I am appreciated that.

Yeah I think at the end, I think I would change the package name.

However, this is a breaking change. Since Kotlin is going to hit 1.0 now, I will clean up everything once and for all when 1.0 is hit.

[2015-10-09 07:04] geethgubi opened #28 "Need Fuel.upload() with HTTP PUT"
When tested Fuel.upload() to upload an image to amazon s3, it failed, possibly because of http method as the upload succeeded with Fuel.put()

[2015-10-22 13:27] yoavst commented on #27
![](https://pbs.twimg.com/media/CR7E4D7UkAAfA34.png:large)

[2015-10-22 15:03] Ribesg opened #29 "Kotlin 1.0 Beta Candidate support"
Please update Fuel for Kotlin 1.0 Beta Candidate.

http://blog.jetbrains.com/kotlin/2015/10/kotlin-1-0-beta-candidate-is-out/

[2015-10-23 01:47] kittinunf commented on #29
Sure. I am working on it. Thanks :)

—
Sent from Mailbox

On Thu, Oct 22, 2015 at 10:03 PM, Gael Ribes <notifications@github.com>
wrote:

[2015-10-25 15:20] #29 closed

[2015-10-25 16:42] peleteiro commented on #29
Fuel 0.56, using Kotlin 1.0-beta plugins; IntelliJ and Android Studio says classes.jar has an unsupported format.

[2015-10-26 03:57] kittinunf commented on #29
@peleteiro I am not sure what is going wrong? Should I clean it and pack another version to see whether it helps?

[2015-10-26 12:45] peleteiro commented on #29
@kittinunf I did that and worked. I checked out Fuel code and clean build it.

[2015-10-26 12:51] kittinunf commented on #29
Ok I'll do it.

[2015-10-26 13:24] kittinunf commented on #29
I have push 0.57 to fix this. Can you try to see whether it helps?

[2015-10-26 13:44] peleteiro commented on #29
It worked! Thank you very very much!

[2015-10-29 13:10] Fraunhofer opened #31 "Cancel Download"
how to i cancel download or upload function.

[2015-10-30 04:31] kittinunf commented on #28
Thanks I plan to work on this with the next version.

[2015-10-30 04:59] kittinunf commented on #31
Yeah, for the time being, I didn't provide any interface for `cancel` just yet.

I plan to implement that in next version though. Stay tuned.

[2015-11-03 18:29] #18 closed

[2015-11-08 10:27] kittinunf opened #34 "Spitting fuel into "fuel", "fuel-android""

[2015-11-17 09:33] #27 closed

[2015-11-17 09:33] #28 closed

[2015-11-17 09:35] #34 closed

[2015-12-07 07:14] hwchong opened #39 "S3 Download URL Encoding Fails"
Updated to 0.62 and now I can't download my signed S3 URLs.

Traced the bug to improper encoding of the URL string.

Here's the request path:

https://s3-ap-southeast-2.amazonaws.com/cclouddevstorage/pictures/c0868454-ced6-465d-a6a7-75f2ef01f044/pic.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIQ76TPUW27KMGHBQ%252F20151207%252Fap-southeast-2%252Fs3%252Faws4_request&X-Amz-Date=20151207

[2015-12-10 08:58] tbruyelle opened #40 "Follow redirections"
I recently used Fuel and received a 301 Moved permanently from the server with an other url in the Location header.

It would be nice if Fuel handles that kind of http codes and performs a second request automatically (or maybe when a specific parameter is enabled in `Manager.instance`).

[2015-12-10 12:14] kittinunf commented on #40
Sorry about that. Agree @tbruyelle. I will implement this feature in the next coming releases.

[2015-12-10 15:27] tbruyelle commented on #40
Hey no need to sorry :) Thanks in advance

[2015-12-25 12:27] yoavst commented on #31
[code]

[2015-12-25 12:27] #31 closed

[2016-01-25 21:34] jjdestef3 opened #44 "Change Request Timeout"
Hi,

Just wondering, how would you change the default request timeout on a per invocation basis?

Thanks

[2016-01-27 15:51] yoavst commented on #44
This library should provide setter for
https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Request.kt#L28

[2016-01-27 15:53] kittinunf commented on #44
Thanks for pointing that out. Let's do this for next release.

[2016-01-28 16:58] yoavst commented on #44
https://github.com/kittinunf/Fuel/commit/104358729adf77770a1da323ea850b281700a0da

Should fix this.

[2016-01-28 16:58] #44 closed

[2016-01-28 20:15] dstd commented on #44
@yoavst do you have any ETA for next release with this fix? Thanks

[2016-01-29 06:54] kittinunf commented on #44
I will push 0.71 tonight. Hang on tight.

[2016-01-29 16:56] kittinunf commented on #44
Done! 0.71 is out.

[2016-01-29 18:05] dstd commented on #44
Thank you!

[2016-01-30 09:23] yoavst opened #47 "Update Result lib version"
### Result 0.4
**New features:**
[code]

### Notice
We can probably delay it until Kotlin 1.0 RC get out of EAP, so this is just a reminder.

[2016-02-01 22:44] jjdestef3 commented on #44
Hi,

Given the current calling semantics, how would you use this in a typical kotlin get call?

Thanks

[2016-02-01 22:48] dstd commented on #44
@jjdestef3
[code]

[2016-02-02 17:33] yoavst commented on #44
@jjdestef3  https://github.com/kittinunf/Fuel/commit/7a35b6b485a48462bb8db70e2db1e211bed4284e

[2016-02-05 17:01] erikthered opened #50 "Headers not sticking"
I don't know if I'm doing something wrong here but I can't seem to get my header changes to stick.

Here's what I'm doing:

[code]

However, when I debug the Manager class' request method (around line 57) the request's headers are set to:

[code]

This is using just Fuel (not the android lib) in a Spring Boot app with the Kotlin RC

[2016-02-05 17:46] erikthered commented on #50
I dug a little deeper and it looks like the Encoding class is overriding my headers. Looking at this class it seems that ultimately `multipart/form-data` and `application/x-www-form-urlencoded` are the only two Content-Type values that end up being used. Is this the desired behavior?

[2016-02-05 18:38] kittinunf commented on #50
I put those 2 as the sane defaults. I anticipated that it would cover most of the case. It is true that those 2 values should be configurable. I will make some improvements in next coming release.

In the meantime, can you override this at the request level meaning that, you could do

`url.httpPost(listOf("Content-Type" to "application/json", "emailAddress" to email).responseString()` to override

[2016-02-05 19:08] erikthered commented on #50
@kittinunf I tried that override but Content-Type needs to be a header not a request parameter, so it didn't work.

[2016-02-06 04:25] kittinunf commented on #50
Oh I am sorry. I mean you can override it with `header` function at request level.

[2016-02-07 09:35] kittinunf commented on #50
@erikthered I addressed this issue in PR #51. Thanks for reporting this.

I have used your use case as a test :yellow_heart:

https://github.com/kittinunf/Fuel/blob/fix-bugs-and-cleanup/fuel/src/test/kotlin/com/github/kittinunf/fuel/BlockingRequestTest.kt#L198-L213

[2016-02-07 14:02] erikthered commented on #50
Cool! One other suggestion I would make is to add the request level header function to the readme. I didn't even realize that function was available.

[2016-02-07 14:33] kittinunf commented on #50
Agree. I'll do it.

[2016-02-10 02:02] #50 closed

[2016-02-11 13:44] #47 closed

[2016-02-11 13:47] yoavst opened #52 "TimeoutExcpetion is synchronized requests"
### `Sync()` method and timeout
Given the following code:
[code]

The result is:
[code]

### Bug info
This [Code](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Deserializable.kt#L78) is responsible on this bug. The timeout is being applied twice for `sync()`, once in [`HttpClient`](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotli

[2016-02-13 17:54] yoavst commented on #39
@hwchong Is it still valid issue?

[2016-02-20 02:26] hwchong commented on #39
Issue is solved if URL's are decoded prior to passing to fuel

[2016-02-20 02:26] #39 closed

[2016-02-28 09:19] mbalex99 opened #56 "Can we post hashMapOf?"
What's the recommended way to post a hashMapOf literal.

Like so

[code]

But it only seems to take a byte array.

[2016-02-28 10:17] kittinunf commented on #56
If your server can accept body in format of `foo1=bar1&foo2=bar2`, you could send through param of POST, ie. `Fuel.post(url, listOf("foo1" to "bar1", "foo2" to "bar2")`.

 Otherwise, you will need a JSON serializer to convert your `HashMap` into `String`, notable libraries are GSON, Jackson.

[2016-03-02 13:40] h2oiswater opened #57 "Can upload a file with params ?"
Dear kittinunf:
    I want to upload a file with some params,such as user_id.
    I used like these, but the server can't get user_id.

[code]

[2016-03-02 14:05] h2oiswater commented on #57
I found UploadTaskRequest' body only add fileParam

![qq 20160302220255](https://cloud.githubusercontent.com/assets/5397807/13462478/92055bbe-e0c2-11e5-88db-70a4d8ca1d2c.png)

[2016-03-03 15:16] yoavst commented on #57
Does `UPLOAD` works with post?
I mean - when you post a file, it should be the body, shouldn't it?

[2016-03-03 15:18] h2oiswater commented on #57
yeah
the server got file but not got user_id.

[2016-03-03 19:17] yoavst commented on #57
But that make sense. Is it a public api or your api?

[2016-03-06 07:31] h2oiswater commented on #57
I successed by okHttp

`override fun doInBackground(vararg sb: Unit): String? {

            val MEDIA_TYPE_PNG = MediaType.parse("image/jpg")
            val client = OkHttpClient()
            var builder = MultipartBody.Builder()

            builder.setType(MultipartBody.FORM)
            builder.addFormDataPart("attach","photo", RequestBody.create(MEDIA_TYPE_PNG, file))

            for( p in

[2016-03-06 10:35] kittinunf commented on #57
Yeah, this sound like a bug to me. We should be able to support this use case.

[2016-03-07 13:09] h2oiswater commented on #57
(づ￣ 3￣)づ
fighting!

[2016-03-07 13:10] kittinunf commented on #57
Btw, @h2oiswatet would you love to submit PR to solve this?

[2016-03-07 13:38] h2oiswater commented on #57
@kittinunf PR means Preview Edition?

[2016-03-07 22:24] glureau commented on #57
@h2oiswater means Pull Request.
If you know how to fix this issue, you can clone the repository, update on your side and create a PR, and hen kittinunf will be able to merge your changes in this repository.

[2016-03-07 22:33] glureau opened #59 "Manager"
Hi guys!
First of all, well done for this very convenient library! Really cool to use :)
But I'm not super fan of the Manager, I don't like the static but it's super convenient here so ok, but the name...
Is it possible to rename it FuelManager or something like this?

[2016-03-08 04:12] kittinunf commented on #59
That's right. `Manager` is a static wrapper to use `Fuel` conveniently. Yeah, come to think about it plain `Manager` might be a bit too generic. I think `FuelManager` is a good alternative.

[2016-03-11 06:54] SyedWasiHaider opened #62 "Headers are empty on simple GET request"
Hi there

I just tried `"http://httpbin.org/get".httpGet() ` which is the blocking version and I found the headers to be empty. What's going on there?

Thanks

[2016-03-11 08:00] SyedWasiHaider commented on #62
Woops I forgot internet permissions.

[2016-03-11 08:00] #62 closed

[2016-03-12 20:08] mikelangdon opened #64 "README should explicitly mention Result dependency"
This might be my fault for not building with Gradle, but I spent too much time puzzling over why the basic examples would not build for me.

My suggestion is to reference [Result](https://github.com/kittinunf/Result) prominently in the README as a dependency.

[2016-03-13 06:44] kittinunf commented on #64
Oh. I am truly sorry to hear that. Yeah, you are right. `Result` is the tiny library to hadle success/failure operation. I will fix that tonight. Or even better if you could PR to fix that for me. Anyhow, thanks for reporting this.

[2016-03-14 03:29] #64 closed

[2016-03-14 03:37] kittinunf commented on #64
I have addressed your issue. :+1: for letting me know of this.

[2016-03-18 20:35] yoavst commented on #56
closing this as you can use those two options:
`listOf("foo1" to "bar1", "foo2" to "bar2")`
or if you receive map:
`map.toList()`

[2016-03-18 20:35] #56 closed

[2016-03-18 20:35] yoavst commented on #52
closing this as there is no `sync()` method anymore.

[2016-03-18 20:35] #52 closed

[2016-03-18 20:37] yoavst opened #65 "`cancel()` doesn't cancel the underlying HTTP request."
the `HttpUrlConnection` or `HttpClient` should be closed also.

[2016-03-26 10:37] jurgisp opened #66 "HTTPS certificate not validated by default"
By default socketFactory and hostnameVerifier are null, which makes HTTPS connections pointless and is a huge security risk. This should be the default:

[code]

[2016-03-26 12:18] kittinunf commented on #66
Yeah, thanks for pointing this out @jurgisp. At that time i naively pushed this to be client's responsibility. I agree that using default is a safer choice. Would you mind open to PR to fix this? I am more than happy to merge it in.

[2016-03-26 12:38] jurgisp commented on #66
Thanks for quick response. Unfortunately I'm not familiar with the source code enough to know the best place to put the default initialization. From the client perspective I just execute these two lines when the app starts.

[2016-03-26 12:42] kittinunf commented on #66
Fair enough. No problem. I will squeeze this in the next release. I will
leave this open as a reminder and close this when it is done.

Thanks for using `Fuel`.
On Sat, Mar 26, 2016 at 7:38 PM jurgisp <notifications@github.com> wrote:

[2016-03-26 17:06] JoseMCO opened #67 "Can't post parameters correctly"
When using the following java implementation

        String body = "\"email\": \"some@mail.com\", \"password\": \"somepass\"";

        Fuel.post(login_url).body(body, Charset.forName("UTF-8")).responseString(new Handler<String>() {
            @Override
            public void failure(Request request, Response response, FuelError error) {
                //do something when it is failure

[2016-03-26 17:14] yoavst commented on #67
As you can see [here](https://github.com/kittinunf/Fuel/blob/master/fuel%2Fsrc%2Fmain%2Fkotlin%2Fcom%2Fgithub%2Fkittinunf%2Ffuel%2FFuel.kt#L42), `post` can receive a list of `kotlin.pair` as parameters.

[2016-03-26 17:16] JoseMCO commented on #67
Yeah, I was reading there just now, tested and it works! Thanks for the fast response (:

[2016-03-26 17:19] #67 closed

[2016-03-29 15:50] #66 closed

[2016-03-30 05:56] cferreira-growit opened #69 "App:dexDebug?"
Hello,
First of all, thanks for this awesome lib, it's really hard to find something clean and flexible.

I create a whole web service api using this lib but, when I try to run the app, this happens:

**Error:Execution failed for task ':app:dexDebug'.

I'm using Gradle to import the lib and, if I remove the dependency, the app works.
Do you have any idea?

Thank you!
Best wishes;

[2016-03-30 06:43] kittinunf commented on #69
I have no issue with the latest version `1.1.3` on my android project. Can you try to clean and rebuild project and see whether it solves problem?

[2016-03-30 07:31] cferreira-growit commented on #69
For some reason an unused library was causing a conflict. I just removed and it worked!

Thank you.

[2016-03-30 12:08] kittinunf commented on #69
Alright! Thanks so much to using `Fuel`. I will close this as it is solved somehow.

[2016-03-30 12:08] #69 closed

[2016-04-03 12:17] denghongcai opened #71 "responseJson() can not be used in block mode"
[code]

[2016-04-03 13:20] yoavst commented on #71
You are right. the function `responseJson()` is missing from [Requests.kt](https://github.com/kittinunf/Fuel/blob/master/fuel-android%2Fsrc%2Fmain%2Fkotlin%2Fcom%2Fgithub%2Fkittinunf%2Ffuel%2Fandroid%2Fextension%2FRequests.kt)

 Would you mind open to PR to fix this?

[2016-04-06 17:01] cbeust commented on #40
Just spent some time wondering why my downloads were not working until I realized Fuel doesn't follow redirections. That's a pretty big missing feature.

Any update on this?

[2016-04-07 04:57] yoavst commented on #40
How do you want it to be implemented? Do you need to know that it was redirected, or do you just need the final data?

[2016-04-07 05:17] cbeust commented on #40
Just the final data.

--
Cédric

On Thu, Apr 7, 2016 at 8:57 AM, Yoav Sternberg <notifications@github.com>
wrote:

[2016-04-07 06:11] mplatvoet commented on #40
Note that other http libraries keep track of the previous redirects and/or keep track of the number of redirects. This all to prevent circular redirects or simply to many redirects.

[2016-04-07 16:48] yoavst commented on #40
do they prevent only simple redirection?
`A -> B -> A -> B`
or more advanced like `A -> B -> C -> A -> B `?

[2016-04-07 18:17] mplatvoet commented on #40
the latter, the more advanced option.

[2016-04-16 15:00] yoavst commented on #40
#73 will support redirection. Detecting redirection loop will be added later.

[2016-04-16 18:40] #71 closed

[2016-04-19 03:55] rodrigosalinas opened #75 "Calling PUT from Android is returning empty Response"
Hi, I'm making a PUT call in this form:
[code]
Before anyone asks, I'm adding manually the Content-Type in the header because if I don't it is not automatically added despite what the documentation says.

Anyway, the response I debug has a length of 0. The Body is empty. But if I print the cUrlString and I execute it from the command line it works. I get what I'm expecting. Can you help me please?

[2016-04-19 06:47] yoavst commented on #75
I can confirm `Content-Type` header is not added, but the request works on [the unit test](https://github.com/kittinunf/Fuel/blob/master/fuel%2Fsrc%2Ftest%2Fkotlin%2Fcom%2Fgithub%2Fkittinunf%2Ffuel%2FBlockingRequestTest.kt#L118).

Did you add the Android dependency?
`compile 'com.github.kittinunf.fuel:fuel-android:1.1.3' //for Android`

[2016-04-19 07:01] yoavst commented on #59
Opening this as it seemed to be reverted.

[2016-04-19 11:31] #59 closed

[2016-04-19 13:46] rodrigosalinas commented on #75
Yes, that's what I have. Thank you.

[2016-04-19 14:53] rodrigosalinas commented on #75
Hi again. I changed the way I'm calling my API with the async mode and now it's working superb. I don't know what the problem was with the sync mode. Anyway, we always should call APIs in async mode. ;-)

Besides, I had to know Kovenant and Result. Very nice projects along with Fuel. Now I feel I'm doing it the right way. Congrats.

[2016-04-19 15:40] #75 closed

[2016-04-19 15:46] yoavst commented on #75
#77 will fix the headers bugs.

[2016-04-25 10:14] carmas123 opened #79 "Connection TimeOut and Response TimeOut"
Please can you explain me (if you can) how can I specify the connection timeout and requast timeout different?

[2016-04-25 11:53] yoavst commented on #79
Currently they is only one timeout for both connection and response.

[2016-04-25 16:18] ismail-s opened #80 "Possibly incorrect links in Readme"
In this [commit](https://github.com/kittinunf/Fuel/commit/8deae45fc9ac6988e2c3528137c7207c1fd20bc5), you have used github urls that refer to the master branch, as opposed to a specific git blob thing. eg compare these urls:
[code]
The 2nd one points to build.gradle at a specific point in time, whereas the 1st one points to the most recent version, which can change.
As a result, I think the "fold"

[2016-04-27 14:38] ismail-s opened #81 "Caching"
Especially on android, having a builtin caching layer would be v. useful.

[2016-04-27 14:41] kittinunf commented on #81
I totally agree with this. This is way I have created another library for this. Please checkout `Fuse`.  https://github.com/kittinunf/Fuse.

[2016-04-27 18:28] carmas123 commented on #79
I've created a fork with this options.

[2016-04-28 10:46] ismail-s commented on #81
Ah, I see. Just when I was looking for one, you have created a solution.

[2016-04-28 10:46] #81 closed

[2016-04-28 10:54] kittinunf commented on #81
The only caveat for you is Fuse is still considered a beta software. It
works but you might need to do an extra work. But if you are bold enough
for Fuel, Fuse is for you.
On Thu, Apr 28, 2016 at 5:46 PM Ismail <notifications@github.com> wrote:

[2016-04-28 11:06] ismail-s commented on #81
I agree. It isn't quite what I want it to be, but:

1. I plan to add caching only after I get my app to go live, so atm my research into caching is just research
1. I'll probs stick issues on the Fuse project, and if I feel up to it, try and contribute to it. Or, if it makes more sense, I'll create a wrapper for it.

Also, I have a question for you. Are you planning on making Fuse work with Fuel i

[2016-04-28 11:17] yoavst commented on #81
`Fuse` can be implemented to Fuel using `interceptors`, I think.

[2016-04-28 21:30] #40 closed

[2016-04-28 21:50] cbeust commented on #40
"Closed" as in... "fixed"? :)

[2016-04-29 22:15] kittinunf commented on #40
@cbeust, sorry I didn't provide you much with the info. Yes, it is fixed. Simple redirection should be supported by now.

[2016-04-29 22:25] kittinunf commented on #79
This is supported in 1.2.1

[2016-04-29 22:25] #79 closed

[2016-05-04 05:37] Yayo-Arellano opened #83 "Testing Mode Delay"
Is there any way to add a delay in the request in order to test in an Android app.
For example i make the call

`
 Request request = Fuel.delete(URL);
 request.responseString(listener);
`

and wait at least a few seconds until get the response.

[2016-05-04 10:15] yoavst commented on #83
You can save the time of the request, and check when the response completed.

[2016-05-07 03:15] crysan opened #84 "Check file"
Hi!
As you can quickly check the availability of a file on the server?
Very slow:

                            Fuel.get("http://samlib.ru/k/kerr_r/strashnyjson.fb2.zip").timeout(Constants.USER_TIMEOUT_FAST).responseString(new Handler<String>() {
                                @Override
                                public void failure(Request request, Response response, FuelError error) {

[2016-05-07 09:11] yoavst commented on #84
How would you do that yourself? Would you check only the status code and abort the connection?

[2016-05-10 00:06] crysan commented on #84
Would you check only the status code and abort the connection? **YES!**
 Is there a reason for the lack of HEAD request? **Example pls.**

[2016-05-10 04:11] kittinunf commented on #84
There is no reason not having `HEAD`. It is the thing that `Fuel` has not yet supported. I agree that we should do it.

[2016-05-10 04:12] kittinunf commented on #83
If you use RxJava [delay](http://reactivex.io/documentation/operators/delay.html), it can be use to achieve what you expect too.

[2016-05-10 04:38] crysan commented on #84
Well do it!
I ask you to.

[2016-05-10 10:08] marcomorain opened #85 "Accept `java.net.URL` as PathStringConvertible"
In my code I'm using `java.net.URL` to store URLs, but I need to convert them into string to pass them in to Fuel.

[code]

[code]

It would be great if I could pass a URL to the post function without having to convert to string.

I'm using URLs to give me extra integrity checks versus using strings.

[2016-05-10 11:30] yoavst commented on #85
First, `Fuel` comes with support for base URL:
[code]
So it can be useful for the case you've mentioned.

Second, If we will support `java.net.URL`, we will probably need to support also `java.net.URI`. But why stop here? an `android.net.Uri` support for the android module.

I do think you are right, but we can't just add methods to Fuel for every object that can store URL, that is why we have `Pa

[2016-05-10 11:32] marcomorain commented on #85
👍 that makes sense, thanks.

[2016-05-10 11:32] #85 closed

[2016-05-10 11:34] yoavst commented on #83
I'm marking it closed, since it doesn't belong directly to Fuel.

[2016-05-10 11:34] #83 closed

[2016-05-11 00:50] crysan commented on #84
B one more question
Is it possible to implement in the library and check enable html pages?

[2016-05-12 08:26] bonifaido opened #88 "HTTP HEAD method is missing"

[2016-05-12 14:10] yoavst commented on #84
I didn't understand your question @crysan

[2016-05-12 14:11] yoavst commented on #88
Duplicated issue: #84

[2016-05-12 14:11] #88 closed

[2016-05-12 16:58] #84 closed

[2016-05-12 17:29] #80 closed

[2016-05-12 18:10] PierBover opened #91 "request JSON encode"
So Fuel can parse a JSON response... but can it encode an object to JSON for a request?

[2016-05-12 19:34] PierBover opened #92 "Android: empty response when using POST"
No matter what I do I always get an empty response.

This is the dependency I'm using `compile 'com.github.kittinunf.fuel:fuel-android:1.2.1'`

[code]

This is the response I get (I've obscured the URL)

[code]

I've pasted the cURL request string `request.cUrlString()` into terminal and I do get this response

[code]

Am I missing something?

[2016-05-12 19:43] PierBover commented on #92
I'm an idiot...

I forgot to add `<uses-permission android:name="android.permission.INTERNET" /> `

[2016-05-12 19:43] #92 closed

[2016-05-13 05:04] yoavst commented on #91
No, it can't.

[2016-05-13 05:23] #91 closed

[2016-05-13 05:48] yoavst commented on #91
However, you can easily add extension method for `Fuel` or for `String` with your json library.

[2016-05-24 17:12] carmas123 commented on #65
@yoavst this is very hard to be done...because there is no reference with physical connection (to shutdown)

[2016-05-25 05:14] yoavst commented on #65
I did take a look on this case. It seems very complicated to implement it, but I think this is the right thing to do.

[2016-05-25 06:52] carmas123 commented on #65
Oh yes...this is very important...
As soon as I have some time I make a fork and inspect how we can do that.

[2016-05-25 15:26] ismail-s opened #94 "Allow setting timeout on FuelManager"
Atm, the timeouts are hardcoded [here](https://github.com/kittinunf/Fuel/blob/c6e3b748a706dbee3cb37813676e3f7cdc1518f8/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Request.kt#L29). It would be nice to be able to modify the timeout for all requests on the `FuelManager.instance` object, rather than having to manually configure the timeout for each request.

[2016-05-25 16:37] yoavst commented on #94
[code]

[2016-05-26 15:21] ismail-s opened #95 "Proguard rules required"
_background: my app was running fine in debug mode, but in release mode it wasn't working fine. Some ui things weren't working, unless I rotated the screen. 1 day later, I decided to take a look at the classes proguard was removing, and noticed that various classes for Fuel were being removed. After adding some catch-all keep statements, the app seems to be working again._

The proguard rules I am

[2016-05-26 16:30] ismail-s commented on #95
Ok, I think I have figured it out. `-keep class com.github.kittinunf.fuel.android.util.AndroidEnvironment` should be added to `proguard-rules.pro`, as this is the class that makes the fuel callbacks run on the android ui thread. Thinking about it, it's obvious, as this class is never directly referenced in my code, yet is necessary nontheless.

[2016-05-26 17:38] #95 closed

[2016-05-30 11:20] ismail-s commented on #94
@yoavst I could do that. But it just seems a bit weird to be using a test mode when I am not actually running tests.

[2016-06-07 08:52] lenguyenthanh opened #98 "Add support OkHttp library"
As OkHttp has many advantages and there a lot of Android applications already use OkHttp. Should this library supports OkHttp as a plugin or uses it directly?

[2016-06-07 11:30] yoavst commented on #98
In order to do that, you need to create a [Client](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Client.kt) that uses `OkHttp`.

Here is the default client: [`HttpClient`](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/toolbox/HttpClient.kt)

[2016-06-09 10:15] lenguyenthanh commented on #98
So should we create a library call fuel-okhttp in this repository?

[2016-06-12 13:46] kittinunf commented on #98
I think it should be separated. You could open up with your repo that supports OkHttp. I am happy to link it in readme of this repo.

[2016-06-12 13:47] #98 closed

[2016-06-21 18:52] alex920 opened #99 "Hangs on at exit"
Hangs on at exit when using async mode,

[code]

[2016-06-22 09:26] ooeyuna opened #100 "Websocket client support??"
how to use Fuel for websocket

[2016-06-24 19:49] KalebPortillo opened #101 "Android: How can I send a Post request of an array of objects?"
I writing a app in Android Java, can someone give a example of how to post an array of objects, like:
[code]

[2016-06-25 15:51] yoavst commented on #101
using a json lib that converts the array of objects to json?

[2016-06-25 16:59] kittinunf commented on #100
In short, Fuel doesn't support websocket.

[2016-06-25 16:59] #100 closed

[2016-06-25 17:01] kittinunf commented on #94
@ismail-s I kinda of agree that using `testMode` seems like a workaround. However, I don't have a need to configure this value, but I do understand why this is handy.

If you convince that this feature is useful, I am happy to accept PR.

[2016-06-25 18:23] KalebPortillo commented on #101
But the post mothod just accept ai ArryList of Pair<>  as parameter

[2016-06-28 06:29] kittinunf commented on #101
Can you use `.body()` to help you achieve what you want?

[code]

https://github.com/kittinunf/Fuel/blob/676f84cf43b25a65c5577f63c4e7cbaff1473147/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Request.kt#L100

[2016-06-28 06:31] kittinunf commented on #99
I am not sure I understand your problem. Are you using this on Android?

[2016-06-28 06:37] alex920 commented on #99
On desktop. Executor prevents jvm from stopping if not shutdown it (executor) explicity,

[2016-06-28 06:54] kittinunf commented on #99
Ok. If you happen to know how to fix it please let me know. Even better you could do PR which I am happy to accept it.

[2016-06-29 16:26] KalebPortillo commented on #101
Thanks

[2016-06-29 17:07] #101 closed

[2016-07-10 18:46] yoavst opened #102 "Malformed header cause failure"
HTTP normal headers:

[code]

So, if we set a malformed value, for example `a\nb\nc`:

[code]

we get:

[code]

[2016-07-15 06:58] uranusjr opened #104 "Way to retrieve redirection info"
I understand that auto redirection is implemented in #40, but how can I disable this? My use case is that I want to decide whether or not to redirect based on the Location header, but with auto-redirection I can only see the final response.

An alternative would be that I can in some way check where I have beed redirected to. But this also seems impossible—It seems to me URLs of both request and r

[2016-07-15 07:51] yoavst commented on #104
Not possible yet.
Do you want to be able to disable the redirection feature? or just in specific cases?

[2016-07-15 08:25] uranusjr commented on #104
I’d say just in specific cases. It doesn’t need to (shouldn’t) be the default, but there should be a way to change the behaviour. It could work as an optional parameter like this: (taking the idea from [Django’s test client API](https://docs.djangoproject.com/en/1.9/topics/testing/tools/#django.test.Client.get).)

[code]

[2016-07-15 08:27] yoavst commented on #104
Should be easy to implement, since we just need to move the location of the redirection interceptor to the request and not global.

[2016-07-15 09:12] kittinunf commented on #104
@uranusjr In the meantime, you could remove all responseRedirection and add yours own to do whatever you want to.

Example is here;
https://github.com/kittinunf/Fuel/blob/master/fuel/src/test/kotlin/com/github/kittinunf/fuel/InterceptorTest.kt#L207

[2016-07-19 14:06] Maldaris opened #105 "Specify Cookies through Fuel instead of using java.net.CookieManager"
Android uses a separate cookie manager for WebViews,  android.webview.CookieManager, which requires type coercion to properly load into the standard java.net.CookieManager, which is used by Fuel via HttpURLConnection.

Would it be possible to have a Fuel standard interface for loading/retrieving/managing Cookies?

[2016-07-20 04:31] erdoganbavas commented on #105
You can set cookie with "header" method right after your "get/post/.." request. And you can find cookies  in response's header data with "Set-Cookie" key.

[2016-07-20 06:25] yoavst commented on #105
Code I use to find a specific cookie: https://gitlab.com/yoav-sternberg/mashov-api/blob/master/src/main/kotlin/com/yoavst/mashov/controller/CookieManagerImpl.kt

[code]

[2016-07-20 19:22] Maldaris commented on #105
This isn't overwritten by CookieManager when using HttpUrlConnection?

[2016-07-28 15:56] silverboyir opened #106 "Progress not updating"
Hi
i want update progress of ProgressDialog in progress method in download
but progress not updating on view , im seeing the percent in logcat

progress=new ProgressDialog(activity);
            progress.setMessage(activity.getResources().getString(R.string.download_video));
            progress.setProgressStyle(ProgressDialog.STYLE_HORIZONTAL);
            progress.setIndeterminate(true);

[2016-07-29 11:40] kittinunf commented on #106
Have you tried wrapped with `runOnUiThread`? View cannot update outside UI thread.

[2016-08-10 20:53] julfc opened #107 "TLS 1.2 support"
Hello, I'm having some issues with the library on Android 4.4.

The TLS 1.0 protocol is deprecated and I want to know if I can set the library to use 1.1 or 1.2.

Thanks, Julián.

[2016-08-11 06:13] kittinunf commented on #107
Yes. You are right. That is something I would love to add. But I don't really have time to do that yet. If you are willing to help us out, I would welcome your contribution to this.

[2016-08-12 08:55] Yayo-Arellano opened #108 "Out of memory when downloading file."
When i download a big file I am getting an out of memory error in Android. If the file is small there is no problem.

Maybe it can be related to this.

[Out of memory error](http://stackoverflow.com/questions/8730269/out-of-memory-when-downloading-a-file) or this [Out of memory error 2](http://stackoverflow.com/questions/4045028/android-download-file-out-of-memory-woes)

[2016-08-12 20:32] julfc commented on #107
Hello, finally I solved the problem adding the class below.

`import java.io.IOException;
import java.net.InetAddress;
import java.net.Socket;
import java.net.UnknownHostException;
import java.security.KeyManagementException;
import java.security.NoSuchAlgorithmException;

import javax.net.ssl.SSLContext;
import javax.net.ssl.SSLSocket;
import javax.net.ssl.SSLSocketFactory;

public class TLSSocke

[2016-08-13 12:10] yoavst commented on #107
https://blog.dev-area.net/2015/08/13/android-4-1-enable-tls-1-1-and-tls-1-2/

I don't really like this solution though. We should check what other libs do.

[2016-08-16 07:10] Yayo-Arellano commented on #108
I test using the solution [solution](http://stackoverflow.com/a/12263724/3479489) from stakoverflow and the out of memory error is gone. Hope it helps.

[2016-08-16 07:29] kittinunf commented on #108
Yeah, you are right. Would you mind open a PR to fix that? Thanks!

[2016-08-16 07:42] Yayo-Arellano commented on #108
Sorry. what i did was testing the method i just commented. I did not change anything in the library.  I am not really sure how to fix it in the library.

[2016-08-22 08:22] Yayo-Arellano commented on #108
I tried to update the library. But for some reason i can not test it.
`class DownloadTaskRequest(request: Request) : TaskRequest(request) {

    val BUFFER_SIZE = 1024

    var progressCallback: ((Long, Long) -> Unit)? = null
    lateinit var destinationCallback: ((Response, URL) -> File)

    lateinit var inputStream: InputStream
    lateinit var fileOutputStream: FileOutputStream
    lateinit va

[2016-08-22 11:57] heyarne opened #109 "Possibility to invoke handler in background thread on Android"
Is this possible? I am handling a very large JSON response and I offloaded parsing it to the background thread already, but I guess the String alone already makes the UI stutter a bit.

[2016-08-22 16:45] kittinunf commented on #109
You could do one of the following.

1. If making a String really does slow you down, you could opt to use `fun response(handler: (Request, Response, Result<ByteArray, FuelError>) -> Unit)`. Then, wrapping the parsing `ByteArray` by using Gson, Mochi, and whatnots on the background thread.

2. You could use built-in deserialization support, i.e. `fun <T> responseObject(deserializer: ResponseDeseria

[2016-08-22 16:46] kittinunf commented on #108
Have your tried running test with `./gradlew test --info` on command line?

[2016-08-24 08:54] sitexa opened #111 "httpGet() and httpPost() differ in request encoding?"
What's the reason?  No1 use httpGet, No2 use httpPost, the same parameter "科特林"，different out put , the last is correct.

No1===
Client side:
val url = "http://localhost:1234/member"
val p1 = Pair("name","科特林")
val list = listOf(p1)
val (request, response, result) = url.httpGet(list).responseString()

Server side:
No1, "GET" request parameter:
val name = request.queryParams["name"]
log.info("name:

[2016-08-24 12:23] #105 closed

[2016-08-27 23:44] dstd commented on #108
@Yayo-Arellano is it a final version of your update of `DownloadTaskRequest`? I can't understand what you think you have fixed.

As I understand the code of Fuel, it always reading the whole response body into the memory.
So if your app has not so much free memory left and makes a request for a large file (eg. 30MB) you can run out of memory, because all these 30MBs will be stored in memory as a `

[2016-08-28 10:04] yoavst commented on #108
[code]

[2016-08-28 10:26] dstd commented on #108
@yoavst you're missing one important thing – all these deserializable variants are uses a data stored in RAM. In fact `inputStream` will be a `ByteArrayInputStream`, so that a large file can cause OOM.

Maybe it's me who can't see the code that handles `connection.inputStream` as a stream, without reading all the content into the memory. Correct me in this case, please

[2016-08-29 00:51] Yayo-Arellano commented on #108
@dstd  I did not update the library. I used the solution in this [answer](http://stackoverflow.com/questions/4045028/android-download-file-out-of-memory-woes) and now i can download 500MB files with out a crash. and before even in 50MB files the app will have the OOM. The code i post was some attempt to fix the library but i did not succeed.

[2016-08-29 08:08] kittinunf commented on #108
I am sorry for late to the party.

I just wanna get to the bottom of the problem.

Well, let's see, this is the gist of function that Fuel uses to download the file.

https://github.com/kittinunf/Fuel/blob/a702a39043519d2b3e06c69a3afd10bec2b24ffe/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/requests/DownloadTaskRequest.kt#L28

[code]
If I understand correctly, there is one real key differen

[2016-08-29 08:14] dstd commented on #108
@kittinunf take a look few lines above `copyTo`:
[code]
Here `response.data` contains all the data received from the server, all 500 MBs.
Just because of this block of code in [HttpClient.kt#L55](https://github.com/kittinunf/Fuel/blob/a702a39043519d2b3e06c69a3afd10bec2b24ffe/fuel/src/main/kotlin/com/github/kittinunf/fuel/toolbox/HttpClient.kt#L55):
[code]

[2016-08-29 08:23] kittinunf commented on #108
@dstd Yeah, you are right. What I am confused is the fact that @Yayo-Arellano's implementation is irrelevant with code from `HttpClient`. So I failed to see why above implementation makes him downloading 500 MB of data just fine.

[2016-08-29 08:28] Yayo-Arellano commented on #108
Sorry. Maybe i did not explain well what i was trying to say.
I did use the code from `HttpClient` but not using this library, not using kotlin. So it fixes "My" problem but not the library bug. Then i try to update the library with the solution i use translating the solution in this[ link ](http://stackoverflow.com/a/12263724/3479489) to kotlin.

[2016-08-29 23:44] dstd commented on #108
Here is a patch that gives the support of I/O streams to handle the upload/download.
As a side effect it makes a progress reporting to work correctly =)

In my project I stuck on older version of Fuel due to several app-specific changes and still can't find large enough pile of time to jump into `master`. So probably this code can't be used as is.

Main magic is in `HttpClient.kt`, other changes i

[2016-09-02 11:16] dstd opened #112 "Useless try-catch block"
There's no reason for the following try-catch block in [HttpClient.kt](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/toolbox/HttpClient.kt#L65), because there's the outer try-catch block that will catch any exception

[code]

[2016-09-02 11:17] kittinunf commented on #112
Thanks!

[2016-09-06 16:12] heyarne commented on #109
Thanks, solution number two worked like a charm. :)

[2016-09-10 03:08] huiyiqun opened #113 "Boundary should keep same in one upload request"
There are two boundary in one upload request:

[1] https://github.com/kittinunf/Fuel/blob/22734da6995dfa767ba4f73bcb36381016ccd83a/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Encoding.kt#L34
[2] https://github.com/kittinunf/Fuel/blob/484d03bd6ae4740e659ab2a69ceebb88be94ec5e/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/requests/UploadTaskRequest.kt#L18

They all take the current syst

[2016-09-10 06:36] huiyiqun commented on #113
[Here](https://github.com/huiyiqun/Fuel/commit/ad9e15f35a951673a01cd8e6f2a98c4d50dce749) is a simple fixup.

[2016-09-10 11:45] huiyiqun opened #115 "Field name for uploaded file"
There are no ways that we could assign a field name for the uploaded file.

[2016-09-20 13:19] Sermilion commented on #115
Yep. Just stumbled upon this problem as well.

[2016-10-08 09:13] nyfd opened #116 "JRE 7 required to use Basic Authentication"
https://github.com/kittinunf/Fuel/releases/tag/1.3.1

Using Basic Authentication on Oracle JRE 6 (Debian) fails with an exception.

Apparently Basic Authentication uses Base64 encoding classes which are are compiled with target compatibility JVM 7.

See com.github.kittinunf.fuel.util.Base64.class

[2016-10-08 09:28] yoavst commented on #116
In a library of mine I use:
[code]

But I don't know if it really works.

[2016-10-08 09:42] nyfd commented on #116
It should work, and it's easy to rebuild from sources with JRE compatibility set to 1.6

The problem is that the published JAR (https://github.com/kittinunf/Fuel/releases/tag/1.3.1) already contains those Base64-classes that require JRE 7 to run, and we prefer to use published artefacts from JCenter repository instead of building from sources.

[2016-10-08 10:02] nyfd commented on #116
Hmm, I'd like to understand how this could happen - I guess that the release was built on a system with JDK 7 installed as default Java.

Kotlin compiler produces class files targeted for JVM 6 automatically.

Base64.java seems to be the only class written in pure Java so JDK 7 built it with target compatibility 7.

You need to provide bootstrap path with JRE 6 runtime JARs when building for JRE 6

[2016-10-13 08:27] kittinunf commented on #116
I will do that for the next release.

[2016-10-13 08:28] kittinunf commented on #115
Sorry for that. I will fix this together with next release.

[2016-10-30 05:04] HosseinR65 opened #121 "help for keeping session open"
Hi
i started working on an existing project that currently using DefaultHttpClient of apache
this project will just create DefaultHttpClient  one time and keep it in a static variable , so the session will kept open for a while
how i can achieve this functionality with fuel to replace this section ?

seems i can keep the request object in static variable , and with header method i can change param

[2016-11-10 22:17] SebastienFCT opened #122 "(Java) Passing body / header in an upload task"
Hey there,

I'm trying to perform an upload task passing both body and header.

I searched everywhere in your doc, but can't find out how to manage this.

This is what I'm doing so far for the headers:

    HashMap<String, String> headers = new HashMap<>();
    headers.put("header-field", "header-value");
    Fuel.upload(Utilities.UPLOAD_BINARY_URL, Method.POST)
                        .set

[2016-11-15 16:41] JackED42 commented on #108
Hi,

Are there any plans on adding this fix to an upcoming version?

Thanks

Jack

[2016-11-20 09:23] kittinunf commented on #108
Yup, I will made a lot of fixes in next version. I haven't looked for this yet, but I will soon. In the meantime, if you wants to help me out, it is appreciated, too!

[2016-11-20 09:39] kittinunf commented on #116
It is addressed by #123

[2016-11-20 09:40] #109 closed

[2016-11-20 09:41] kittinunf commented on #113
Can you please address my concern in the PR? Then we can merge this! :)

[2016-12-06 09:45] wahoho opened #124 "Cant find responseJson"
I am using the latest 1.3.1 but I can't seem to find responseJson. I can see response, responseString, and responseObject. Is the responseJson already removed from verion 1.3.1?

[2016-12-06 13:56] yoavst commented on #124
it is moved to `fuel-android`

[2016-12-07 09:36] wahoho commented on #124
Oh Ok I thought it was still in fuel 1.3.1 since responseJson was still in the README. Thank you for the info.

[2016-12-07 09:36] #124 closed

[2017-01-09 13:49] kittinunf commented on #116
This should be fixed with latest version. 1.4.0

[2017-01-09 13:49] #116 closed

[2017-01-09 13:49] kittinunf commented on #113
Fixed!

[2017-01-09 13:49] #113 closed

[2017-01-09 13:49] kittinunf commented on #112
Removed!

[2017-01-09 13:49] #112 closed

[2017-01-09 13:50] kittinunf commented on #106
This issue seems to be staled. Please re-open it if the issue persists.

[2017-01-09 13:50] #106 closed

[2017-01-09 13:51] kittinunf commented on #99
Close as it stales.

[2017-01-09 13:51] #99 closed

[2017-01-12 13:33] IvanKulikov opened #127 "301/302 redirect response data is discarded"
When Fuel gets a 301/302 redirect response it is handled by the redirectResponseInterceptor. The interceptor immediately accesses the redirect url discarding the initial response. In my case there is valuable data in the redirect location string (auth token).  Is there any way to change the redirectResponseInterceptor handler, get a redirect response data or add a new interceptor into the chain be

[2017-01-13 06:07] edwinevans opened #128 "Add exception catcher in httpGet for Android?"
If an exception occurs in the code for processing httpGet response nothing gets logged to logcat. I think if an exception escapes from the thread processing the response then fuel should log it.

[2017-01-13 08:58] IvanKulikov commented on #127
If Anyone interested.
After playing around with sources a bit i've found out that removeAllResponseInterceptors removes all interceptors. **Not shure if it was made intentionally considering that interceptors` lists are private and redirectInterceptor is created by default.**

So what i've done:

    var fm = FuelManager.instance
    fm.removeAllResponseInterceptors()
    fm.addResponseInterceptor

[2017-01-13 09:52] kittinunf commented on #127
Ah thanks. Would you mind create a PR to fix it?

[2017-01-13 09:54] kittinunf commented on #128
I think you should be able to retrieve it from `Result`. Can you see whether you get what you want inside it?

[2017-01-13 10:07] IvanKulikov commented on #127
Sure no problem. But what would you want me to do exatctly?
1. Fix **removeAllResponseInterceptors** so it will not delete the default  **redirectInterceptor** implementation?
But by doing this i will not be able to retrieve my valuable data from the redirect response. In this case i'd suggest adding httpRedirectHeaders map to Response class to keep this data. Is it ok?
2. Describe this hack in th

[2017-01-13 10:27] kittinunf commented on #127
I would say that your valuable data might be valuable to others as well. Why not fix the original redirectInterceptor to bundle what you need as well?

Also we should allow user to delete item one by one. How about add API to remove specific interceptors from the list?

[2017-01-15 00:59] edwinevans commented on #128
I mean if there is an exception in the client code that handles the callback...

       url.httpGet().responseString { request, response, result ->
            // EXCEPTION HERE has no default handler

[2017-01-22 01:00] edwinevans commented on #128
I'm not seeing this issue with my latest environment. I think it's getting caught by an android default thread exception handler and logging fine. I'm not sure what was going on. Closing issue.

[2017-01-22 01:00] #128 closed

[2017-01-22 04:29] kittinunf commented on #128
Oh okay. Thanks for reporting this (and close this). 👍

[2017-02-08 10:06] #115 closed

[2017-02-08 11:24] kittinunf commented on #57
Resolve with #129

using `name { "<filename>" }` to specify file name in UploadTask

[2017-02-08 11:24] #57 closed

[2017-02-11 20:47] mradzinski opened #130 "RxJava 2.x support"
Any plans to update Fuel so it can support RxJava 2.x?

[2017-02-12 06:07] kittinunf commented on #122
Close as implemented in #129

[2017-02-12 06:07] #122 closed

[2017-02-15 02:31] hendisantika opened #131 "Error get async"
I tried get async like in the example.

But I got error.

[code]

Could you give me an advise?

[2017-02-15 03:28] hendisantika commented on #131
I fixed that error with this solutions :

[code]

Is the example running well in your local ?

[2017-02-15 04:34] kittinunf commented on #130
Yes. It will be supported in next release!

[2017-02-23 06:36] qgliu opened #132 "how to post a json as body"
What I'm trying to do is very simple, I need to add a JSON structured string in post.

For example, in posting to "users/login", the body should be {email: aaa, password: bbb}. I use kotson gson to construct the JSON
`                    val dataJson: JsonObject = jsonObject(
                            "email" to "$email",
                            "password" to "$password"

[2017-02-23 07:20] qgliu commented on #132
Even use the example code in README
`"{ \"foo\" : \"bar\" }"`
The server is getting `{ '{ "foo" : "bar" }': '' }`

[2017-03-01 13:02] heyarne opened #133 "Missing PATCH-Verb"
Is there a possibility to issue PATCH-requests without using the semi-standard `X-HTTP-Method-Override` header, e.g. `Fuel.patch(...)`?

Maybe I'm just not seeing it, there is a patch method defined [here](https://github.com/kittinunf/Fuel/blob/5ce5955b34a2f237ed3b3c223415da74619ad4ab/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Method.kt#L8) but it's not exposed like GET, POST, PUT or DELE

[2017-03-01 14:32] cah-andrewfitzgerald opened #134 "Support Javascript backend"
With the release of Kotlin 1.1, the Javascript backend is no longer experimental.
It would be nice if the same HTTP API was available at all layers of the kotlin stack.

[2017-03-01 17:02] tumasgiu commented on #132
Try setting the content type header :

[code]

[2017-03-01 17:07] qgliu commented on #132
Thanks.

[2017-03-01 17:07] #132 closed

[2017-03-05 12:07] andrycodestuffs opened #135 "Proper way to post json with Fuel.post"
I created a list of pair and converted it to a json string.
I have setted up a node server for reading the request body and the result is:
[code]

The whole json is interpretated as the key of the object
I'm using Android with vanilla Java

[code]

[2017-03-05 19:40] #135 closed

[2017-03-05 19:41] andrycodestuffs commented on #135
I used Java HttpUrlConnection instead of the module

[2017-03-06 01:31] kittinunf commented on #134
This is really awesome idea. It is also aligned to this library's vision. However, as discussed, I am no where near expert in JS backend and not sure how to make this happen. You are very happy to help contribute in here. 👍

[2017-03-06 07:42] VictorAlbertos opened #137 "RxJava extension: favor Observable.defer + ReplaySubject over Observable.create"
Hi @kittinunf :)

Creating an `Observable` using its static built-in `create` method could lead to unexpected results, and because of that its usage is generally disallowed.

Extracted from the official docs.

That's why I would recommend to change the current implementation to use `defer` and `ReplaySubject`:

[code]

If you agree with this proposal I could make a PR :)

[2017-03-08 08:22] andreparodi commented on #133
I was looking for this as well. Although the enum is defined it looks like the appropriate methods in the Fuel class are not defined to do the patch request. see [here](https://github.com/kittinunf/Fuel/blob/513cbb78115ace90524333a732d990be32ae1dae/fuel/src/main/kotlin/com/github/kittinunf/fuel/Fuel.kt#L124)

it looks like it should be pretty easy to add.

how did you do the request with the X-HTT

[2017-03-08 09:00] kittinunf commented on #137
I agree that using `create` should be discouraged but I don't see why do we need a `ReplaySubject` in here? Can you explain a bit more on that.

[2017-03-08 14:30] VictorAlbertos commented on #137
In this entry on [StackOverflow](http://stackoverflow.com/questions/36765336/rxjava-observable-alternative-to-create-in-async-call) David Karnok suggets to use `AsyncSubject` as an alternative to `Obseravble.create`.

Its main difference regarding `ReplaySubject` is the next one:

AsyncSubject

ReplaySubject

Extracted from the [`Subject`official docs](http://reactivex.io/documentation/subject.htm

[2017-03-09 15:02] kittinunf commented on #137
Sure! I think using `AsyncSubject` made much more sense. Thank you for suggesting this by the way. If you would scarifice your time a little to help me out, that would be awesome too!!

[2017-03-09 22:31] VictorAlbertos commented on #137
Of course :) Already done at #138

[2017-03-09 22:35] VictorAlbertos commented on #130
@kittinunf :), if you want I can create another module, called fuel-rxjava2, with the same structure that the module for rxjava1.

[2017-03-10 07:08] kittinunf commented on #131
I guess this should be closed? Feel free to open if it is still a problem.

[2017-03-10 07:08] #131 closed

[2017-03-12 20:04] paksv opened #141 "Missing code for com.github.kittinunf.result.Result"
Not sure what's happened, but library is unusable now.

[2017-03-12 20:14] paksv commented on #141
Apparently, RTFM required.

[2017-03-12 20:14] #141 closed

[2017-03-13 01:09] kittinunf commented on #141
Oh can you please share what actually happened? So that I could add into the installation process. Thanks!

[2017-03-13 09:31] paksv commented on #141
I was very straightforward - just downloaded the 1.5.0 release and used it in my app. Didn't read the README.md as usual :).
It would be nice to have the complete package (with deps) in release. That would save time for people like me.
Other than that worked great for my needs. Thank you for that library.

[2017-03-13 09:49] kittinunf commented on #137
This should be closed then! Thanks @VictorAlbertos so much for helping me out ❤️

[2017-03-13 09:49] #137 closed

[2017-03-13 09:51] kittinunf commented on #141
Ah, sorry for my naive knowledge that everyone uses `gradle` these days ? Really sorry for that I will update README.md so that it should be able to understand a little better, what do you think?

[2017-03-13 09:54] kittinunf commented on #135
This is the snippet that I use to do `POST`.

[code]

Can you try out and see whether you can use it like that?

[2017-03-13 10:01] yoavst commented on #141
@kittinunf is right, most of the libraries nowadays works only with build system, so they no longer mention their dependencies on their README.

[2017-03-13 10:06] paksv commented on #141
I always prefer downloading a release vs building against the latest sources for numerous reasons. It's quite clear in README that dependency is located in different repo. I just didn't expect that. Usually, release library contains all the dependencies.

[2017-03-13 10:41] yoavst commented on #141
@paksv Would you be OK with adding `Result` jar in releases page?

[2017-03-13 10:43] paksv commented on #141
@yoavst yes, that would be great. Thank you.

[2017-03-13 11:12] yoavst commented on #141
Done.

[2017-03-13 15:07] kittinunf commented on #130
@VictorAlbertos I planned to just replace the current RxJava module with 2.x altogether. I honestly don't really want to maintain 2 RxJava modules. What do you think?

[2017-03-14 12:03] VictorAlbertos commented on #130
I agree. I think you should not maintain Rx1 version any longer. At least, that's the way most of the android dev are doing it nowadays. But, still, maybe it would be a good idea keeping Rx1 module, and creating a new one for Rx2. I said so because, so far, every library out there is doing that, either it creates a new branch, a new repo or new module. But, of course, that question is entirely up

[2017-03-15 14:23] kittinunf commented on #130
I think I wanna go with replacing RxJava1 to 2 entirely. Thanks! @VictorAlbertos thanks for your discussion/suggestion.

[2017-03-19 14:04] Tchoupinax opened #143 "Android block mode -> Cannon resolve responseString"
Hello,

I have a problem with trying to use the blocking mode code.
[code]

First of all, it seems to be good to replace _Triple<Request, Response, String>_ by _Triple<Request, Response,  **Result<String,FuelError>**>_ (Android studio helps me to find it. ^^)

However for this line :
[code]

responseString() triggers "cannot resolve methode responseString()". I tried to change the variable type, t

[2017-03-22 02:49] dyas90 commented on #143
Same problem with me.
i use this code
`val (request, response, result) = "http://httpbin.org/get".httpGet().responseString()`
get result `[Failure: Exception : null]`
but if i use code
`"http://httpbin.org/get".httpGet().responseJson {req, resp, res -> }`
get result `[Success: com.github.kittinunf.fuel.android.core.Json@4c0076a]`
what wrong?

[2017-03-22 05:23] tuhin10 opened #144 "How to get dowloand speed?"

[2017-03-22 11:22] kittinunf commented on #143
Hi, thank you you both for reporting!

The full explanation of the exception is this (Sorry, I think the current version the exception string is not good enough, it doesn't provide useful information).

[code]

So, it looks like you need to do either;

1. Configure the SSLContext with a TrustManager that accepts any cert or
2. Configure the SSLContext with an appropriate trust store that includes

[2017-03-22 11:42] Tchoupinax commented on #143
Hello,
i do not really understand what to do... i just want to use the function. :D
Why must i configure context for block mode while aynschronus mode is working well without anything else ? ^^
Thank you for answer

[2017-03-23 15:06] kittinunf commented on #143
@Tchoupinax I am not sure what you mean but for me, both sync and async are failure to me with same exception. I also attached screenshot for you as reference.

<img width="1338" alt="screen shot 2017-03-24 at 0 05 23" src="https://cloud.githubusercontent.com/assets/4669517/24254220/a9f18408-1025-11e7-91fb-5863eb877da1.png">

[2017-03-24 11:30] Tchoupinax commented on #143
@kittinunf My problem is this following
![d](https://cloud.githubusercontent.com/assets/9136206/24292319/1f766ec0-108d-11e7-91c4-951ef949d1b1.jpg)

While this following is working without any problem !
[code]

As you mentionned in your description : "It returns the same parameters as the async version, but it blocks the thread. It supports all the features of the async version.".
I need to use the

[2017-03-24 11:56] kittinunf commented on #143
Oh, you are talking about compile error? I see. Because I am no longer use Java regularly so that I didn't know that some of the interface was not properly translated for Java user.

In the meantime, I think you can do this;

[code]

I will make sure that I address those inconveniences for Java user in the next release. 🙏

[2017-03-29 02:35] 17plus9 opened #146 "Progress handler for simple GET/POST requests"
Unfortunately, the progress handler seems to only be implemented/useable with the upload/download functions which are not appropriate for all use cases. It is therefore requested to have this functionality for all kinds of transmissions such as custom GET/POST requests.

[2017-04-04 14:14] Querschlag opened #147 "Multipart upload with multiple files"
I need to upload multipart form data along with multiple images.
Is it possible to accomplish this with Fuel?

[2017-04-04 15:03] amalakhov opened #148 "How can I set a source (local) IP address for HttpRequest?"
We have few external ip's. How can I specify source (local) IP address for HttpRequest?

Simple test case: I would like to use 127.0.0.5 to connect to my server on 127.0.0.1

[2017-04-07 20:10] romanvolkov-io commented on #148
https://en.wikipedia.org/wiki/IP_address_spoofing

[2017-04-12 16:05] westlinkin opened #149 "Proguard breaks Deserializer"
I have a problem. If I enables Proguard, it breaks Deserializer. For example:
[code]

In this example, I can see logcat shows the response with a Body. But the value of `a` is empty, not `null` but empty. All the variables in `Class A` is the default value.

Here is `A`:
[code]

And `SubA`:
[code]

How to fix this?

[2017-04-13 15:29] westlinkin commented on #149
Update: If I enable `-dontobfuscate` feature, it works fine. When I disable `-dontobfuscate`, get empty `A` variable.

[2017-04-14 11:48] #149 closed

[2017-04-16 04:21] kittinunf commented on #149
Thanks for reporting. Would you mind help me documenting this in the README.md so that others can benefit from it? Thank you in advance!

[2017-04-24 11:32] kuy opened #150 "Could not initialize class com.github.kittinunf.fuel.core.FuelManager"
I got errors when I call Fuel API but I couldn't realize what's wrong.
My question: Does Fuel support Kotlin 1.1.x?

### Environment

JVM: 1.8
Kotlin: 1.1
Fuel: 1.5.0
Result: 1.0.5

### Stack Trace

[code]

[2017-04-25 08:59] kittinunf commented on #146
Yes, that is something I has planned to do but I haven't got time to really implement it. If you would love to contribute in this area, please let me know.

[2017-04-25 09:00] kittinunf commented on #143
Can you confirm whether this issue is somehow solved by using workaround?

[2017-04-25 09:01] kittinunf commented on #150
Can you check whether it has something to do with Proguard rule?

Since Kotlin has a backward compatibility, I don't see what can potential be a problem here.

[2017-04-25 09:14] Tchoupinax commented on #143
Yeah ... Sorry i thought i have answered and closed. Thank you man ! :)

[2017-04-25 09:14] #143 closed

[2017-04-25 14:14] pablobaldez opened #151 "NoClassDefFoundError: kotlin.collections.EmptyList"
i'm getting an exception when i'm initiallizing the FuelManager
For some reason the baseParams can't be initialized with emptyList() method.

I'm using kotlin 1.1.1

[2017-04-28 11:09] Vincent-Loi opened #152 "ArrayList is posted as String"
Hi, I'm trying to post an ArrayList of strings to the server but it is passed as a string array. See below example:

Expected Results:
[code]

Actual Results:
[code]

Notice that there is a ' ' wrapped around the array representing a string.

[code]
listOfValues is an ```ArrayList<String>```

Currently, the Fuel post request looks like this:
 ```Fuel.post(url, listOf("some_key" to object.listOfVal

[2017-04-28 13:24] o-nix opened #153 "`InputStream` return value support for `sourceCallback`"
So currently as I see I'm not able to provide data from `classpath:...`, I have to extract everything into some "real" folder for using with `new File(...)`.

[2017-04-28 13:28] o-nix opened #154 "Externalize `multipart/form-data` builder or make `source` optional"
I want to POST only `parameters` as a multipart-ed source. I'm forced to provide some dummy file.

[2017-04-28 15:11] o-nix opened #155 "Externalize `Content-Type` detection for `multipart/form-data`"
Currently it uses `URLConnection.guessContentTypeFromName(file.name)`, so my `certificate.pem` becomes `Content-Type: null`.

[2017-04-30 07:26] westlinkin commented on #108
Any update?

[2017-05-05 05:43] kittinunf commented on #133
I will cover this issue by #156

[2017-05-06 05:10] kittinunf commented on #152
Ah, thanks so much for reporting the issue. Yes, `Fuel` by itself do not know how to serialize it so you need to manually supply it in the `body()` block.
Can you elaborate more on why

[2017-05-06 14:47] #133 closed

[2017-05-06 15:32] kittinunf commented on #144
I don't think this matches with direction of Fuel. You probably want to look elsewhere.

[2017-05-06 15:32] #144 closed

[2017-05-06 15:45] #147 closed

[2017-05-07 02:36] babedev commented on #154
With 1.6.0, you can use `sources` and pass empty list like this.

[code]

[2017-05-07 17:24] StokeMasterJack opened #160 "Adding fuel 1.6.0 to my pom breaks my build"
My project builds and runs successfully. Then I add this to my pom:

[code]
And my project build fails with this error:

[code]

This doesn't make since. Why would adding a jar break my build? And all my code that uses coroutines now produce compile errors.

[2017-05-07 22:15] kittinunf commented on #160
Ah ... can you try to make the resolution conflict by using Kotlin version 1.1 or above? Sorry for inconveniences. I think I will update Fuel to depend on Kotlin 1.1 in the next version.

[2017-05-07 23:32] StokeMasterJack commented on #160
Yes. I use coroutines. I am already using kotlin version 1.1. These are the kotlin jars in my lib folder:

kotlin-reflect-1.1.1.jar
kotlin-stdlib-1.1.1.jar
kotlin-stdlib-common-1.1-SNAPSHOT.jar
kotlin-stdlib-jre7-1.1.1.jar
kotlin-stdlib-jre8-1.1.1.jar
kotlinx-coroutines-core-0.13.jar
kotlinx-coroutines-jdk8-0.13.jar
kotlinx-html-common-0.6.1.jar
kotlinx-html-jvm-0.6.1.jar

[2017-05-08 00:01] kittinunf commented on #160
Can you exclude Kotlin version from `Fuel` and rely on your supplied Kotlin version?

Something like this in gradle build

[code]

[2017-05-08 01:57] StokeMasterJack commented on #160
Thank you. That fixed it. I changed my pom to this:

[code]

[2017-05-08 08:29] Querschlag opened #161 "Customizations for multi file upload"
First of all, great thing that multi file upload has been implemented!

I propose adding some options to allow setting
- media type
- file name
- field value

for example: in OkHttp I can do this:
[code]

[2017-05-08 10:39] babedev commented on #161
Sound interesting. It will be supported in next release.

[2017-05-08 12:27] #154 closed

[2017-05-08 12:29] o-nix commented on #161
Related to #155

[2017-05-08 15:07] Querschlag commented on #161
Brilliant!
Could you also add an option for the field value the files get assigned to?
Maybe a data class that hold the files + the field value...

[2017-05-12 04:17] #155 closed

[2017-05-12 17:25] rostopira opened #165 "POST form-data without file"
Backend dev with who I'm working currently is a bit strange. He sending me data in JSON, but I must send him form-data 0_o

I implemented the same with OkHttp3, but looking forward new releases to get rid of it

[code]

BTW, thanks for such great library, I really enjoying developing with it ^_^

P.S.: Just checked, in another API I must post simple values and a file at the end...

[2017-05-13 14:09] kittinunf commented on #160
May I close this issue?

[2017-05-13 17:41] #160 closed

[2017-05-14 14:38] #130 closed

[2017-05-18 16:28] austinv11 opened #167 "Reactor support"
I see you have an RxJava extension, I think you should consider adding a [Reactor](https://github.com/reactor/reactor-core/) extension as well. It is pretty similar to rxjava so it shouldn't require too much effort.

[2017-05-18 16:40] austinv11 commented on #167
I could probably PR support later if you'd like

[2017-05-19 08:44] kittinunf commented on #167
👍  please. I am more than happy to accept your PR.

[2017-05-19 20:44] austinv11 commented on #167
Do you have a place where I can discuss this with you? I am having some difficulties in setting the project up in intellij.

[2017-05-20 15:56] walfud opened #168 "coroutine supported?"
Will you support coroutine in future?

[2017-05-20 18:20] bramhaag opened #169 "Form-data with file upload?"
I'm trying to upload a file with form-data, but I can't find the correct way to do it. This is what it looks like in Retrofit:
[code]

Is there a way in Fuel to do this?

[2017-05-20 18:31] babedev commented on #169
You can do with `source` like this

[code]

Hope this answer your question :)

[2017-05-20 18:52] bramhaag commented on #169
Sadly that doesn't fix my issue, the form data is still not set

[2017-05-23 08:27] kennycason opened #170 "Doc Typo"
I think the line:
[code]
should read
[code]

[2017-05-23 08:56] yoavst commented on #170
Can you send a pull request? you can do it from the UI.

[2017-05-23 08:57] #170 closed

[2017-05-23 08:59] kennycason commented on #170
will do :)

[2017-05-27 02:18] morebetter1 opened #173 "download progress"
is not download progress ，is createTempFile progress

[2017-05-28 06:24] KucherenkoIhor opened #174 "LiveData support"
Are you going to add LiveData support?

[2017-05-31 05:30] kittinunf commented on #174
Yes, I do love to do that 👍  Thanks for asking.

I would not mind pull request too if you want to do one. I am more than happy to accept it. :)

[2017-05-31 16:13] KucherenkoIhor commented on #174
Thank you. I will do it:)

[2017-05-31 16:15] chrisly42 commented on #168
Support can be easily added in the meanwhile by adding helper functions like this one:

[code]

[2017-06-01 05:34] KucherenkoIhor commented on #174
I created [pull request](https://github.com/kittinunf/Fuel/pull/175)

[2017-06-02 16:26] jilees opened #176 "File upload from InputStream directly"
I try to upload file from internal Uri using ContentResolver. I have got filename and Uri (I can open inputstream over ContentResolver) but I have no File.
There's a stream and a filename inside UploadTaskRequest but I cannot access them.
The only workaround I found is to create temporary file.
Could you please consider about create alternative way of UploadTaskRequest initialization?

[2017-06-02 21:27] seanmadden opened #177 "HTTP HEAD tries to read gzip input stream and throws an exception"
Running

`curl -i -k -I  -H "Accept-Encoding:compress;q=0.5, gzip;q=1.0" "https://www.google.com"`

results in
[code]

Which has **Content-Encoding: gzip** - this causes Fuel to try to parse an empty GZIP input stream (since HEAD requests have no bodies) causing an EOF exception to be thrown.

I'm submitting a pull request shortly.

[2017-06-07 05:10] KucherenkoIhor commented on #174
Could you check out!??

[2017-06-08 08:05] lfmingo opened #179 "Generic GSon Deserializer"
Instead of coding a deserializer class on each Model Class, I prefer to have only one deserializer class.
See example below.

[code]

[2017-06-08 16:19] lfmingo commented on #179
even simpler with:

`.responseObject(Deserializer(Wheater::class.java)){ request, response, result ->`

[2017-06-10 05:39] kittinunf commented on #179
Aha, that is one possibility to do that as well. But this is up to the client that uses library's api right? So, from Fuel's standpoint, there is no need to change anything?

PS.

You can make it even more simpler by using `reified` type from Kotlin

Something like this

[code]

Then usage becomes something like this instead.

[code]

[2017-06-10 05:40] kittinunf commented on #177
Can we close this down? 👍

[2017-06-10 05:41] seanmadden commented on #177
Yep 👍

[2017-06-10 06:00] #177 closed

[2017-06-10 06:01] kittinunf commented on #174
Yes! Thanks so much as sorry for the delay 🙏

[2017-06-10 06:35] kittinunf commented on #104
Close due to inactivity

[2017-06-10 06:35] #104 closed

[2017-06-10 06:45] #174 closed

[2017-06-14 10:23] inciler88 opened #182 "NoClassDefFoundError: kotlin.jvm.internal.Intrinsics"
I use fuel for my android project. If I use api level 21 or more it is okey however if I use api level 19 or lower it have "NoClassDefFoundError" issue.

[2017-06-16 00:54] ParkerK commented on #169
I *think* you can do .upload("/post, params=YourFormData)

Put your params in the List<Pair<String, Any>> format. I may be mistaken though if this works without a file

[2017-06-19 21:30] gperdomor opened #183 "responseJSON is not usable in blocking call"

[2017-06-29 20:12] DanoOM opened #185 "maven?"
I have been trying to include this in a maven kotlin project..but..no luck..
I searched: https://bintray.com/bintray/jcenter
for com.github.kittinunf.fuel.fuel
but it does not appear to find the artifact?
my maven pom:
 <repository>
      <id>jcenter</id>
      <url>http://jcenter.bintray.com </url>
      <snapshots>
        <enabled>true</enabled>
        <updatePolicy>never</updatePolicy>

[2017-06-30 08:58] FrederikNS opened #186 "Example on how to mock Fuel when running unittests?"
I have been trying for 2 days now to mock/stub Fuel, with no real luck.

I'm building a small piece of software which needs to perform a REST GET request to acquire some data. I'm using Fuel to request the data, which works fine, but I also want to be able to unittest my code.

I can see from the documentation that Fuel has a "test-mode", which makes it run in blocking mode, but I can't seem to fi

[2017-06-30 12:07] FrederikNS commented on #186
I also tried to create my own client and setting it on the FuelManager like this:

    val client = object: Client {
        override fun executeRequest(request: Request): Response {
            val resp = Response()
            resp.apply {
                dataStream = podJson.byteInputStream()
            }
            return resp
        }
    }

    FuelManager.instance.client = client

But wh

[2017-06-30 12:30] FrederikNS commented on #186
Hmm, it seems that the ability to replace the client, broke with #172.

I have downgraded to version 1.7.0, where the following code works fine:

    val client = object: Client {
        override fun executeRequest(request: Request): Response {
            return Response().apply {
                data = podJson.toByteArray()
                httpStatusCode = 200
                httpResponseMessag

[2017-07-01 04:52] kittinunf commented on #185
Hmm can you try this?

[code]

[2017-07-01 04:53] kittinunf commented on #183
Can you leave more useful information in hunting down this problem?

[2017-07-01 04:54] kittinunf commented on #179
I think this is up to the client to supply the `Deserializer` class in whatever it suits you best, I believe we can close this issue.

[2017-07-01 04:54] #179 closed

[2017-07-01 04:58] kittinunf commented on #186
Yes. @FrederikNS I designed `Client` to be pluggable and the way you have done for mocking the response was correct. However, I agree with you that it becomes annoying after `data` has been set to `internal`.

I will open a PR to patch that in the next version. Or if you want to open a PR for that, I am more than happy to merge yours too!

Thanks for using `Fuel` and also reporting back the proble

[2017-07-01 05:44] kittinunf commented on #108
I think this should be fixed with the latest version of Fuel 🎉

[2017-07-01 05:44] #108 closed

[2017-07-02 20:38] ParkerK opened #188 ".progress{} repeats and shows totalBytes=0 the second time"
I'm using the `.progress{}` handler to track uploading a form with a file. For some reason though, after it's "uploaded all the bytes" it starts the progress over, with a `totalBytes` value of `0`. Am I doing something wrong or misunderstanding something? Or is this a bug?

Relevant code:

[code]

Results in:

Thanks for this library by the way! :)

[2017-07-03 02:12] holyman2k opened #189 "using httpGet() progress callback never fired"
using kotlin "http://someurl".httpGet().progress({}).responseJson()

The progress block is never fired

[2017-07-03 16:53] DanoOM commented on #185
It appears to be an issue with how we ‘proxy’ maven-central..not sure I would have expected the repository in my local pom file to override that, but apparently not.
Once I ‘blew-away’ my .m2/settings.xml it started working. ☺

From: Kittinun Vantasin [mailto:notifications@github.com]
Sent: Friday, June 30, 2017 9:53 PM
To: kittinunf/Fuel
Cc: Daniel Hopkins; Author
Subject: Re: [kittinunf/Fuel] ma

[2017-07-10 13:48] edipo2s opened #191 "Does it support handle 304 not modified response?"
304 response don't send body again, so in this case it should recover body from a previous cached response. I've search for "ETag", "Cache-Control" and "If-None-Match" in source code, but don't found anything about.

This library can handle "304 Not Modified" responses, if I add header like "Cache-Control: max-age=604800" in resquest?

[2017-07-10 19:07] WanderingJew opened #192 "how to send Post/Get request?"
I have spent few hours and i haven't understand what i should write to send request to server:
Fuel...
or "name".http...

[2017-07-10 19:14] KucherenkoIhor commented on #192
@WanderingJew Do you use Kotlin or Java?
For Kotlin:
[code]
For Java:
[code]
It works!!!

[2017-07-10 19:22] WanderingJew commented on #192
@KucherenkoIhor What i should import to do this actions?

_Sent from my Xiaomi Redmi 4 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-10 19:28] KucherenkoIhor commented on #192
@WanderingJew
[code]
[android sample](https://github.com/kittinunf/Fuel/blob/master/sample/src/main/kotlin/com/example/fuel/MainActivity.kt)

[2017-07-10 19:30] WanderingJew commented on #192
@KucherenkoIhor Spasibo!

_Sent from my Xiaomi Redmi 4 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 14:28] WanderingJew commented on #192
@KucherenkoIhor My server doesnt see request. Request from Js server can see, but with your code exist problems. It works, but server cant see any actions)

_Sent from my Xiaomi Redmi 4 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 14:30] KucherenkoIhor commented on #192
@WanderingJew do you see request in your client's logcat?

[2017-07-11 14:31] WanderingJew commented on #192
@KucherenkoIhor How i can check it?)

_Sent from my Xiaomi Redmi 4 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-11 14:33] KucherenkoIhor commented on #192
@WanderingJew Just look at the logcat!

[2017-07-11 18:59] WanderingJew commented on #192
![image](https://user-images.githubusercontent.com/24897685/28085363-3d4f942e-6684-11e7-8805-23a5bfe519a0.png)

[2017-07-11 21:21] kittinunf commented on #185
Closing this issue then.

[2017-07-11 21:21] #185 closed

[2017-07-12 02:10] Naetmul commented on #165
Maybe related with this issue: https://github.com/kittinunf/Fuel/issues/154

[2017-07-13 18:02] ParkerK opened #193 "Upload progress is actually progress of creating a temp file?"
In [UploadTaskRequest.kt](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/requests/UploadTaskRequest.kt), the progress callback isn't sending the progress of the file upload, it's incorrectly sending the progress of writing the file to the output stream

Line 42:
[code]

So does that mean when progress is 100%,  that the upload has been submitted t

[2017-07-13 20:02] ParkerK commented on #150
It's related to Proguard minify, I believe, as I get a similar error if I enable it. I'll post the fix here once I find it :)

[2017-07-13 20:10] ParkerK commented on #150
It's because javax.activation isn't part of the android core library: https://stackoverflow.com/questions/6326261/android-can-not-find-a-class-javax-activation-mimetypesfiletypemap-but-that-c

[2017-07-13 21:30] #150 closed

[2017-07-13 21:31] kittinunf commented on #151
I have been used it with no error. Would you mind adding more info in here so that we can hunt down the problem?

[2017-07-13 21:33] kittinunf commented on #111
I believe both of them using the same encoding. Feel free to reopen the issue if you find that the problem still occurs.

[2017-07-13 21:33] #111 closed

[2017-07-13 21:34] kittinunf commented on #153
I think with the latest version it should solve your problem. If it doesn't, feel free to reopen this.

[2017-07-13 21:34] #153 closed

[2017-07-14 10:19] Naetmul commented on #176
I second this.

It'd be better if we can call `upload` with (a list of) `InputStream`(s), instead of (a list of) `File`(s).

[2017-07-14 10:51] feelfreelinux commented on #192
@WanderingJew **You need to have ` <uses-permission android:name="android.permission.INTERNET" />` permission in `AndroidManifest.xml`**. Then, just use `Log.v("APP", result.getAs<String>());`. So this code should work:
`"your url".httpGet().responseString { request, response, result ->
	when (result) {
        is Result.Failure -> {
            error = result.getAs()
        }
        is Result.S

[2017-07-14 11:56] anatolystansler opened #195 "The console application does not terminate after a successful request"
I developing console application on Kotlin. If I make a request from the main thread and request finishes (successful or not, doesn't matter) application won't close for a minute. Is that normal behavior? Is there a way to stop execution right after result handler finishes its execution?

Request:
[code]

[2017-07-15 03:04] SimplySerenity commented on #182
Had the same error when building for JVM, and I was able to solve it by building as a Shadow jar. So it was just a case of not all dependencies being included in the build for some reason.

[2017-07-15 03:17] SimplySerenity commented on #195
Just noticed the same problem. I'm guessing it's a problem with the jvm waiting for the async thread officially close, because if you use the non-async version it terminates immediately.

[2017-07-16 00:27] #168 closed

[2017-07-16 15:02] WanderingJew opened #196 "Async return"
I am writing app and i am using this Async construction:
[code]
Get req located in await body but i want to use"data" from Fuel.get in "use result" field. How i can do it?

_Sent from my Xiaomi Redmi 4 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-18 15:53] jivimberg commented on #124
Any reason why it was moved to `fuel-android` instead of being part of `fuel` core?

[2017-07-18 15:58] yoavst commented on #124
Fuel is now fully Java compatible and used in some of my pure jvm projects

[2017-07-19 00:21] jivimberg opened #198 "Condition on README snippet seems inverted"
Error condition on README async example for Kotlin seems to be inverted: https://github.com/kittinunf/Fuel/blob/62daa920d93fc1d7cc5ef1bd3dbbd7b6804c475c/README.md#L78

[2017-07-19 14:29] kittinunf commented on #152
I am gonna close this because it is inactive.

[2017-07-19 14:29] #152 closed

[2017-07-20 11:40] fabienmoritz opened #202 "rxjava : use onError for the errors"
Hi, thanks for this great lib !

In RxFuel, why don't we put the FuelError in the `onError` emitter instead of putting everything in `onSuccess` ? We could simplify the signatures this way by getting rid of the Result class.

I am a beginner on rxjava, but I could make a PR if you like.

[2017-07-23 19:54] twinone commented on #176
Would be really useful if added!

[2017-07-24 12:26] deive opened #204 "Multiple instances of Fuel"
At the moment everything is hard-coded to singletons. Would it be possible to make this usable as separate objects?
A lot of applications require the use of more than just a single API, so being able to set variables like base URL for each of the APIs would be useful.

[2017-07-24 15:45] njasm commented on #104
I'm having the same problem that @uranusjr have, i need the headers to decide if i want to auto redirect or not, in fact my calling code should decide that.

Removing all response interceptors doesn't really 'feels' right to me.. with the current FuelManager API, i feel that i might be removing more that a need/should.

[2017-07-25 03:58] jbdev opened #205 "How to use Fuel to scrape data"
I'd like to use Fuel to scrape some data, but it's important to have the  features:

- Cookie jar: Is needed to
- HTTP proxy + authentication
- SOCKS5 proxy + authentication
- Define the Charset of the encoded data

Thanks

[2017-07-25 07:25] yoavst commented on #205
When I use fuel to scrap, I handle the cookie saving myself. About proxy, you can define it from Java  probably, not?

[2017-07-25 12:13] jbdev commented on #205
I'll test, @yoavst. Thanks

[2017-07-26 14:40] anatolykislov opened #206 "httpCode and httpMessage fields in HttpException"
HttpException's constructor parameters httpCode and httpMessage can actually be class fields. This fields is useful because can be used to determine behavior on exception caught from blocking request.

[2017-07-26 15:42] anatolykislov commented on #206
Resolved. Actually, FuelError exception is used. Status code can be obtained from response field.

[2017-07-27 15:23] kittinunf commented on #186
@FrederikNS I think this should be fixed with the new version. I will close this issue for now. If you don't think it satisfies you, feel free to reopen it again :)

[2017-07-27 15:23] #186 closed

[2017-07-27 17:59] yoavst commented on #186
I always wrap the network library I use so I can replace the library later or test it easily.

[2017-07-29 22:21] jonbcampos opened #207 "IndexOutOfBounds; Index 1, Size 1"
Okay, I've tried a lot of things and it is time to get help. Below is my code to upload and the request is never made due to an error. What might I be doing wrong?
[code]

[2017-08-02 07:39] babedev commented on #207
Could you show error logs?

[2017-08-02 08:14] babedev commented on #189
`progress` is only use with download or upload right now.

[code]

It would be great if we implement for another methods in the future 😄

[2017-08-06 04:51] kittinunf commented on #206
Closing this then.

[2017-08-06 04:51] #206 closed

[2017-08-06 04:56] kittinunf commented on #204
If you don't want to use the Singletons, you can do

[code]
FuelManager can be instantiated and used in any way you can possibly think of. Do you think that would help you solve your problem?

[2017-08-06 04:57] kittinunf commented on #198
Can you elaborate a bit on that? Even better, if you can open a PR to resolve that.

[2017-08-07 16:24] transifex3 opened #209 "Using fuel with Orbot"
Hi Developers!

I'm really new to java and kotlin world, so please be patients if i am asking you really basic question.

What i need is to use Fuel with Orbot, http proxy or socks5 proxy, without configuring any system-wide settings in Android.
(Like Network - WIFI - Proxy .... in Setting)

So i tried to lookup some code snippets including "proxy" word, but it made noting sense to me.

Any sugges

[2017-08-07 18:18] yoavst commented on #209
You can configure proxy to `FuelManager` - https://github.com/kittinunf/Fuel/blob/8788ea10475ccf37a07988ead49ec7bb7bd18857/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/FuelManager.kt#L23
However, after the first request You'll have to call also
`FuelManager.client =  HttpClient(proxy)`

[2017-08-08 07:00] transifex3 commented on #209
Thank you @yoavst !!
Finally i got some working things in my editor 👍

I hope you can teach me some other things..
Is it possible to change user-agent string too?
and any particular reason that you have to call `FuelManager.client = HttpClient(proxy)`?
(Because It worked without code above several times)

Here is what i did in my editor

[code]

[2017-08-08 07:18] yoavst commented on #209
Line 22 is: `var client: Client by readWriteLazy { HttpClient(proxy) }`, meaning after the first request you can't change the proxy without changing the client. Perhaps we need to make it a getter instead of lazy. What do you think @kittinunf ?

~~About user-agent. You have to set it on the `HTTPUrlConnection`, as specified [here](https://stackoverflow.com/a/9828691/4874829). However you don't hav

[2017-08-08 08:20] transifex3 commented on #209
So it's not necessary to call `FuelManager.client = HttpClient(proxy)` when i don't need to change the proxy right?
For user-agent, changing device header did not worked to me, so i changed header to "User-Agent" one.
`FuelManager.instance.baseHeaders = mapOf("User-Agent" to "Censored")` and it seems works now!
 thanks for your kind, and making this awesome project @yoavst 😄
It's really make begin

[2017-08-08 08:22] yoavst commented on #209
Not, it is not necessary.
Keeping it open for @kittinunf  to answer this:

[2017-08-11 08:35] asarkar opened #211 "First-class support for Jackson"
Something like:
`responseJson<T>(handler: (Request, Response, Result<T, FuelError>) -> Unit)`, where `T` can be `Json` or a Jackson type like `JsonNode`.

[2017-08-11 08:56] deive commented on #204
I am sorry, donno how I missed that!
Thanks for your response

[2017-08-11 08:56] #204 closed

[2017-08-11 21:05] asarkar opened #212 "Redirect doesn't work, response is empty"
[code]

**Output**:

[code]

Why is the `data` blank? If I execute the 2nd curl statement manually, I get response just fine.

[2017-08-12 16:44] Vrutin opened #213 "Main Thread statement is never hit"
Any reasons why?

[code]

[2017-08-12 17:23] yoavst commented on #213
Are you running it on Android?
[code]

[2017-08-12 17:46] Vrutin commented on #213
@yoavst yes

[2017-08-12 17:54] Vrutin commented on #213
@yoavst Perfect.

[2017-08-12 17:54] #213 closed

[2017-08-12 17:55] yoavst commented on #134
I've started working on it, but not promise anything (taking a vacation trip next week, and start learning in university afterwards)

[2017-08-12 20:37] sealemar opened #214 "Limit number of redirects as per rfc7231"
[RFC 7231 - 6.4. Redirection 3xx](https://tools.ietf.org/html/rfc7231#section-6.4.1) says:

Note: An earlier version of this specification recommended a maximum of five redirections ([RFC2068], Section 10.3). Content developers need to be aware that some clients might implement such a fixed limitation.

[fuel/core/interceptors/RedirectionInterceptor.kt](https://github.com/ParkerK/Fuel/blob/d0f94c5

[2017-08-14 06:33] bbetter opened #215 "Can't convert LinkedMapTree to MyClass"
Same works for retrofit
structure of response is something like
[{
 "field1": 10,
"field2":"hello",
"field3": [10.0,52.0,52.6]
},{
 "field1": 1,
"field2":"sdg",
"field3": [10.5,12.0,1.6]
}]

[2017-08-15 00:05] matteocrippa opened #216 "Router with Enum & Interface"
hey @kittinunf first of all compliments for the huge work, I'm just approaching Kotlin on android and I feel this library is really interesting, even more than Retrofit.

I'm an iOS developer and I feel really comfortable in using `enum` for easily manage remote call, I'm trying in porting this solution to Fuel (already tested in a project) with something like

[code]

this easily allows me to cre

[2017-08-15 06:05] #176 closed

[2017-08-15 10:03] matteocrippa commented on #216
I think this is even a little better https://gist.github.com/matteocrippa/9d6824f378202eca5886cb338eb7f0fc

I moved using your native `Method` enums and improved the interface with new feature to better fit the common usage with REST APIs

[2017-08-16 02:50] kittinunf commented on #216
@matteocrippa First of all, thanks so much for those kind words. I am glad that you find `Fuel` useful.

Regarding to your comment on the concept of `Router`, actually, it is pretty interesting. I have a glimpse of how it could be, if you take a look of the interface there

https://github.com/kittinunf/Fuel/blob/ee3d422d0dca4e4868ebb3fe3bc92991cb5912b0/fuel/src/main/kotlin/com/github/kittinunf/fue

[2017-08-16 02:54] kittinunf commented on #212
I just use your curl and the data is also blank. Are you sure whether there is anything wrong with the server or not?

[2017-08-16 03:40] asarkar commented on #212
@kittinunf It is indeed blank now. I should've captured the output but I didn't. That said, here's a similar problem with described [here](https://stackoverflow.com/questions/45702466/okhttp3-request-returning-empty-response-as-well-as-different-headers-than-postm) with OkHttp. I'm beginning to wonder if there's something in Kotlin causing this across various HTTP clients.

[2017-08-16 04:07] asarkar opened #217 "Iterating response headers throws NPE while the same works in OkHttp"
[code]

Output:
===
OkHttp
===
Request headers ===>
accept ===> [application/json].
Status code ===> 200.
Body ===> . // blank! Issue reported in this [SO thread](https://stackoverflow.com/q/45702466/839733)
Response headers ===>
accept-ranges ===> [bytes].
connection ===> [close].
content-length ===> [0].
content-type ===> [application/json].
date ===> [Wed, 16 Aug 2017 04:00:44 GMT].
retry-after

[2017-08-16 08:14] kittinunf commented on #211
I don't have anything against this aside from I don't use Jackson for JSON parsing library myself (PS. Gson seems to be satisfied my needs in many of situation). If you are willing to make a PR, I wouldn't mind taking a look. 👍

[2017-08-16 08:16] kittinunf commented on #134
@yoavst Awesome man! I am looking forward to seeing that pans out. :)

[2017-08-16 08:16] kittinunf commented on #151
Close as inactive.

[2017-08-16 08:16] #151 closed

[2017-08-16 08:18] matteocrippa commented on #216
I will investigate the sealed class, as far as I figured out it is the closed stuff to the enums with associated value that we can use in Swift, and that originally inspired me.

I started thinking this interface as a port of [Alamofire one](https://github.com/Alamofire/Alamofire#crud--authorization), but dunno if sealed class will be able to achieve the full implementation. What do you think?

I

[2017-08-16 09:29] matteocrippa commented on #216
Here a poc for [FuelRouting](https://gist.github.com/matteocrippa/04ff7f0a0aff1226115cb0f35317fa3b), I managed to port to `sealed class`, still a bit struggling in this very moment with parameters that seems that are not being passed (I'm debugging that).

Let me know if this could be a better way/approach

[2017-08-16 10:02] matteocrippa commented on #216
Fixed the issue with `parameters`, I still have `headers` that are missing now (I haven't figured out how to add them, I spot no public var for that, any hint?).

But I do consider that quite good implemented now.

A plus could be to extend `request` function allowing to accept `FuelRouting` so we can even skip to add `.asRequest()` in the call

[2017-08-17 02:09] kittinunf commented on #217
Hmm this is very interesting. Let me try to investigate this and get back to you.

[2017-08-17 02:12] kittinunf commented on #216
Hey, looks nice. But I think can we make it comply to `Fuel.RequestConvertible` so that it doesn't actually need to call `.asRequest()`?

Something like

[code]

[2017-08-17 06:33] kittinunf commented on #212
I really wanna get down to this. Did you find another API out there that exhibits the same problem so I could reproduce?

[2017-08-17 06:38] kittinunf commented on #198
Close this.

[2017-08-17 06:38] #198 closed

[2017-08-17 06:40] kittinunf commented on #148
close as inactive

[2017-08-17 06:40] #148 closed

[2017-08-17 07:14] asarkar commented on #212
I didn't look. This was based on a question posted on stackoverflow. I checked earlier today and the response was blank. I intend to check on Friday again, and if still blank, close as not reproducible.
Thanks for following up, I appreciate it.

[2017-08-17 08:55] matteocrippa commented on #216
I managed to move the interface from the func level to the class, so basically now we can skip the `asRequest()` at the end.

Here the new implementation: https://gist.github.com/matteocrippa/04ff7f0a0aff1226115cb0f35317fa3b

I still have the `headers` issue in place, I see I can add them to the main call e.g. `Fuel.request(WooApi.productList()).header()` but I think it would be strategic to have

[2017-08-17 14:10] ParkerK commented on #183
@gperdomor I'm using `responseJSON()` as a blocking call in one of my projects without issue. It may be a problem with your code, can you share or close this?

[2017-08-17 14:12] ParkerK commented on #102
Is this a bug? What should be the outcome of this, if the user supplies a malformed header?

[2017-08-17 14:15] ParkerK commented on #191
Fuel currently does not support 304, that being said, a server shouldn't be returning 304 to Fuel, as Fuel never sends `If-None-Match` or `If-Modified-Since` in the headers, if I'm understand you correctly

[2017-08-17 14:40] kittinunf commented on #216
Thank you @matteocrippa. I feel this is pretty much what I anticipate our user to use routing mechanism. Thanks for being patient with me.

For the location, I feel like utils seem to be a good place for it as it is not mandatory to use our routing mechanism. As, yes, I would be very happy for the PR. 👏

[2017-08-17 14:48] kittinunf commented on #209
I think I use `readWriteLazy` for a reason, unless I should have used just regular `lazy`. In other words, this means that you should be able to set value, freely. But if you haven't set, it uses `HttpClient(proxy)` as the default.

[2017-08-17 14:50] ParkerK commented on #217
Here's the HTTPHeader response @kittinunf

`{null=[HTTP/1.1 200 OK], X-Cache=[HIT, HIT], Server=[nginx], Edge-Control=[max-age=60], Connection=[keep-alive], Date=[Thu, 17 Aug 2017 14:48:36 GMT], X-Timer=[S1502981316.182794,VS0,VE1], Via=[1.1 varnish, 1.1 varnish], Allow=[GET, HEAD, OPTIONS], Accept-Ranges=[bytes], X-Frame-Options=[DENY], Fastly-Debug-Digest=[fdb44d2dd7c0b26c639a8b3476f8c63661c6870

[2017-08-17 15:45] ParkerK commented on #215
Not sure exactly what you're asking, but it sounds like https://github.com/kittinunf/Fuel#gson-deserialization could be what you need?

[2017-08-17 16:18] ParkerK commented on #165
PR #162 made this possible. On your specify an empty list for `.dataParts{}` and you can do uploads without passing files

[code]

[2017-08-17 16:19] ParkerK commented on #169
Update: You can do this, see my response in #165

[2017-08-17 16:41] asarkar opened #220 "HTTP header access is inconsistent between request and response"
The request headers are accessed with `httpHeaders` while the response headers are accessed with `httpResponseHeaders`. Apart from being inconsistent, the prefix `http` seems unnecessary; fuel is a HTTP library. What other kinds of headers can it possibly return?

[2017-08-17 16:42] asarkar commented on #217
While we are discussing headers, I filed another issue about that.
https://github.com/kittinunf/Fuel/issues/220

[2017-08-18 05:01] asarkar commented on #212
@kittinunf It works now and returns the following response:

[code]

[2017-08-18 05:01] #212 closed

[2017-08-18 08:41] #165 closed

[2017-08-18 10:01] #216 closed

[2017-08-18 10:04] matteocrippa opened #222 "SSL pinning"
I give a look around but didn't spot a way to manage SSL pinning with Fuel, is it in scope?

[2017-08-18 12:42] yoavst commented on #134
The branch will be https://github.com/kittinunf/Fuel/tree/multiplatform_feature

[2017-08-18 18:33] yoavst commented on #134
Report:
Currently kotlin multi platform feature is too buggy to convert an existing library.

In addition, `Fuel` is too connected with Java. Instead of working on the multi platform feature, I'll work a bit on hiding implementation details under interfaces.

Is it OK, @kittinunf ?

[2017-08-19 02:46] kittinunf commented on #134
OK 👍

[2017-08-19 02:50] kittinunf commented on #212
Ok ... glad that the issue is solved somehow 👍

[2017-08-22 16:37] yoavst commented on #217
Closing this issue as #218 should fix it. Please comment if it is still an issue.

[2017-08-22 16:37] #217 closed

[2017-08-22 16:42] yoavst commented on #209
Yes, but In case `proxy` field change, it will not update the client. Maybe we should pass `() -> Proxy` instead and it will call `FuelManager.proxy`?

[2017-08-22 16:42] yoavst commented on #207
Close as non-active.

[2017-08-22 16:42] #207 closed

[2017-08-22 16:43] yoavst commented on #205
Close as non-active.

[2017-08-22 16:43] #205 closed

[2017-08-22 16:44] yoavst commented on #202
Good question indeed. @kittinunf , any idea?

[2017-08-22 16:47] yoavst commented on #195
`Fuel` opens a daemon thread that prevents the JVM from shutdown.
You can try this code to shutdown `Fuel`, though it should probably provide a better masochism for that:
[code]

Is someone familiar with how OKHttp handles that?

[2017-08-22 16:48] yoavst commented on #192
Closing as non-active.

[2017-08-22 16:48] #192 closed

[2017-08-22 16:51] yoavst commented on #65
Probably will not be fixed:
[code]

[2017-08-22 16:51] #65 closed

[2017-08-22 16:52] yoavst commented on #121
Fuel doesn't support `keep-open` requests.

[2017-08-22 16:52] #121 closed

[2017-08-22 16:53] yoavst commented on #182
Closing the issue as fixed.

[2017-08-22 16:53] #182 closed

[2017-08-22 16:59] yoavst commented on #196
Just use `Fuel` in blocking mode as described [here](https://github.com/kittinunf/Fuel#blocking-mode) inside `await`.

[2017-08-22 16:59] #196 closed

[2017-08-22 17:07] yoavst commented on #146
I think the solution would be wrapping the `inputStream` we provides the user to serialize (in `ResponseDeserializable` with a wrapper that reports progress on use.

[2017-08-22 17:08] yoavst commented on #189
Closing as duplicate of #146

[2017-08-22 17:08] #189 closed

[2017-08-22 17:13] jonbcampos commented on #207
Sorry, been traveling for my wedding. Planning on continuing this. Feel
free to close and I'll reopen later.

On Tue, Aug 22, 2017 at 11:42 AM, Yoav Sternberg <notifications@github.com>
wrote:

--
Jonathan Campos

[2017-08-23 02:35] foxsake opened #224 "java.io.IOException: Stream closed"
Got this error when trying to run [this](https://github.com/KucherenkoIhor/Android-Architecture-Components) sample

Stack trace:
`08-23 10:30:03.379 14286-14286/com.ik.exploringviewmodel W/System.err: com.google.gson.JsonSyntaxException: java.io.IOException: Stream closed
08-23 10:30:03.379 14286-14286/com.ik.exploringviewmodel W/System.err:     at com.google.gson.Gson.fromJson(Gson.java:825)
08-2

[2017-08-23 10:48] bbetter commented on #215
Here is my POKO
`data class Rate(val txt: String, val rate: Double, val cc: String, val date: Date)`
Here is request
[code]
Here is error
<img width="911" alt="screen shot 2017-08-23 at 1 45 41 pm" src="https://user-images.githubusercontent.com/6604503/29612308-7be74f28-8809-11e7-8fe8-9cdabfe2b99d.png">

[2017-08-23 21:17] ParkerK commented on #215
`-keep class your.app.package.Rate`
and whatever is here: https://github.com/google/gson/blob/master/examples/android-proguard-example/proguard.cfg

to your ProGuard

[2017-08-23 22:58] bbetter commented on #215
it's not release build i experience this issue, but debug
it has no proguard applied

[2017-08-24 03:05] foxsake commented on #215
i have the same issue on my project.
it occurs on my entity's dao implementation on build.

[2017-08-24 03:55] asarkar opened #225 "Refactor Fuel to make it more extensible"
I really like Fuel but I think the existing design doesn't allow for easy extension. Here're some design suggestions that IMO, will make the library a lot more user friendly.

1. Users should be able to use any encoder, decoder, HTTP client they want using the builder pattern on `Fuel`, like so:

[code]

Each of the components `FuelJacksonEncoder` etc also follows the same builder pattern.

2. Do

[2017-08-24 03:56] asarkar commented on #211
I opened https://github.com/kittinunf/Fuel/issues/225 which is a superset of this ticket.

[2017-08-24 06:42] KucherenkoIhor commented on #224
Hi,  @foxsake  . Thank you! Does this error happen all the time?

[2017-08-24 18:36] KucherenkoIhor commented on #222
Hi, @matteocrippa. Thank you for pointing this out. Kotlin doesn't contain functionality that allows managing certificate pinning. But, you can create a pull request. We will glad to merge it.

[2017-08-24 18:49] matteocrippa commented on #222
@KucherenkoIhor thank you for replying, I would really do that, and please not consider this as a `please add this feature` issue as it normally happens on GitHub.

I recently got merged my interface routing PR, but for SSL pinning is a bit hard, I would work on that, but being an iOS developer, as you can imagine, is a bit tricky for me. I lack of some basics on the OS.

But I will manage to to m

[2017-08-25 01:10] jervan opened #226 "Add documentation for PATCH"
PATCH does not send proper Method to server. HttpURLConnection does not support a PATCH method. FUEL adds a X-HTTP-Override-Method header to a POST request. While this is semi-standard in the industry not all servers utilize this header by default. Please add documentation that explains this.

Supported Methods of HttpURLConnection http://download.java.net/jdk7/archive/b123/docs/api/java/net/HttpU

[2017-08-25 06:59] KucherenkoIhor commented on #226
Hi, @jervan. Thank you. As I can see, you have a great experience on this topic. So, could you please create a pull request with this changes in the documentation. If you have other ideas how to improve Fuel, we will glad to merge it.

[2017-08-26 09:37] mradzinski opened #228 "Cannot access request header fields after connection is set"
Attempting to execute:

[code]

produces:
[code]

Using the `cUrlLoggingRequestInterceptor` I got the following curl that when executed on a terminal it works:

```curl -i -H "Accept-Encoding:compress;q=0.5, gzip;q=1.0" "http://api.forismatic.com/api/1.0/?method=getQuote&format=json&lang=en"```

[2017-08-26 10:20] apognu opened #229 "IllegalStateException: Cannot access request header fields after connection is set"
Hello,

I have a rather simple Android application that makes a GET request when it starts, and then possibly repeats it if the user pulls to refresh. Each request must have a JWT in the Authorization header that is generated just as the requested is made.

The first request succeeds properly, but as soon as I pull to refresh, the request returns a ```Result.Failure``` with the message ```IllegalS

[2017-08-26 13:21] apognu commented on #229
Some more information: any subsequent request fails in the same fashion, even on different URLs (different path and/or different domain altogether).

[2017-08-26 17:11] #226 closed

[2017-08-26 18:07] kittinunf commented on #228
I cannot reproduce your error. What I did is following;

Go to sample folder in Fuel project and change the https://github.com/kittinunf/Fuel/blob/508dd2e05b7b88d1a3edb3fdc63d1861cecd89fd/sample/src/main/kotlin/com/example/fuel/MainActivity.kt#L44-L55 to

<img width="888" alt="screen shot 2017-08-27 at 3 06 15" src="https://user-images.githubusercontent.com/4669517/29743875-baa7109a-8ad4-11e7-89f6

[2017-08-26 18:49] mradzinski commented on #229
Same exception I'm having on #228 but @kittinunf says he can't reproduce it.

[2017-08-26 18:53] mradzinski commented on #228
Hey @kittinunf, Seems I'm not the only one. #229 is having the exact same exception. I'm using Fuel's latest version on Android Studio 3.0 Beta 3, `com.android.tools.build:gradle:3.0.0-beta3`. I tried the same and it's the same. I didn't even had to modify it, the same isn't working at all.

[2017-08-26 18:56] mradzinski commented on #228
Also, Fuel seems to be the only library having this issue. I tried both, Retrofit and OkHttp, and all of them are working fine.

[2017-08-26 22:16] apognu commented on #228
Author of #229 here.

Quite the same situation. Other libraries work fine, only the first request with Fuel succeeded any subsequent one fails with this error.

[2017-08-27 10:42] apognu commented on #229
Well, seems I fixed the issue on my end, I was using the Kotlin plugin version 1.1.2-4 when I encountered the error. Updated to 1.1.4 and now all my requests seem to go through.

Here's my config in case this could help you:

There you go:
 * Kotlin 1.1.4
 * Gradle 4.1
 * compileSdkVersion 26

If you need any other info for #228, don't hesitate to ask.

[2017-08-27 16:40] KucherenkoIhor commented on #228
Hi, all! @apognu or @mradzinski, if you can reproduce this error may be you can to try fix one and create merge request. We will glad to merge it.

[2017-08-27 19:38] mradzinski commented on #228
@KucherenkoIhor, well, I actually had to move away from Fuel due to this issue. As for reproducing it: Just download the sample from this repo, update its gradle & kotlin dependency and run it; Hint: It'll fail.

[2017-08-28 12:03] kittinunf commented on #229
So just updating to version 1.1.4 and the issue resolves. That sounds a bit magical.

[2017-08-28 12:20] mradzinski commented on #229
Not really. I actually updated to 1.1.4-2 and it broke. I don't believe it has anything to do with Kotlin itself but with the compile version, Android gradle plugins and things like that.

[2017-08-28 12:34] kittinunf commented on #229
@mradzinski hey, thank you. If you could, would you help me get to bottom of this.

First of all, let's us talk in #228, shall we?

I will close this issue first as @apognu reported that it fixed from his end.

[2017-08-28 12:36] #229 closed

[2017-08-28 13:09] kittinunf commented on #228
@mradzinski I think the sample fails because of other issues. Let's us focus on your issue first, shall we?

I will try to mimic your situation as much as possible.

I have create this test [repo](https://github.com/kittinunf/FuelTest).

I have push the commit I tested with your API endpoint. But I am unable to reprouce your issue. If you don't mind, could you please try in that repo and show it t

[2017-08-28 14:06] kittinunf commented on #225
Hey, thank you @asarkar for your opinion, it is really helpful.

1.
One thing that I wanna set `Fuel` apart from popular library like `Retrofit` is to offer the ease of usage. Having some sort of `builder` or `configuration` class seems to go a bit different than what I have in mind for `Fuel`. I know, this is debatable (because as of now `Fuel` already has `FuelManager` which is still a configura

[2017-08-29 02:50] asarkar commented on #225
@kittinunf Here is my 2c.

I understand where you are coming from, but I think sooner or later, you'll start seeing more requests for customization, especially as more users pick up on Fuel in specific, and Kotlin in general. Builder is a well-known pattern, and like you said, Fuel already has one, so having a single and consistent way of creating a client doesn't seem very complicated to me.

I m

[2017-08-29 14:47] pltanton commented on #215
Got same issue, when I try something like
[code]

But if I replace 'generic' style `responseObject` invocation with 'deserializer' style like this:
[code]
everything seems fine.

[2017-08-29 15:33] kittinunf commented on #228
Is there any update on your side @mradzinski ?

[2017-08-29 16:21] pltanton opened #231 "Is it possible to send POST request with prams in URL?"
By default params is applyed to body, as form param, not as query params. Is it possible to change POST request params behavior like in GET request?

[2017-08-29 19:08] KucherenkoIhor commented on #231
Hi, @pltanton. Please, provide an example of your request.

[2017-08-30 06:18] KucherenkoIhor commented on #215
Hi, @bbetter. It looks like [a problem with Gson](https://github.com/google/gson/issues/550), not Fuel.
So, I think you have to write your deserializer.

[2017-08-30 07:44] pltanton commented on #231
If you use `Fuel.get("http://myapi", listOf("foo" to "bar"))` the GET request would be generated with empty body:
[code]

But if you use  `Fuel.post("http://myapi", listOf("foo" to "bar"))` params would be injected as form body params, not as query params:
[code]

Is it possible to use params as query params for POST request?

[2017-08-30 08:59] pltanton commented on #231
As I can see in sources, [post](https://github.com/kittinunf/Fuel/blob/ee3d422d0dca4e4868ebb3fe3bc92991cb5912b0/fuel/src/main/kotlin/com/github/kittinunf/fuel/Fuel.kt#L40-L49) method defined just like all other methods and didn't support to chose how to represent params in request.

As far as I understand params representation are chosed by `Encoding::encoder` method. What do you think about exten

[2017-08-31 01:40] kittinunf commented on #225
@asarkar Thank you for the discussion. To move this forward, do you think would it be nice to start from the things that we pretty much on the same page. Maybe starting from 3. and we are moving on from there.

[2017-08-31 21:27] yoavst commented on #225
1. I think `FuelManager` is OK for configuration and there is no need for extra builder.
[code]
However, I think we should create a `Fuel` class that is created from `FuelManager` and pass the requests to the manager class:
[code]
The `Fuel` class will have a companion object that extends `Fuel` and has a property `manager: FuelManager`. In this way normal users could use `Fuel` as before.

2. The

[2017-09-01 06:27] asarkar commented on #225
@yoavst What's the difference between `Fuel` and `FuelManager`?

[2017-09-01 07:09] yoavst commented on #225
`FuelManager` is like the builder you suggested. It creates the configuration for creating a request. `Fuel` is just a simple interface to call it with simple API.

About extension, this is how I see it:
You provide the basic, minimal working functionality in the class itself, and enhance it with extension methods. Take a look at the methods `response[String|Json|Object]`. Are they integral part o

[2017-09-01 16:14] #220 closed

[2017-09-01 18:39] yoavst commented on #231
Imo, the signature of `Fuel.VERB` method should be just the URL and parameters should be provided as a method. This way you could do `Fuel.post(url).urlParams(...).bodyParams(...)` (naming is bad, I know).

[2017-09-01 20:22] yoavst commented on #224
@foxsake was it resolved?

[2017-09-01 20:24] yoavst commented on #183
`responseJson` is defined [here](https://github.com/kittinunf/Fuel/blob/5ce5955b34a2f237ed3b3c223415da74619ad4ab/fuel-android/src/main/kotlin/com/github/kittinunf/fuel/android/extension/Requests.kt). Closing this as `responseJson` is available in both sync and async mode.

[2017-09-01 20:24] #183 closed

[2017-09-02 10:14] deiga opened #232 "Why is responseJson only in fuel-android?"
Writing a backend application which gets JSON kind of needs a way to deserialize JSON and I'm currently wondering why fuel core doesn't support this?

[2017-09-02 12:04] yoavst commented on #232
`responseJson` is for [org.json](https://developer.android.com/reference/org/json/package-summary.html) library from android SDK. Fuel isn't depend on android, therefore it isn't included.
In addition, Fuel has a module  for GSON support: https://github.com/kittinunf/Fuel#gson-deserialization

If you can tell me which Json library you use, I can help you with writing a deserializer.

[2017-09-02 12:07] yoavst commented on #209
Closing this as our discuss is out of the scope of the question

[2017-09-02 12:07] #209 closed

[2017-09-02 12:09] yoavst commented on #169
Closing as inactive, please reopen if you need more help on this question.

[2017-09-02 12:09] #169 closed

[2017-09-02 12:17] yoavst commented on #173
Duplicate of #193

[2017-09-02 12:17] #173 closed

[2017-09-02 12:20] yoavst commented on #161
@Querschlag I'm not knowledgeable in the field of HTTP Upload, so was the feature you asked for was added?

[2017-09-02 12:21] yoavst commented on #188
@ParkerK is it still an issue?

[2017-09-03 07:15] deiga commented on #232
Thanks. I just hadn't figured out how to use Fuel properly :)

[2017-09-03 07:15] #232 closed

[2017-09-03 11:25] deiga opened #233 "What is the proper way to deserialize a List of things?"
I've a data class and a request which returns a list of these objects. What is the proper way to deserialize the list? I don't want to write an explicit deserializer just for `List<CommitStatus>`

I tried to do automatic deserialization with `.httpGet().responseObject<List<CommitStatus>> { ... }` It returns a list of things nicely, but then it fails when accessing the list elements.
[code]

This i

[2017-09-03 12:07] yoavst commented on #233
Your deserializer is not actually used. If you use `fuel-gson`, you use the built-in deserializer.

Can you try it with `responseObject<ArrayList<CommitStatus>>`? I had problems even in Java that deserializing directly to `List` fails but to an implementation works.

[2017-09-03 12:08] yoavst commented on #215
Probably same issue as #233

[2017-09-03 12:19] deiga commented on #233
@yoavst Yeah, I know that. I tried using `responseObject(CommitStatus.Deserializer(), ...) ` But that didn't yield a list.

Nope, I'm quite sure the response is an JSON array with objects

[2017-09-03 14:59] yoavst commented on #233
Could you paste here a json response so I could try to reproduce it?

[2017-09-04 08:42] deiga commented on #233
The `ArrayList<..>` didn't work

Here's an example response JSON https://gist.github.com/deiga/50ddc4bb4384946ca5029d8b7b65f0ad

[2017-09-04 17:05] yoavst commented on #233
Seems like the problem is type erasure.  Working on a fix.

[2017-09-05 02:21] kittinunf commented on #233
@deiga Thanks for reporting this.

Hmm I think I use `Fuel` to work with List of items before. Can we do something like this?

[code]

Usage

[code]

[2017-09-05 02:41] kittinunf commented on #233
I have also added PR to add this into sample module, please kindly take a look here

https://github.com/kittinunf/Fuel/pull/236

[2017-09-05 05:28] yoavst commented on #233
@kittinunf #235 will fix it with no change of code from users.

[2017-09-05 09:16] rostopira commented on #165
Thanks for that. For those, who love copy paste, correct version of code above

[code]

[2017-09-05 15:47] kittinunf commented on #233
I understand. But this is not a bug per se, probably a feature request.

Also, in #235, it is probably only valid for Gson module, not the for the core Fuel module right?

[2017-09-05 17:39] yoavst commented on #233
It's actually a bug since it's unexpected behavior and causes crashes.

If you provide generic class deserializer to core fuel it may also cause crash.

[2017-09-06 06:05] deiga commented on #233
@kittinunf The problem I have with #235 is that building a special `ListDeserializer` seems a bit silly, since any Deserialization library should be able to deserialize Collections automatically

[2017-09-06 17:09] ye-lin-aung opened #238 "One of deserialize must be implemented."
I use this code to deserialize the conversation object
[code]

but

Fuel sometime crashes showing the error below

`
One of deserialize must be implemented.
`
Mostly the time is fine.

full error log is

[code]

[2017-09-06 17:16] yoavst commented on #238
can you also post the command you use to call Fuel?

[2017-09-06 17:18] ye-lin-aung commented on #238
@yoavst  here
[code]

[2017-09-07 10:41] #233 closed

[2017-09-08 07:44] yoavst commented on #238
If you are creating sample project with RxJava and Gson, does it work for you?

[2017-09-08 10:17] pltanton opened #240 "Flexible toString method for Request"
`toString` method of Request looks great and pretty useful in many cases now. It is useful to use it for logging before sending request, but often, when you use upload method you want to send some binary file to the remote REST service and when you do something like `log.info(request.toString())` it produses tons of non-ascii binary trash for logfile or console.

It would be really great if output

[2017-09-08 13:38] keizo2 opened #241 "How to handle 4XX response"
Hi, thanks for great library.
I have a question about handling 400 response.

I am developing an Android application on Kotlin and use rx_responseString() method to get a JSON from a Web API.

Api responses a JSON like bellow.
[code]
Data class for response.
[code]
I want to get a User object from a api's response with GSON.
[code]

In an activity, I retrieve s result and display.
When response st

[2017-09-08 14:23] yoavst commented on #225
Seems like we didn't reach an agreement, so let's go with baby steps.
Do we have an agreement about making `Request` a dumb class and moving all the network related config to somewhere else? In this way we can pass `Request`s to different `Fuel` instances and have different configuration for each instance (it also means that all the `base` properties will be added only on request). No binary/sourc

[2017-09-08 18:10] saletrak commented on #228
I have exactly the same problem, but that isn't appeard whenever, i can't figure out where it depends.

[2017-09-09 19:47] asarkar commented on #225
@kittinunf and I had agreed that the response signature is unwieldy. I didn't get time to look into the source code, so I didn't comment further. As a result (of not having looked into source code), I only partly understand @yoavst proposal regarding refactoring `Request`. Perhaps, @kittinunf can comment on that, or you can just submit a PR with what you have in mind.

[2017-09-10 08:27] yoavst commented on #225
My Idea:

**FuelBuilder / FuelManager**:
* Internal configuration for request (same as now. but if you want to rename it I'm not against it).

**Fuel class + Fuel companion object**:
* Class that internally calls `FuelManager` and provides more friendly API for request.
* One can build `Fuel` instance from provided `FuelManager`.
* For backward compatibility and for simple cases, `Fuel` has `compa

[2017-09-17 13:06] mishaxz opened #245 "DELETE not sending body even though it was specified"
is this by design? or do I need to configure something? It shows the body in `request.toString()` but it does not send it with the actual request

[2017-09-19 04:12] zjuhasz commented on #168
Why was this closed, was coroutine support added to Fuel?

[2017-09-19 05:11] zjuhasz opened #246 "async requests using coroutines"
#168 asks about coroutine support but the issue was closed by poster after a recommendation for an extension function a user could implement in their own code. Coroutines are perfectly suited for an http request library and I was wondering if there is any consideration being given to adding coroutine support to Fuel.

[2017-09-20 15:58] #211 closed

[2017-09-21 06:08] 7hundeR opened #247 "com.google.gson.internal.LinkedTreeMap cannot be cast to java.util.List"
BaseBean<T> baseBean =  new Gson().fromJson(jsonString, new TypeToken<BaseBean<T>>(){}.getType());
Why is it returned LinkedTreeMap?

[2017-09-21 15:12] yoavst commented on #247
does it have anything to do with fuel?

[2017-09-21 21:45] JairAviles commented on #79
How do I know that a Timeout exception has occurred while executing the asynchronous task? Does the Fuel error object return any specific code our message about it? I think the documentation is not clear enough for handling that exception type.

[2017-09-22 02:47] kittinunf commented on #247
Agree with @yoavst. Could you please elaborate more? @7hundeR ?

[2017-09-25 01:45] 7hundeR commented on #247
Thank you. I found the reason

[2017-09-25 01:45] #247 closed

[2017-09-27 21:15] harryd31 opened #248 "NetworkOnMainThreadException"
When making a request it's throwing an android.os.NetworkOnMainThreadException

[2017-09-28 01:43] #248 closed

[2017-09-28 12:17] mbreithu opened #249 "POST Parameter encoding"
I'm trying to send some parameters to my API (Laravel project) using POST. The request works fine, but if one of the parameters contains a '+' (plus) character, the character is replaced with a ' ' (space) once the request reaches the server!

After digging into the Encoding class, i found that when using POST, the content-type header is set to: "application/x-www-form-urlencoded" but the params t

[2017-09-28 12:36] romanstingler commented on #249
I'm having the exactly same behaviour.

I hope it isn't intended to escape by myself

[2017-09-29 12:16] kittinunf commented on #249
Ah ... this is an oversight on my part. Would you be so kind to open PR for a patch? 🙏

[2017-09-29 13:56] mbreithu commented on #249
Will do!

[2017-10-02 16:55] babedev commented on #241
you can check `statusCode` in `res` object

[code]

hope this answer your question :)

[2017-10-02 19:13] JairAviles opened #251 "Update repository README.MD with Mocking code samples"
Regarding the issue stated on #186 the proper way to mock a method called from the Fuel client is to create a fake one, isn't it?

Thus, I would suggest adding a code sample covering how to create a Fuel client in **Kotlin** and **Java** as well, concerning unit testing. My arguments are that having great references on the documentation for this incredible library would make points to choose Fuel

[2017-10-03 02:02] kittinunf commented on #251
@JairAviles Thanks for the comment and feedback. Great idea.

The documentation of this library is far from ideal. I will keep working on it. Please hang tight.

[2017-10-03 17:31] babedev commented on #241
I checked that valid HTTP status code is 200 to 299 so 4XX will go to error case. Currently we cannot retrieve status code in error object yet.

@kittinunf Can we override HTTP status code validation?

[2017-10-04 01:10] kittinunf commented on #241
Yes,

how about this;

[code]

[2017-10-04 01:11] babedev commented on #241
Looks nice. I will try it :D. Thank you so much.

[2017-10-07 07:43] keizo2 commented on #241
Thank you for replying! And let me ask you one more thins.
Api returns error information JSON as below when an error occur.

[code]

I want to  convert this json to a kotlin object.
How should I return an error object from getUser() method?

[2017-10-08 02:52] #249 closed

[2017-10-08 12:17] babedev commented on #241
I assume that you have `User` class and `Error` class for success and failure cases.
You might need to deserialize JSON in `subscribe` instead of `getUser()`.
You could do like this

[code]

[code]

[2017-10-08 13:21] PichuChen commented on #228
Hello there, this problem happen on my Pixel (Android 8.0) and not happen on Samsung S7 (Android 7)

[2017-10-09 06:50] sschuberth commented on #81
[Fuse](https://github.com/kittinunf/Fuse) seems to be Android only. With Fuel not having that limitation, wouldn't it make more sense to also offer a generic caching solution?

[2017-10-10 01:36] kittinunf commented on #228
@PichuChen that is a bit weird. Do you know what could possibly trigger the problem? I have made the repo here. If you do have time, even better if you could come up with a test that fails?

[2017-10-11 09:18] PichuChen commented on #228
@kittinunf Testing result on Pixel is successful, is really weird...
I will try to copy my code to reproduce this problem.

[2017-10-12 13:01] zlepper opened #257 "Unable to download using gradle"
I'm currently attempting to use Fuel, however i'm having some issues making gradle actually pull Fuel in as  a dependency. I can't make it work in my full project using spring, and I have tried making a minimum case, and that does not work either.

Any ideas?

[code]

[2017-10-12 14:21] yoavst commented on #257
What is the error?
`compile 'com.github.kittinunf.fuel:fuel'`
have you forgotten the version?

[2017-10-12 14:41] zlepper commented on #257
Apparently that was it... I could have sworn we had tried with specifying version too, without any luck.

Must have been a hickup on our computers/internet.
Sorry for being a bother.

But how come I can pull spring framework without specifying version, but not Fuel? Is it something with jcentral?

[2017-10-12 14:41] #257 closed

[2017-10-13 11:20] keizo2 commented on #241
Thank you for replying!
If I apply clean architecture like https://blog.uptech.team/clean-architecture-in-android-with-kotlin-rxjava-dagger-2-2fdc7441edfc,
I guess it's better to keep the return type of getUser method Single\<User> and tried to return an error object in an exception as below.
How is this?

[code]
[code]
[code]

[2017-10-14 02:47] babedev commented on #241
Looks nice. 😄

[2017-10-14 02:47] #241 closed

[2017-10-16 01:41] kittinunf commented on #257
I think you just get away by using '+' in lieu of the version number.

However, adding dependency without a specific version is never a good idea. I would recommend you to specify the version instead.

[2017-10-16 19:03] JairAviles commented on #248
Hey, I am doing a post using block mode and having the same error. Was it similar to your problem? How did you resolve it?

[2017-10-16 21:31] harryd31 commented on #248
There seemed to have been something wrong with my emulator. I know it sounds silly but also make sure the device you're testing on has access to the internet, on one occasion the device was on airplane mode and I also got that error (not sure how or why)

[2017-10-17 00:38] JairAviles commented on #248
Thanks for your reply. In my case, I was testing on a real device, thus I called the Fuel post method in an Asycnk Task and problem solved. I am not sure, if this is a good practice, [though](http://simonvt.net/2014/04/17/asynctask-is-bad-and-you-should-feel-bad/).

[2017-10-18 11:49] kittinunf commented on #202
This is intentional by design. Having emitting as `onError` will cut down the stream. If upstream was tied to the UI, where the stream is infinite will terminate the whole chain. To solve that user needs to do some sort of operator to recover this such as `onErrorReturn` or something similar.

I think the current way is more suitable.

[2017-10-18 11:49] #202 closed

[2017-10-19 11:56] daleksandrovms commented on #245
yes, i see the same...

[2017-10-19 12:01] mishaxz commented on #245
unfortunately because of this I had to switch to another library :( I really did like this library but I couldn't work around it

IF this behaviour ever changes, please drop a comment here so that I know about it - thanks!

[2017-10-20 15:29] SamDecrock opened #259 "multipart/form-data field names are changed after I set them :-("
Why are you adding a counter to the field name of the multipart/form-data object?
https://github.com/kittinunf/Fuel/blob/d29f5f61223b073553655b20e65b2aa69bb619e4/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/requests/UploadTaskRequest.kt#L20

It's perfectly valid to have multiple field names with the same value: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition

I

[2017-10-23 16:46] SamDecrock commented on #259
Never mind, found a way to get around it:
[code]

[2017-10-23 16:46] #259 closed

[2017-10-30 18:39] JairAviles commented on #102
Is that being said, which is the correct way to set wellformed headers for a GET request?

[2017-10-31 02:27] dphans opened #262 "How can I send requests to secure HTTP server?"
I got error while requesting to my server (that using secure https):

                                                                    at com.github.kittinunf.fuel.toolbox.HttpClient.executeRequest(HttpClient.kt:63)
                                                                    at com.github.kittinunf.fuel.core.requests.TaskRequest.call(TaskRequest.kt:14)

[2017-10-31 07:05] storezhang opened #263 "CookieStore support?"
When can you support cookie functionality?

[2017-11-03 15:47] fyi2 opened #264 "Gradel unable to resolve dependencies"
I have copies your gradle recommendations:
[code]
and for each Fuel module I get:

[code]
Do you have any idea what is missing?

[2017-11-03 16:09] fyi2 commented on #264
Resolved. I put the actual latest version number and that fixed it.

[2017-11-03 16:09] #264 closed

[2017-11-07 05:18] nanodeath commented on #231
As another data point, this limitation makes it impossible (or hard, at least) to use properly with the CouchDB API. [Updating documents](http://docs.couchdb.org/en/2.1.0/api/document/common.html#put--db-docid) is a PUT operation that requires a `rev` query parameter. Actually...I think I can set an `If-Match` header instead, but the other query parameter options have no header alternative.

[2017-11-07 22:44] mdesmons opened #265 "JSON deserialization behaves differently in blocking vs async mode"
Using Fuel and Fuel-Jackson v1.11.0.
I have a service returning a JSON UserProfile object mapped to a Kotlin class:
`    data class UserProfile(var name:String)
`
If I use Fuel in in async mode, the response gets properly deserialised to a UserProfile object:
[code]

Whereas if I use Fuel in blocking mode, the responseObject signature returns a triplet with "result" being typed as Result<Any, Fuel

[2017-11-11 06:38] kittinunf commented on #265
This is true! I will open a PR for fixing this.

[2017-11-13 14:47] vinhdn commented on #238
Maybe GSON can't parse `content` to object.
You can try
`override fun deserialize(content: String) = Gson().fromJson(content, ConversationsModel::class.java) ?: ConversationsModel()`
It work for me.

[2017-11-14 14:31] #265 closed

[2017-11-14 21:18] vaurelios commented on #195
Same as #99

[2017-11-15 21:43] oleksiyp commented on #186
@FrederikNS check this snippet on how to rewrite it to [mockk](http://mockk.io) mocking library.
May be it's pretty similar to your code and do not add a lot of value here, but may be in more sophisticated cases it can be useful.

`
        val client = mockk<Client>()

        val someJson = "{\"key\":\"value\"}"

        every { client.executeRequest(any()).statusCode } returns 200
        every

[2017-11-16 13:48] AleFachini opened #272 ";ore Detailed explanation for Unexperiencced users"
Hello:
I am very new to android /java and Kotlin. And i find this very long sentences confusing. Can you provide more detailes examples with explanations?
I am trying to replace Volley with this library, but im struggling to undersetand how to get a simple JSON as string and save it to a variable. wouldbe nice if we have methods explained as in Android Developers.
Yes I am very unexperienced but t

[2017-11-17 02:39] kittinunf commented on #272
Have you checked out sample folder? Both in Java and Kotlin?

[2017-11-17 02:47] kittinunf commented on #191
It seems like we could close this down.

[2017-11-17 02:47] #191 closed

[2017-11-17 02:49] kittinunf commented on #215
I think this has been resolved, feel free to reopen if you think otherwise.

[2017-11-17 02:49] #215 closed

[2017-11-18 13:01] kittinunf commented on #251
I really want to address this issue.

To be able to close this, in what specific area you want us to improve?

@JairAviles If you don't mind to spare 5 mins to share specifically what we should add?

[2017-11-18 13:23] yoavst commented on #251
@kittinunf Maybe we can provide a testing module with a custom `FuelManager` that allows easy mocking of requests?

[2017-11-18 20:40] JairAviles commented on #251
I agree with @yoavst suggestion.

[2017-11-20 15:42] alvico opened #274 "PATCH method transformed to POST method"
Somehow a PATCH request method is received as POST request method in the server:

Client Request:
2017-11-20 16:35:39 INFO  Main:66 - "Body : {"status": "rejected"}"
"Headers : (5)"
Accept-Encoding : compress;q=0.5, gzip;q=1.0
Content-Type : application/json
Authorization : Basic ....
X-API-Version : v1
Accept : */*

Server logs:
2017-11-20T16:35:39.81+0100 [RTR/0] OUT abit.apps.emea.vwapps.io - [

[2017-11-20 15:58] alvico commented on #274
Found out the problem by reading the documentation ... xD

[2017-11-20 15:58] #274 closed

[2017-11-21 02:26] burkaslarry commented on #135
how to get and print the result then ?

[2017-11-22 00:46] toemat opened #275 "Download response empty"
Trying to use the download file feature but for some reason `string` inside the responseString { } block is always empty _unless_ I put a breakpoint inside the destination { } block.

Am I using this the wrong way or is there a thread timing issue going on?

[code]

(The file seems to be created and written correctly, but I figured I would use the result/string instead of immediately opening and r

[2017-11-22 08:23] qwertukg opened #276 "There is no json post example"
How to add `JSON` body to request and send it? plz add an example of it to readme

And also will be good if u will add `httpGet` (and others) extension to `URL` class

[2017-11-24 02:58] Xianyang opened #277 "Could not resolve all dependencies"
I use corda to in my project and I want to include Fuel. I add this to `build.gradle`
[code]

But when I invoke `gradlew build` in the terminal, errors come out
[code]

Is it the right way to install Fuel by calling `gradlew build`?
Cannot figure out why. Any help is appreciate. Thank you

[2017-11-27 12:44] JairAviles commented on #277
You just need to change in your Fuel dependencies  `<latest-version>`for the latest library version number.

`
    implementation 'com.github.kittinunf.fuel:fuel:1.12.0' //for JVM`

[2017-11-27 14:58] Euronames opened #278 "[Feature] upload file with http-formpost"
Hello,
I have an endpoint that takes an http-formpost for a fileupload and i would like to be able to upload to this endpoint using Fuel.
I have tried

[code]
and i'm getting this response Required request part &#39;file&#39; is not present

I've checked the documentation which makes me believe that this is a feature request as this does not seem possible atm.

[2017-11-28 18:59] denniss17 opened #279 "Redirect not followed if location header is lowercase"
I'm trying to access an URL by using Fuel. The server returns a 302, with the redirect URL in a `location` header (as opposed to the `Location` header). I think the check should be case insensitive.

I'll see if I can create a PR

[2017-11-29 01:20] Xianyang commented on #277
@JairAviles Thanks for your reply. I tried this method but the error still here. I think it's maybe the firewall of corporation computer. Sad

[2017-11-29 07:37] babedev opened #281 "Cannot run command which print by cUrlString()"
I used cUrlString() to print cUrl command but could not run it.

[code]

It should be

[code]

[2017-12-04 13:50] molchanoviv commented on #228
I also faced this exception. But it happens only when i enable advanced profiling. With disabled profiler it works well.

[2017-12-07 14:06] kittinunf commented on #281
Can we close this?

[2017-12-07 14:10] babedev commented on #281
Sure.

[2017-12-07 14:10] #281 closed

[2017-12-08 15:20] Querschlag opened #284 "Fuel.testMode NetworkOnMainThreadException"
I get the exception above when I configure Fuel for the testMode in my Application class.

[code]

My code makes the network call in a non-blocking way like so: `"https://foo.com".httpGet().responseString { request, response, result -> }`
I tested with a physical android device (Pixel 1).

[2017-12-08 23:36] cifa opened #285 "Responses not validated after redirect"
Following a redirect `Response.Success` is returned even if the requested resource does not exist.  Consider the following tests:
[code]
While the first one passes as `Result.Failure` is returned as expected the other one fails with
[code]
I believe the issue is the root cause of the issue is line 28 in `RedirectionInterceptor.kt` which simply returns `manager.request(encoding).response().second`

[2017-12-13 16:08] andrewmarmion opened #286 "SocketTimeoutException when trying to upload a file"
I am using fuel and fuel-android 1.12.0
I keep getting the following error when trying to upload a file.

**This is the response:**
[code]
**This is the result**
`[Failure: java.net.SocketTimeoutException: Read timed out]`

The file I am trying to upload is a bitmap that I am scaling then compressing:
[code]
My request looks like this
[code]

I have tried changing the default timeout and readtimeo

[2017-12-13 19:56] lanzelot1989 commented on #135
change the last line to
[code]

[2017-12-14 12:37] andrewmarmion commented on #286
So there seems to be some kind of buffer issue. I have tried shrinking the file size down and it would appear that if the file size is over 1KB I get the SocketTimeoutException. Is there anyway that I can increase the buffer size or change my underlying code so that it works?

[2017-12-19 01:49] kittinunf commented on #285
Hmm, can you suggest with a PR, and we can continue discussion in there?

[2017-12-24 12:54] PerfectedTech commented on #263
+1

[2017-12-27 08:31] davbrama opened #289 ""README.md: Wrong function in example "Specify custom field names for files"
https://github.com/kittinunf/Fuel/blob/master/README.md#specify-custom-field-names-for-files
`Fuel.upload("/post").sources { request, url ->
    listOf(
        //DataPart takes a file, and you can specify the name and/or type
        DataPart(File.createTempFile("temp1", ".tmp"), "image/jpeg"),
        DataPart(File.createTempFile("temp2", ".tmp"), "file2"),
        DataPart(File.createTempFile("

[2017-12-30 01:32] Guppster opened #290 "responseJson only available in android extention?"
I was trying to use the responseJson method as shown in the detailed instructions section of the readme but I couldn't find it. After looking through the repo I realized it is only available for the Android extension of Fuel.

Is this a mistake or is it suppose to be this way? Either way, it's not clearly represented in the README, which shows the response, responseString, responseJson, and respon

[2017-12-30 10:34] balutaeugen opened #293 "GET Request returns -1 as HTTP Error code"
EDIT:
Wrong post, sorry :/

[2018-01-04 20:59] pablodeafsapps opened #294 "Fuel running in a worker thread?"
Hi,
            I come from the 'Retrofit' world and I am used to Rx, i.e. using 'observeOn()' and 'subscribeOn()' to avoid doing too much work in the Main Thread. I know Fuel is compatible with Rx, but my question is: does Fuel run in a worker thread by default?! Or, as I think, it run asynchronously in the Main Thread unless you use the Rx compatible feature?!
            Thanks and regards,

[2018-01-05 13:47] kittinunf commented on #290
Close by his PR #291

[2018-01-05 13:47] #290 closed

[2018-01-05 13:48] kittinunf commented on #289
Close by #292

[2018-01-05 13:48] #289 closed

[2018-01-05 13:48] kittinunf commented on #285
Close with #288

[2018-01-05 13:48] #285 closed

[2018-01-06 15:38] kittinunf commented on #293
Close this then.

[2018-01-06 15:38] #293 closed

[2018-01-09 09:03] ivanovstepan commented on #224
get same issue on  .responseObject<SomeClass>()
when i have addResponseInterceptor

[2018-01-10 16:19] jameslan commented on #262
Have you tried `FuelManager.instance.keystore`?

[2018-01-10 20:32] Axure opened #296 "The examples in readme are misleading concerning `Result`"
The examples use the following pattern:
[code]
In this case the `data` and `error` would both be nullable. If you match `error` like the examples, `data` would be nullable in both branches.

Shouldn't the correct use of the Result library be
[code]
?

[2018-01-10 20:40] #296 closed

[2018-01-11 05:06] babedev opened #298 "Got IndexOutOfBoundException when upload file"
Fuel: `v1.12.0`

I got IndexOutOfBoundException when upload file which selected from Android gallery

[code]

Here is my code

[code]

I checked that it cannot get boundary from `Content-Type`

[code]

[2018-01-13 05:54] kittinunf commented on #298
Thanks for reporting this :)

[2018-01-13 23:49] QUIQUELHAPPY opened #300 "Unicode problems"
I'm having problems with accents, on the response I'm getting the unicode value instead of an accent.

Ex original response: "programación"
Ex response: "programaci\u00f3n"

[2018-01-15 03:51] babedev opened #301 "validatorResponseInterceptor always response FuelError"
Fuel: `v1.12.0`

I add `validatorResponseInterceptor(200..499)` to `FuelManager`
Should it allow 200 to 499 as valid status code?

I checked `FuelManager` that it add `validatorResponseInterceptor` as new interceptor, but it already has `validatorResponseInterceptor(200..299)`. So it might do the `200..299` before my interceptor and response error.

Here is my code
[code]

[code]

[2018-01-18 05:31] parveenpjpt commented on #264
Take this vesion number and it will resolver

compile 'com.github.kittinunf.fuel:fuel:1.12.0' //for JVM
    compile 'com.github.kittinunf.fuel:fuel-android:1.12.0' //for Android
    compile 'com.github.kittinunf.fuel:fuel-livedata:1.12.0' //for LiveData support
    compile 'com.github.kittinunf.fuel:fuel-rxjava:1.12.0' //for RxJava support
    compile 'com.github.kittinunf.fuel:fuel-gson:1.12.0' /

[2018-01-20 12:59] kittinunf commented on #301
Yeah, if you really need (200..499), you need to remove the existing one first. Then, add your custom one. Does it make sense to you?

[2018-01-20 14:07] babedev commented on #301
Should it replace the old one? Because there is no need to have multiple `validatorResponseInterceptor`.

[2018-01-21 12:08] kittinunf commented on #301
Hmm, why do you want to replace 200.299 ?

[2018-01-21 14:26] babedev commented on #301
I want to allow 200..499. But it failed because it has `validatorResponseInterceptor(200..299)` as default validator.
Would it better if new `validatorResponseInterceptor` replace the existing one?

[2018-01-22 15:40] C06A opened #302 "Couldn't find this published as artifact"
I try to use this project in my Gradle project, but it cannot resolve the JAR based on the provided configuration.
Is this project published anywhere or I only can grab the source code and build every time locally?

[2018-01-23 08:33] yoavst commented on #302
[code]

[2018-01-24 03:28] kittinunf commented on #301
Yeah, but 200..499 won't work. Because 300...499 shouldn't be treated as Success, should we?

[2018-01-24 03:52] babedev commented on #301
Um.... yes, you are right. I have scenario which I need to get JSON response body from status 4xx.
So I might go this way.

[code]

Should we have JSON deserialiser for error case?

[2018-01-25 02:01] James-Sangalli commented on #302
compile 'com.github.kittinunf.fuel:fuel:1.12.0' fails to resolve.

[2018-01-25 03:55] #298 closed

[2018-01-26 01:46] dazwin opened #304 "Uncatchable java.net.ConnectException"
If the server is not running when request is made, Fuel re-throws this exception and the application quits. With the lambda, it's not possible to catch this exception:

Example code:
[code]

Here's an example stack trace:
[code]

The problem lies here (TaskRequest.kt, around line 18):
[code]

[2018-01-26 01:56] C06A commented on #302
I figured. Should include this specific repo:

[code]

I think it would be helpful to add single line into doc/example.

[2018-01-26 01:56] #302 closed

[2018-01-29 02:06] kittinunf commented on #301
True ... I think we should do that. Sound like a good item for another PR.

I think we could improve in this block.

https://github.com/kittinunf/Fuel/blob/0001c44efe9bf1389ba742292a45b62837723801/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Deserializable.kt#L69-L73

[2018-01-31 12:36] smi22 opened #305 "android 4.4- API Call send callback in on failure() but in other android version it works fine"
Fuel.get(Constants.defaultChannelURL).responseString(new Handler<String>() {
            @Override
            public void success(Request request, Response response, String s) {
                if (response.getStatusCode() == 200) {
                    try {
                        String result = s;
                        Log.d(SplashActivity.this.getClass().toString(), "Fuel response = " + res

[2018-01-31 12:41] babedev commented on #305
What is an error from `printStackTrace`?

[2018-01-31 13:24] #305 closed

[2018-02-02 06:30] babedev opened #306 "httpDelete did not send body payload"
Fuel: `v1.12.0`

I tried to sent HTTP DELETE with JSON body. I checked `HttpClient.kt` that it skip body set up for GET, DELETE, HEAD

[code]

Should we allow `Method.DELETE`? Because I have scenario that API need body payload for DELETE.

Same issue #245

[2018-02-02 07:22] kittinunf commented on #301
Yeah. I think I could find sometime this weekend to tackle this

[2018-02-03 09:49] kindraywind commented on #300
Hi
I tried with mocked api: https://d82474de-3989-4a29-89d8-6af2d7759262.mock.pstmn.io/uni
and the response looks fine to me
[code]

Make sure that the header's Content-Type includes `charset=utf-8` 👍

[2018-02-07 23:55] QUIQUELHAPPY commented on #300
I don't understand what's going on. I do get the accent right with your mocked api, but with my site I'm not getting regular accents BUT in the browser I do! look:
![b13067fff27ab9d80f17b66f886626df](https://user-images.githubusercontent.com/12534357/35947957-8957a5aa-0c6a-11e8-9a38-5c3d5aee941b.png)

I'm using the header with the charset already... 😕
![2012481a89ffc0c25c97ab3e8569ca01](https://us

[2018-02-07 23:58] #300 closed

[2018-02-11 07:15] kittinunf commented on #306
Yeah, I think by the time I have designed this base on the [RFC](https://tools.ietf.org/html/rfc2616) spec. It is not specified as permitted or not so that I didn't follow through with the implementation for this. However, most of the modern HTTP libraries support this so we should support it too!

@babedev Would you mind creating a PR for this? I can help you out as well.

[2018-02-11 07:17] kittinunf commented on #294
I think I leave the thread usage to be the responsibility of the client so that you can just use `observeOn` and `subscribeOn` in any threads you desire? Is this working as expected or not?

[2018-02-11 07:54] babedev commented on #306
Sure. I will let it support both GET and DELETE.

[2018-02-11 11:36] gahfy commented on #94
I just did a pull request to solve this issue

[2018-02-11 19:23] pablodeafsapps commented on #294
Hey! Thanks for your response.
The behavior is the expected when using the Rx feature. I was simply wondering what is the standard approach that Fuel uses; I mean whether it swaps thread for the query or it simply sticks to the main thread. Thanks!

[2018-02-12 03:28] danshev commented on #275
Hitting this same issue with the `.response { request, response, result ->` handler.  Created [a stackoverflow question](https://stackoverflow.com/questions/48739045/fuel-download-returns-empty-bytes) about it.

[2018-02-12 04:51] johnothwolo opened #310 "Response Body keeps on returning null"
I'm using Fuel for an android project, but every time I check the response body I get a null.

[code]

If I print the response as a string in `request.toString()` I see the HTML response in the logs, but when I use `response.headers["Body"]` or `response.headers.get("Body")` I see `Body: null` in the output.

[2018-02-12 21:30] johnothwolo commented on #310
There was no documentation of `response.data` and converting it to a string. This gave me the correct result:
[code]

[2018-02-12 21:32] #310 closed

[2018-02-16 10:57] kittinunf commented on #294
Ah, in `Fuel` default implementation, it runs on the worker threads by default so you don't have to worry about it. In Android implementation, `Fuel` also calls the callback in the mainThread environment for you automatically.

[2018-02-19 23:49] patientplatypus opened #312 "Result doesn't seem to be recognized ("unresolved reference") in get request"
You have

[code]

However, `Result` above is highlighted in red in Android Studio and is said to be an unresolved reference. Please provide an example of what package to import or update the docs to reflect that, I've tried to guess and haven't been successful.

[2018-02-24 08:51] jurgel opened #314 "How to get response body on error?"
If the API return status code 400 (Bad Request) with some message on the body, how do I get the body from FuelError?

[code]

Example message:
[code]

I want to parse the code and result text, but I can't even get the response body.

[2018-02-24 09:44] yoavst commented on #314
try `response.data`. It will return `ByteArray`.

[2018-02-24 09:49] jurgel commented on #314
I thought it's inside error object, I should check it first, :smile:
thanks a lot man.

[2018-02-24 09:49] #314 closed

[2018-02-27 10:53] MaTriXy opened #315 "Avoiding resource leaks - Explicit termination method 'end' not called"
Using Fuel with get can cause resource leaks.

Turn on Strict mode and watch the error:

                                 java.lang.Throwable: Explicit termination method 'end' not called
                                     at dalvik.system.CloseGuard.open(CloseGuard.java:180)
                                     at java.util.zip.Inflater.<init>(Inflater.java:104)

[2018-02-28 05:01] kittinunf commented on #312
Let me take a look tonight!

[2018-03-05 15:52] emanguy opened #320 "Add explicit connection pooling options"
I'm using Fuel in a high-concurrency environment, so due to UNIX's usage of sockets as files, I'm encountering issues where I have too many open sockets (due to the TIME_WAIT state of sockets after they're closed). This causes a state where I can no longer send HTTP requests due to the fact that I've hit my file-descriptor limit on the Java process.

The typical fix for this is connection pooling,

[2018-03-06 12:02] alexnix opened #321 "Why is there a JVM version and an Android version?"
This is somehow confusing since Android is actually a JVM library. There fore "JVM version" should work for Android too.

[2018-03-06 13:14] #279 closed

[2018-03-07 02:42] kittinunf commented on #321
It works on Android as well, however, if you use `Android`, you will benefit from Android specific stuff, for example, you call back will run on Main thread automatically.

In short, `JVM` target usage outside Android context, meanwhile `Android` aims to support usage under Android development.

[2018-03-08 12:48] creativecreatorormaybenot opened #322 "Headers in Fuel"
For me using `url.http...().headers().response...()` will work fine, but it will not send the actual headers in the request. They are displayed when logging and therefore also stored in the `request` parameter, but they do not work, i.e. they are not sent with the request.

[2018-03-08 15:03] #321 closed

[2018-03-11 08:52] kittinunf commented on #320
I gotta admit that I am not an expert in this area. Do you an idea of a fix in mind? I would love to help you out if needed by discussing the potential fix (or feature) for this.

[2018-03-11 08:59] kittinunf commented on #312
Sorry, I guess the document wasn't updated for a while.

The correct syntax should be something like

[code]

I will open a PR to fix this.

[2018-03-14 00:00] #312 closed

[2018-03-15 10:27] pacifire commented on #135
@Ianzelot1989: Thanks its working for me at least :-)

[2018-03-19 04:04] iNoles opened #324 "OkHttp's expects ResponseBody to be a body on methods that requires body"
There are three Responsebody.create methods for this.
[code]
Is there is a way to work around of this problem?

[2018-03-22 17:00] mrenou commented on #231
Waiting, is there any workaround to add a query param in a POST request ?

Thanks for the library

[2018-03-22 17:18] pltanton commented on #231
@mrenou, you can just pass your query params directly in url like `Fuel.post('https://example.com?param=value&otherParam=otherValue')`

[2018-03-22 22:24] omaestra opened #325 "FuelRouting set oauth2 authentication POST parameters"
Hello, I am trying to request an access token from the Instagram API using Fuel, FuelRouting. Here is part of my code. I think I have set everything right but I keep getting a bad response from the Instagram API telling me that I have to include the "client_id" parameter:

[code]

[2018-03-23 01:13] lianyueforever opened #326 "When I use httpGet,can I choose encode or not?"

[2018-03-23 06:32] immadolf opened #327 "No subject alternative names present"
when i access a https url , it report this error.I have no idea for secure things.could you help me?

[2018-03-23 12:04] Gira-X commented on #193
There is an old Github Gist git diff (from May 2017, not sure if this can be still applied to the current Fuel version) which fixes this issue partly: https://gist.github.com/dstd/cc5710c52c58eec6f14ee1eb229eb4de

The applied fix only works for `Fuel.download`.
For `Fuel.upload` it still reports the wrong progress.

Maybe someone can take a look and completely fix this :)

[2018-03-24 06:51] #326 closed

[2018-03-28 07:11] tyaslab opened #328 "blocking mode does not work in Activity but works in Service (Android)"
The documentation states that

It works perfectly in **Service** but it doesn't work in **Activity**. I have tried in fresh new Android Project file and it still doesn't work (except in Service).

The script is

[code]

The *Log.d* for response.data doesn't return anything but response.statusCode returns **-1**

Did I do it wrong? Or is this a bug? How to do blocking request in Fuel in best practi

[2018-03-28 17:38] yoavst commented on #328
Yea, Android blocks you from having a network request on main thread.

[2018-03-28 17:38] #328 closed

[2018-03-31 14:10] #94 closed

[2018-04-05 06:03] folcotandiono opened #330 "Can i put service in download's progress?"

[2018-04-05 13:53] ransomhall commented on #251
+1 on some sample unit test documentation. I"m currently working through an issue with mockk and Fuel, and it would be helpful to know my (very simple) tests are correctly setup to begin with.

[2018-04-06 09:11] quentinlampin opened #331 "Blocking requests"
Hello,
I'm having an issue with blocking requests.

The following code sample fails:
[code]
output:
[code]

while the corresponding async sample is successful:
[code]
output:
[code]

I'm using the following SDK/build configuration:
[code]

Any idea ?

[2018-04-06 15:27] iNoles commented on #331
Android one is not really blocking because callback will be on the Main Thread.

[2018-04-06 17:40] dtanner opened #332 "Measure response time?"
Does Fuel collect and expose a way to get the response time?

[2018-04-06 19:36] ryanm35 opened #333 "Fuel http request identified as "Browser Client" by Spring Boot"
I am making api calls to a spring boot service and whatever user agent Fuel is using is being identified as a browser client by spring boot. This causes undesirable behavior. I have not this problem when using Apache HttpClient directly.

[2018-04-09 17:30] #330 closed

[2018-04-17 01:14] lacroi-m commented on #264
@parveenpjpt thank you
Just wondering where I will be able to find the latest version for the futur ?

[2018-04-17 02:59] kittinunf commented on #331
Well in Android, you can't really call network on the mainThead, can you? I remembered it was enforced back in Honeycomb and Ice Cream Sandwich. They are much stricter about abuse against the UI Thread.

You need other mechanisms to help you achieve the non-callback fashion. RxJava is one of the ways.

I don't think this has anything to do with Fuel. I will close this but if you have anything to d

[2018-04-17 02:59] #331 closed

[2018-04-17 03:00] kittinunf commented on #272
I am closing this because of the staleness.

[2018-04-17 03:00] #272 closed

[2018-04-17 11:28] simonharrer commented on #306
Is there already a PR open for this? I need to interface an API that *requires* me to send a json body alongside a GET request.... :-(

[2018-04-17 11:52] tomocrafter opened #335 "HttpException: HTTP Exception 404 Not Found"
I'll get `com.github.kittinunf.fuel.core.HttpException: HTTP Exception 404 Not Found` Error when did this.
![image](https://user-images.githubusercontent.com/10905364/38868191-37c64fa0-4281-11e8-8862-4838c65cab96.png)

this is because url is contain [] or {}. so how can I get it without this error

[2018-04-17 11:53] tomocrafter commented on #335
![image](https://user-images.githubusercontent.com/10905364/38868249-6058c736-4281-11e8-84ab-d500ce535cc1.png)

[ and ] will be escaped to %5B and %5D

[2018-04-20 07:39] geertberkers commented on #251
Yup, thats an good idea. Trying to make some calls to another server, and continuously getting SSL Handshake errors in the unit tests. Calling from postman/browser/mobile it self just works...

[2018-04-22 17:13] SeppPenner opened #336 "Could not resolve com.github.kittinunf.launcher_icon:launcher_icon-android:1.12.0."
When I try to add the following lines to my build.gradle file:

[code]

I get the following error:

[2018-04-25 07:09] jigarpatel17 commented on #286
Any update on this, I am getting same issue in Android.
Gradle version: 1.12.1

[2018-04-25 08:59] andrewmarmion commented on #286
@jigarpatel17 I was uploading an image and resolved it in the following way.
[code]

However I never got it working to upload larger files.

[2018-04-25 09:30] jigarpatel17 commented on #286
@andrewmarmion It seems like you are compressing bitmap and it may reduce the quality. Was looking for a better way to do so and found below one which might help you in your case.
[code]

[2018-04-25 14:54] andrewmarmion commented on #286
@jigarpatel17 Yeah I am compressing it, however the image that I needed to upload was for an avatar that was quite small, so I wasn't worried about loss of quality.

I had tried using the method that you suggest but it never worked for me. For uploading larger files I wrote a custom implementation that didn't involve using Fuel.

Thanks for your response. I may try your suggestion again if and whe

[2018-04-26 12:44] vander2675 opened #337 "Can't pass custom Headers to Download"
Hey
I sometimes need to include different OAuth2 Headers on my Requests, but the download Method is not accepting custom Headers. The only headers possible are the global ones, or am I missing something?

[2018-04-26 12:45] vander2675 commented on #337
Same with Upload Method

[2018-04-27 06:46] vander2675 commented on #337
Okay, got it working by using the Encoding class

[2018-04-28 03:01] lequyen90 commented on #135
You should pass params in post instead of body
List<Pair<String, String>> requestParams = new ArrayList<Pair<String, String>>(2);
                    requestParams.add( new Pair("full_name", "huhu") );
                    requestParams.add( new Pair("email", "abc@gmail.com") );

                    Fuel.post(apiRegister, requestParams).responseString(new Handler<String>() {

[2018-04-28 05:32] Kudzai3 opened #338 "Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.github.kittinunf.fuel:fuel-rxjava:1.12.1."
Happening for all dependencies listed below today.

implementation 'com.github.kittinunf.fuel:fuel-rxjava:1.12.1'
implementation 'com.github.kittinunf.fuel:fuel-gson:1.12.1'
implementation 'com.github.kittinunf.fuel:fuel-jackson:1.12.1'
implementation 'com.github.kittinunf.fuel:fuel-moshi:1.12.1'

[2018-04-28 05:54] kittinunf commented on #336
Hmm, what is `launcher_icon`?

[2018-04-28 07:00] kittinunf commented on #335
There is nothing wrong with %5B and %5D, correct?

I am trying the same api with you.

[code]

Here is the response.

[code]

Is it possible that your arguments are not correct?

[2018-04-28 07:03] kittinunf commented on #335
This is the response using the same argument with yours. Not sure the responese data is what you want but from the networking perspective. It looks just fine.

[code]

[2018-04-28 08:31] tomocrafter commented on #335
Really?
I'll try again this. thanks for response and I'm sorry.

[2018-04-28 08:31] #335 closed

[2018-04-28 09:25] kittinunf commented on #335
@tomocrafter Hey thanks for reporting. And feel free to open this if there's something you need help. I am also available in Kotlin Slack. http://slack.kotlinlang.org/ Feel free to ping me there, and I can even give you the code that I tried.

[2018-04-29 10:26] SeppPenner commented on #336
I think I found the issue... I somehow copied the launcher_icon as string to all of the lines that originally were the following:

[code]

But don't ask me why. Can be an IDE error, too, maybe...

**launcher_icon.png** is a file I use to show on app startup. But nevermind, was a stupid copy-paste error...

[2018-04-29 10:26] #336 closed

[2018-04-29 14:10] kittinunf commented on #333
It is because of the header? I would love to see how spring boot identify whether the client is a browser client, do you have more info on that?

[2018-04-29 14:12] kittinunf commented on #278
I think it should be included in the later release. Closed as fixed.

[2018-04-29 14:12] #278 closed

[2018-04-30 06:51] kittinunf commented on #306
I haven't get time to work on this yet, sorry. 😢

[2018-04-30 11:49] medyas commented on #276
I'm trying to accomplish it using java, but not getting the json as expected in the server side. here's my code:

        onCreate Class {
        JSONObject obj = new JSONObject();
        try {
            obj.put("client_uid", client.getUid());
            obj.put("tokenId", refreshedToken);
        }
        catch(Exception e) {
            Toast.makeText(this, "Could not send data", Toast.LEN

[2018-04-30 11:56] medyas opened #340 "unparsed Json with POST in server side"
hi, im new to this library and just started using it and trying to send a post request with Json data to a server. i managed to do that but the received data cannot be parsed as json. here is my code:

I'm trying to accomplish this using java, but not getting the json as expected in the server side. here's my code:

[code]

any help. and Thank you.

[2018-05-01 15:55] dtanner commented on #332
will do.  i had already created an app-specific implementation of the metrics, but i'll turn that into an ApplicationFeature.

[2018-05-01 15:55] #332 closed

[2018-05-05 03:26] Fibonacci- opened #343 "Can't add multiple headers with the same name (cookies)"
The code:

[code]

Expected functionality:

All cookies are included in request

Actual functionality:

Only the last Pair with val3 is included in the request

This happens because, in Request.kt line 28, the headers variable is a MutableMap, instead of perhaps an ArrayList of Pairs or a similar datatype.

Multiple headers with the same name is allowed in the [HTTP spec, section 4.2](https://www.

[2018-05-05 04:19] #276 closed

[2018-05-07 03:17] immadolf commented on #320
So far, Fuel still has no connection pool, is it? Is there a guide can help me replace the default HttpClient with Apache HttpClient?

[2018-05-07 03:39] iNoles commented on #320
@immadolf No, you can look into https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/toolbox/HttpClient.kt

[2018-05-07 03:52] dpmaycry opened #344 "How to upload customed Blobs (like DataPart) in multipart way?"
I have a Blob list to upload with different names and filenames like

`listOf(blob("a","a1.jpg",size,stream),blob("a","a2.jpg",size,stream),
blob("b","b1.jpg",size,stream),blob("b",b2.jpg",size,stream))`

are there any way to do it with fuel like DataParts?

`DataPart(Blob(),"name", "image/jpeg")`

 or is this right for this situation

[code]

[2018-05-07 09:59] amorenew opened #345 "Retry Feature"
First good work I started Kotlin and I used your library in my first Kotlin project.
I wonder if there is a retry feature like volley library?
Thanks a lot

[2018-05-08 08:43] dpmaycry commented on #344
found a way to set names

[code]

but is there a better way?

[2018-05-10 12:37] j-elmer123 opened #346 "[Bug] Request GET works differently between kotlin code and curl"
this is my code to get data from URL
[code]
always saying unauthorized.

When I use cURL from `request.cUrlString()`
[code]
I get the JSON data from that specific API after using cURL.

[2018-05-12 06:14] kittinunf commented on #346
That was not the correct way of using `Fuel` in the `{ request, response, result ->` that is the request `after` the connection has been made. In your example, you configure the header *before* the connection is made.

Consider something like
[code]
in order to achieved you desired result.

[2018-05-12 14:34] miscoder opened #348 "multipart upload params problem"
in many cases . services need to check params before receiving file , otherwise server return error
![seee](https://user-images.githubusercontent.com/10349651/39958321-c2e76df0-5616-11e8-9ee9-aece8717461e.png)

[2018-05-13 05:36] j-elmer123 commented on #346
Oh, now I understand how to properly use it. thank you.

[2018-05-13 05:36] #346 closed

[2018-05-15 03:13] pimonteiro opened #349 "How to parse manually a response (Kotlin)"
I can't seem to find an explanation on how to parse the response. I want to create an object with data from the response (including nested data) but i don't find a way. I also saw that i could make the response be automaticly parsed for an object, but i didn't quite understand. (care to explain? )
Thank you!

[2018-05-17 22:00] #349 closed

[2018-05-18 07:14] mtopolnik opened #351 "Wrong way of reacting to the coroutine being cancelled"
[This code](https://github.com/kittinunf/Fuel/blob/c9f1e871774ddcf07a0da6687f85ff8d3bed1704/fuel-coroutines/src/main/kotlin/com/github/kittinunf/fuel/coroutines/Coroutines.kt#L19):

[code]

checks if a continuation is cancelled, only to do nothing but cancel it again. Instead this should be the place to cancel the HTTP request.

[2018-05-19 06:59] kittinunf commented on #338
Let's close this, as there is no response from the reporter.

[2018-05-19 06:59] #338 closed

[2018-05-19 07:00] InvertedX opened #352 "Fuel.upload with form data not sending form data"
Fuel Upload supports optional form data parameter.i passed this parameter and multipart data to upload , but only file upload works form data not associated with request

[code]
i logged request object but it only contains.
BTW if we pass empty data part array formdata will be submitted

this is what request obj look like

[2018-05-19 07:02] kittinunf commented on #344
It looks like that is the way that we allow client to use `Blob` now. If you think it could be improved, PR is more than welcome. 🙏

[2018-05-20 02:13] not3 opened #353 "function "Request.awaitResponse" in fuel-coroutines cannot catch NullPointerException while response is null"
sample code
[code]
debug infomation
![fuel debug info](https://user-images.githubusercontent.com/211266/40274944-5a9a4e60-5c16-11e8-9362-d9ae1ca1e0ab.png)

[2018-05-26 16:05] kenrube commented on #104
Agree with @uranusjr and @njasm, it's missing feature. Let's say alone way to get auth from my server is to get cookie header from first response in chain. But with auto redirection I can't do this without `removeAllResponseInterceptors()` which seems to be overhead in this case.

[2018-05-27 02:35] emanguy commented on #320
@immadolf from what I've seen in the project it looks like you can implement the Client interface under the core library and set FuelManager.instance to it for it do do what you want.

I've used the Apache HTTPClient a bit, here's what's been working for me:
[code]
That should build a single thread-safe HTTP client. You'd just need to write your Apache HTTPClient implementation to parse the reques

[2018-05-27 20:13] mobiletoly commented on #206
I am using fuel-coroutines and I am stuck with this code:
[code]

any specific reason why not to expose httpStatusCode in HttpException?

[2018-05-27 23:09] ParkerK commented on #352
It's because you're not passing the `formData` value properly. It's `param` not `parameters` :)

It should be `Fuel.upload(... param= formData)`

[2018-05-27 23:13] ParkerK commented on #333
@ryanm35 have you tried setting custom headers? https://github.com/kittinunf/Fuel/wiki/Quick-Glance-Usage#headers

[2018-05-27 23:15] ParkerK commented on #340
try `responseJson` instead of `responseString` if you're expecting a JSON result

[2018-05-27 23:19] ParkerK commented on #343
From my understanding, I think that means you need to send the values as
`Pair("Cookie", "val1=x,val2=y,val3=z"),` ?

[2018-05-28 14:29] immadolf commented on #320
thks～
Actually,i did some work according to this mind.But it hasn't work now and
i am trying to find the problem.
Evan Rittenhouse <notifications@github.com>于2018年5月27日 周日10:35写道：

[2018-05-31 13:37] kittinunf commented on #351
Ah this is something that we might have overlooked. Your suggestion makes sense to me. Would you mind open a PR for this?

[2018-05-31 13:39] kittinunf commented on #327
I probably need some examples to understand your problem. Can you show us the snippet that exhibits the problem?

[2018-05-31 17:09] kenrube opened #356 "What will happen if deserializing will throw an error?"
@kittinunf I have a question. I look at source code of _Deserializable_ class and see this:
[code]
I understand why you catch **FuelError** (_taskRequest.call()_ throw it in case of error) but what'll happen if error in _deserializable.deserialize(response))_ (let's say json parsing error)? As far as I understand this exception won't wrapped into **FuelError** so result type won't be **Result.Erro

[2018-06-01 00:30] jahirfiquitiva commented on #352
@ParkerK Actually, you're wrong. Check [this](https://github.com/kittinunf/Fuel/blob/master/fuel/src/main/kotlin/com/github/kittinunf/fuel/Fuel.kt#L83)

[2018-06-01 12:36] chaitanya-vanapamala opened #357 "How to get the JSON object response from FuelError object in failure response?"
If user sends a bad request, Im sending json object {"status" : "fail"}, But from error object im unable to get the json object. Please help me.

[2018-06-01 21:42] markGilchrist opened #358 "Coroutine implementation throws uncaught exception instead of FuelError"
**Desired**

As a user of the coroutine library I would like to see any server error, or deserialisation error  returned to me as part of the result object ( `Result<T,FuelError>`).

**Actual**

When a server error is thrown then an uncaught exception is thrown and my app crashes
When a deserialisation error is thrown then an uncaught exception is thrown and my app crashes

I believe the the line

[2018-06-02 09:44] markGilchrist commented on #356
my experience of this is the deserialisation error is caught and returned in the catch block

[2018-06-02 17:09] jahirfiquitiva opened #359 "SSLException"
Hello

I am trying to do API calls but on Android 4.x they fail with this error `javax.net.ssl.SSLException: Connection closed by peer` can you please explain to me what I can do to solve it?

Thanks in advance

[2018-06-03 09:11] Xianyang commented on #277
@jalakoo Thanks Jalakoo. The problem is solved

[2018-06-03 09:11] #277 closed

[2018-06-03 14:42] kenrube commented on #356
In my case deserialization error crashes entire app with similar stacktrace:
[code]
And code:
[code]
[code]
[code]

[2018-06-03 14:57] xinwo opened #360 "how to pass use array parameter in a get request?"
for example,
http://xx.xxx..x?a[]=1&a[]=2
usually means parameter a is an array, having 2 values - 1 and 2.

when i do below
val a = arrayOf(1, 2)
uri.httpGet(listOf("a" to a))

and check the log on server, it turns out something like below
a=%5BLjava.lang.String%3B%4095f9361

does that mean fuel doesn't support array parameter?

[2018-06-03 15:53] medyas commented on #340
already found a solution, i change everything to kotlin and it worked fine.

[2018-06-03 15:53] #340 closed

[2018-06-04 01:27] markusressel commented on #100
@kittinunf Is this on the agenda or do you have no plans to support websockets in Fuel at all?

Great library, using it as much as I can ;)

[2018-06-06 20:55] dany-kun commented on #206
I think the problem is more from coroutines not throwing a FuelError:   https://github.com/kittinunf/Fuel/issues/358
A FuelError would give you the info you need.

[2018-06-07 13:48] InvertedX commented on #352
yeah @jahirfiquitiva is correct . i tried multiple time but nothing works

[2018-06-09 15:29] wdullaer opened #361 "[Android] Run callback on caller / background thread"
Would it be possible to add an option to disable the `runOnUiThread` behaviour?
I have a usecase where I need to fetch some data over HTTP from an IntentService, which runs on a background thread. Most of the logic is in the fuel callback, and that should preferably also run on the background thread.
I'm making do with wrapping stuff in `thread {}`now, but it would be nice to have the option in th

[2018-06-10 10:05] lokielse opened #362 "The response.data is empty when use .responseObject()"
https://github.com/kittinunf/Fuel/blob/4e75b338b7f6c6576b206df91aca5637ac2b0e74/fuel/src/main/kotlin/com/github/kittinunf/fuel/core/Response.kt#L29-L35

It can log the response body by using `response()` or `responseString()`, but not `responseObject()`

`responseObject` will print

[code]

It it a bug? how to print the response body when use `responseObject()`?

[2018-06-10 11:33] #351 closed

[2018-06-10 11:36] kittinunf commented on #361
I think the Callback style was design with the ease-of-use in mind so that there was no configuration support from the beginning.

Can you try the synchronous version instead? If you use the synchronous version, it will just run on the caller thread hence in your use-case, it will be on the bg thread?

[2018-06-10 11:43] kittinunf commented on #362
When you use `responseObject` the response body should be consumed and decoded with the decode library of your choice, can you tell me why you want to see the response data again? You object that was decoded is not done correctly?

[2018-06-10 11:45] kittinunf commented on #345
I would love to see this as an extension of this project, not in this project itself. If you are up for it, feel free to open as the child project of Fuel. Once you are done, I can promote it in the README.md file of this project. 🍺

[2018-06-10 11:45] #345 closed

[2018-06-10 11:46] kittinunf commented on #167
Stale issue as I don't think we have a plan for this.

[2018-06-10 11:46] #167 closed

[2018-06-10 11:52] kittinunf commented on #322
Can you give more info about this? I think it should be fine with the current implementation. I will close this for now but if you think this is an issue still, feel free to come back and give more info.

[2018-06-10 11:52] #322 closed

[2018-06-10 11:54] kittinunf commented on #327
Close as it is stale.

[2018-06-10 11:54] #327 closed

[2018-06-10 11:55] kittinunf commented on #161
I think it should be supported already. Closing this.

[2018-06-10 11:55] #161 closed

[2018-06-10 12:07] lokielse commented on #362
OK, I got it. I just want copy the response json to create a model class. Maybe I should use the cURL debug info.

[2018-06-10 12:08] #362 closed

[2018-06-10 15:11] wdullaer commented on #361
I think the default behaviour is great. It does what you expect it to in 90% of the cases.
The sync option is a good tip. My calls can run on both the UI and a backend thread though, depending on the context.
I suppose wrapping the callback in thread on these cases is not the end of the world.

[2018-06-11 08:49] amorenew opened #363 "Upload Images 400 Error"
I have this web service
Url:   http://menatservice.menatbb.com/MenaServiceCommon.svc/TestUploadImage
Form Data:
[code]

I tried

    val formData = listOf("ListId" to moduleId, "ListType" to moduleType,
               "MenaImage" to listOf{images[0].file.readBytes()})
      return Constants.TestUploadImage.httpUpload(Method.POST, formData)

but I got 400 bad request error while in Postman it is wo

[2018-06-11 13:42] msogrin opened #364 "Jackson response deserialization doesn't work with response interceptor"
If `loggingResponseInterceptor()` is used, then JSON response deserialization by fuel-jackson fails due to response stream being already consumed/read.

[code]

[2018-06-11 14:59] D-A-R commented on #358
Just ran into the same issue.

Changing from the synchronous
get().response(): Triple<request, response, result>
to
get().awaitResponse(): Triple<request, response, result>

We started to see a difference in behaviour in the app, which traced back to this issue that no longer were we getting a result so to speak, but it was now throwing an exception

We tried changing the signature of await too to

[2018-06-11 20:32] markGilchrist commented on #358
@D-A-R you sound like you have got a bit further than I have, If you look at the unit tests in `coroutinesTest.kt`, line 88 you can see that the @lucasvalenteds has written the test, expecting an exception to be throw.

I have looked at the deserialiseable.kt

would something like be a better approach?

I haven't tried it and I would involve enabling coroutines in the main module which the authors

[2018-06-11 21:52] lucasvalenteds commented on #358
Hi @markGilchrist. Thank you for raising the issue. I'm sorry for the late response, I just received the notification after um mentioned me.

So about the problem, have you tried to catch an exception of the serialization/deserialization library?

For example, the test bellow implements a deserializer using Jackson. Since the endpoint `/uuid` expects a class with property `uuid` and the class `Not

[2018-06-11 23:14] georg-jung opened #365 "Coroutine-variant is throwing while blocking equivalent is not"
I'm implementing some kind of custom caching. Because of this 304 is an interesting response for me. When getting the `Triple` from `.response()` I correctly get a `Result`, which is a failure. When using `.awaitResponse()` the continuation is throwing instead. Of course I could try-catch the `FuelError`, but I believe changing Fuels behaviour so that the coroutine-case matches the default case ma

[2018-06-12 00:58] lucasvalenteds commented on #365
Thank your for the feedback, @georg-jung.

So if I understand correctly the API may still provide two options of handling failures. The methods ending with `Result` should supposed to be used with `try-catch` and the others should be handled like the "standard" API. Something like below.

[code]

I've changed the code in a [branch](https://github.com/lucasvalenteds/Fuel/commit/512d86cbbdef955cc73d

[2018-06-12 06:36] markGilchrist commented on #358
@lucasvalenteds very quick response as I only tagged you in yesterday and thank you for taking the time.

I haven't yet tried changing continuation.resumeWithException(it.exception) to continuation.resumeWithException(it) but I will

My question was also would it not be better to have deserialisation errors caught in this manner out of the box? I was expecting that behaviour, however I would say I

[2018-06-12 07:42] D-A-R commented on #365
This is the issue I was referencing in #358

.awaitResponse() does throw whereas .response() does not

There is currently only 1 unit test on .awaitResponse() in CoroutinesTest.kt and it's verifying that when there's a result everything works as expected. If you add the below test, you will see the failure
[code]

[2018-06-12 13:13] lucasvalenteds commented on #358
Could you please check the issue #365 and see if it's what you're suggesting? At this time I'm waiting response of another user about how to handle exceptions.

Since it involves design/consistency of the library some maintainer could help with that. @kittinunf Could you take a look, please?

[2018-06-12 13:47] lucasvalenteds commented on #365
@D-A-R Now I see what you mean there. Thank you for the clarification. So it seems that it's related to the other issue.

[2018-06-14 12:16] congfandi opened #366 "Caused by: com.github.kittinunf.fuel.core.HttpException: HTTP Exception 404 Not Found"
i got error in httppost.. plase help
[code]
this the error
[code]

[2018-06-15 14:06] kmcgill88 commented on #306
Any movement on this? I need my `DELETE` to have a payload.

[2018-06-19 17:09] tteichner commented on #228
I've faced the same problem a few days ago. From my point of view there was a problem with the ide (android studio 3.1.3) and the used kotlin plugin. I could solve it by updating kotlin and the plugin to 1.2.50 and then all used com.android.support* libraries to 27.1.1. In addition i've cleaned my project entirely (fresh clone of repo) after a new build of the application the problem disappeared.

[2018-06-22 13:01] adam-arold commented on #186
@oleksiyp Genius! Thanks!

[2018-06-29 20:11] lucasvalenteds commented on #358
@markGilchrist It's been a while since the last comment. Do you think you can send a PR with the fix?

[2018-06-30 07:43] markGilchrist commented on #358
@lucasvalenteds I will do it asap, I have some questions can you email me mark[dot]s[dot]w[dot]gilchrist[at]gmail[dot]com

[2018-06-30 16:33] raharrison opened #368 "Coroutine API deprecation as of v.0.23.0"
The current version of Fuel relies on Kotlin coroutines 0.22.5, the latest being 0.23.4 as of writing.

0.23.0 brought some quite big changes and Fuel will currently break when using this version.

https://github.com/Kotlin/kotlinx.coroutines/blob/master/CHANGES.md#version-0230

In `Coroutines.kt` we make use of `CancellableContinuation.invokeOnCompletion` which is now deprecated (interestingly on

[2018-06-30 16:37] raharrison commented on #358
Sorry to jump on this issue, but I just opened issue #368 which is about some API changes in the newer version of Kotlin coroutines. If you planning on making a PR for this, it might be good to upgrade and remove the deprecated call at the same time. I'm unsure if this might have some side effects for these fixes so it might save us from doing the work twice.

[2018-06-30 20:41] markGilchrist commented on #368
@raharrison I am working on a PR as you know I am happy to make these changes in the pr

[2018-06-30 20:43] markGilchrist commented on #358
@raharrison  please contact me on slack or email mark[dot]s[dot]w[dot]gilchrist[at]gmail[dot]com

I have started to make some changes and create a pr

https://github.com/kittinunf/Fuel/compare/master...markGilchrist:pass_all_exceptions_to_as_Fuel_error_coroutines

comments and suggestions would be warmly received

[2018-07-01 19:48] vedantroy opened #370 "What is the minimum API level for this library?"

[2018-07-01 21:28] markGilchrist commented on #366
try changing
[code]

to
[code]

[2018-07-01 21:32] markGilchrist commented on #353
I have an open pr which I think will fix this

https://github.com/kittinunf/Fuel/pull/369

all suggestions welcome

[2018-07-02 02:31] kittinunf commented on #368
I think this is a really good idea! Thanks for the PR.

[2018-07-05 20:03] markGilchrist commented on #368
@raharrison  are you happy for me to close this issue following pr #369 ?

[2018-07-05 20:09] raharrison commented on #368
I have been waiting on a new release of the lib so haven't done any testing yet.

@kittinunf Any chance of a version bump?

[2018-07-06 18:23] genevieveBock opened #375 "Automatic redirection on unsafe method POST with 302 response"
Hi,

I send a POST request on an URL that returns a 302 (Found) response, and Fuel automatically follows the redirect and sends a POST request again.
The problem is that the redirect URL sent by the API is not an endpoint on which I should execute a POST again, but one I should send a GET request on to obtain the result of the first POST.
Doing a POST on that URL, like Fuel is doing gives me a 404

[2018-07-06 18:34] markGilchrist commented on #358
this issue is closed

[2018-07-06 18:34] #358 closed

[2018-07-07 06:33] markGilchrist commented on #306
@kittinunf  do you want me to look at this?

[2018-07-07 07:35] kittinunf commented on #368
I've been planning to merge the #373 then releasing the new version. If you are not in a heavy rush, do you think it is reasonable for that to be done? 🙏

[2018-07-07 09:34] raharrison commented on #368
Yeah sure, no rush.

[2018-07-07 17:39] lucasvalenteds commented on #363
Hi @amorenew. The code below should do what you need. Be aware that it depends on `fuel-jackson` module, but you can easily change it to `fuel-gson` or even use `responseString` instead of `responseObject` and throw away `ApiResponse` and `ApiResponseDeserializer`.

[code]

[2018-07-07 18:16] lucasvalenteds commented on #364
@msogrin Could share the version of Fuel that this is happening, please? A test case or code sample that reproduces the exception may be useful too. The test below should reproduces what I understood of your report, but it's passing with code from commit e7095ee.

[code]

[2018-07-07 18:37] lucasvalenteds commented on #370
@vedantroy The [`build.gradle`](https://github.com/kittinunf/Fuel/blob/e7095ee5780c40cf5426c407fae1ef9289640e18/fuel-android/build.gradle) from `fuel-android` module specifies `minSdkVersion` as 14.

[2018-07-08 09:47] #363 closed

[2018-07-08 11:19] kittinunf commented on #361
Ok closing this issue then

[2018-07-08 11:19] #361 closed

[2018-07-08 13:12] markGilchrist commented on #366
@congfandi  did the above solve your problem, can we close this issue?

[2018-07-08 13:13] congfandi commented on #366
@markGilchrist  ty i'll try tomorrow sir

[2018-07-08 17:47] jahirfiquitiva commented on #359
Simply test on a pre-lollipop device, it should cause the issue.

[2018-07-08 22:29] congfandi commented on #366
its working but i cant get messagebody from API when return code is higher then 200.  please fix this

[2018-07-08 23:31] SleeplessByte opened #379 "API Request: graceful handling of 304"
Linking the old ticket #191,

When using `Fuel` and setting `If-None-Match` manually, when the server returns a 304, currently an `HttpException` is raised, whereas this is actually expected. The happy-path shouldn't be "exceptional". When a 204 (No Content) is returned, Fuel doesn't complain unless you try to deserialize.

As it stands, by default `redirectResponseInterceptor` will not match the

[2018-07-09 08:18] msogrin commented on #364
@lucasvalenteds you don't actually use the code from `fuel-jackson` module, so your `IpDeserializer` is one of the possible work-arounds that makes it work (by forcing deserialization from String).

Use of provided `jacksonDeserializerOf` object from https://github.com/kittinunf/Fuel/blob/master/fuel-jackson/src/main/kotlin/com/github/kittinunf/fuel/jackson/FuelJackson.kt#L28 (if you call it via o

[2018-07-09 18:59] raharrison commented on #368
Closed by #369

[2018-07-09 18:59] #368 closed

[2018-07-09 19:51] markGilchrist commented on #304
@dazwin  @vcartera81  I have an open pr to fix this https://github.com/kittinunf/Fuel/pull/382

[2018-07-09 22:01] congfandi commented on #366
i already do that, but i receive error message from , not body message from API.

[2018-07-10 01:07] #370 closed

[2018-07-10 06:58] lucasvalenteds commented on #364
Thank you for the clarification, @msogrin. I understood it now. I'll try to work on this soon, but feel free to send a PR if you have a solution. :+1:

[2018-07-10 20:30] genevieveBock commented on #375
Thank you for your comment.
I tested your patch and Fuel still follows the redirect with a second POST request. (It does not fix the redirect.)

[2018-07-11 11:19] bosskanaka opened #383 "About Line Notify (Notification)"
plese help me T__T
I got Promblem i want to know how to Post data with Fuel (kotlin) to match Line Notify Request

https://notify-bot.line.me/doc/en/
POST : https://notify-api.line.me/api/notify
![13](https://user-images.githubusercontent.com/35513325/42568186-7a498714-8536-11e8-9e53-b5cf90cb9aa7.PNG)
![14](https://user-images.githubusercontent.com/35513325/42568187-7a89cc5c-8536-11e8-9370-222e928

[2018-07-12 22:32] markGilchrist commented on #366
if there is an error then there may not be a body?
instead of doing result.get() why don't you use the response object? which you can access inside the scope of the lambda?

[2018-07-12 22:32] markGilchrist commented on #365
@georg-jung  can we close this?

[2018-07-12 22:34] markGilchrist commented on #357
can you share the code you are using?

[2018-07-13 01:08] kmcgill88 commented on #306
Well I shaped up and changed my implementation to not send a body in a `DELETE` per the RFC.

[2018-07-13 07:44] athasamid commented on #301
anyone solve this proble, or there is patch or solution for this issue?

[2018-07-13 18:08] lucasvalenteds commented on #357
The `Response` object has a `data` property which represents the response body. It can be decoded using `fuel-jackson`, `fuel-gson` or any parser library you want.

If I understood the issue correctly, the API returns status code 400 and a JSON object with the field `status` in the body. If that is the case, the code below should work.

[code]

[2018-07-15 01:34] avaitla opened #386 "Fuel Coroutines Failing on Android with NetworkOnMainThreadException after upgrade"
Hello Team,

I have encountered issues trying to upgrade my fuel version in my Android App, and would like to see if this is related to the fuel/coroutines package or to my own incorrect usage of coroutines within android.

The app worked great but now breaks with an android.os.NetworkOnMainThreadException when I make the following changes:

    1. Fuel Version Bump: v1.13.0 -> v1.14.0
    2. Coro

[2018-07-15 01:39] avaitla commented on #386
I have noticed that replacing the old code here:

    fun makeRequest() = launch(UI) {
        val result = getData()

        when (result) {
            is Result.Failure -> {
                val ex = result.getException()
                Toast.makeText(this@MainActivity, "Failure: $ex", Toast.LENGTH_LONG).show()
            }

            is Result.Success -> {
                val data = result

[2018-07-15 06:34] markGilchrist commented on #386
@avaitla  thank you for taking the time to raise such a well written issue, I am looking at this now

[2018-07-15 14:45] avaitla commented on #386
Thank you @markGilchrist. This change will make our async code much cleaner to write as the caller will not need to switch between two async pools.

[2018-07-15 19:40] raharrison commented on #386
I don't think this is the way to go. Even though it might seem like a bit more code, explicitly defining the pool and then switching to the UI thread follows the overall coroutine philosophy - a.k.a concurrency is explicit

Point being that the library is now enforcing the usage of CommonPool to perform async operations, this isn't something that should be abstracted away as from a usage perspecti

[2018-07-15 21:17] markGilchrist commented on #386
@raharrison I hear what you say and I think that you have raised a very good point

would you think that it would be suitable to add default arguments to all the coroutine functions such that the consumer of the library can specify which pool the function call is made on?

or do you feel that everyone should consume the code as per you comment above.

I would be happy to update my pr with an extra